@model IEnumerable<App_Data.ViewModels.GioHangChiTiet.GioHangChiTietDTO>
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thongTinGH = ViewData["ThongTinGH"] as List<App_Data.Models.ThongTinGiaoHang>; 
    var VoucherFreeShip = ViewData["VoucherFreeShip"] as List<App_Data.ViewModels.VoucherNguoiDung.VoucherNguoiDungDTO>;
    var voucher = ViewData["Voucher"] as List<App_Data.ViewModels.VoucherNguoiDung.VoucherNguoiDungDTO>;
}
@if (ViewData["QuantityErrorMessages"] != null)
{
    <script>
        var problemCountMessage = '@TempData["problemCount"]';
        var errorMessages = @Html.Raw(Json.Serialize(ViewData["QuantityErrorMessages"]));
        Swal.fire({
            title: "Sản phẩm lỗi",
            icon: 'error',
            html: errorMessages.join('<br/>'),
        })
    </script>
}
<link href="~/css/checkout.css" rel="stylesheet" />
<link href="~/css/truck.css" rel="stylesheet" />
<div class="u-s-p-b-60" style="margin-top:20px">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="checkout-msg-group">
                        <div class="msg">

                            <span class="msg__text">
                                Bạn có Voucher?

                                <a class="gl-link" data-modal="modal" data-modal-id="#voucher-modal" @* href="#have-coupon" *@ data-toggle="collapse">Ấn vào đây để sử dụng Voucher</a>
                            </span>
                            @* <div class="collapse" id="have-coupon" data-parent="#checkout-msg-group">
                                <div class="c-f u-s-m-b-16">

                                    <form class="c-f__form" asp-action="GetVoucherByMa" asp-controller="Voucher">
                                        <div class="u-s-m-b-16">
                                            <div class="u-s-m-b-15">

                                                <label for="coupon"></label>

                                                <input class="input-text input-text--primary-style" type="text" id="voucherinput" placeholder="Nhập phiếu giảm giá của bạn ở đây" name="voucher">
                                            <label id="textvoucher" style="color:red"></label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> *@
                            <div class="modal fade" id="voucher-modal">
                                <div class="modal-dialog modal-dialog-centered justify-content-center" style="min-width:550px">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="checkout-modal2">
                                                <div class="u-s-m-b-30">
                                                    <div class="dash-l-r">
                                                        <h1 class="gl-modal-h1">Chọn Voucher</h1>
                                                    </div>
                                                </div>
                                                <div class="c-f u-s-m-b-16">

                                                    <form class="c-f__form" asp-action="GetVoucherByMa" asp-controller="Voucher">
                                                        <div class="u-s-m-b-16">
                                                            <div class="u-s-m-b-15">

                                                                <label for="coupon"></label>

                                                                <input class="input-text input-text--primary-style" type="text" id="voucherinput" placeholder="Nhập phiếu giảm giá của bạn ở đây" name="voucher" style="width:200%">
                                                                <label id="textvoucher" style="color:red"></label>
                                                            </div>
                                                            <div class="u-s-m-b-15">

                                                                <button class="btn btn--e-transparent-brand-b-2" type="button" id="button-coupon" @* onclick="applyVoucher()" *@>SỬ DỤNG</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <form class="checkout-modal2__form" asp-action="GetVoucherByMa" asp-controller="Voucher">
                                                    <tbody>
                                                        @if (VoucherFreeShip != null)
                                                        {
                                                            <span class="gl-modal-h1">Voucher freeship</span>
                                                            @foreach (var item in VoucherFreeShip.Take(1))
                                                            {
                                                                <tr>
                                                                    <div class="m-order__get" style="padding:12px;margin-bottom:15px">
                                                                        <div class="manage-o__description">
                                                                            <div class="description__container">
                                                                                <div class="description__img-wrap">
                                                                                    <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                                                                </div>
                                                                                <div class="description-title">
                                                                                    Mã: <u style="color:red">@item.MaVoucher </u>
                                                                                    <p>
                                                                                        Giảm     @string.Format("{0:N0}đ", item.MucUuDai)
                                                                                    </p>
                                                                                    <p width:40px>Đơn tối thiểu: @string.Format("{0:N0}đ", item.DieuKien)</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="description__info-wrap">
                                                                                <div class="body_copy">
                                                                                    <!--====== Radio Box ======-->
                                                                                    <div class="radio-box" style="margin-bottom: 15px;">
                                                                                        <input type="radio" name="voucher" data-id="@item.IdVouCher" value="@item.IdVouCher">
                                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                                            <label class="radio-box__label" for="address-1"></label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </tr>
                                                                @if (VoucherFreeShip.Count > 1)
                                                                {
                                                                    <!-- Dấu mũi tên xuống -->
                                                                    <div class="arrow-down-freeship" onclick="showfreeshipVoucher()"></div>
                                                                }
                                                                <!-- Hidden Vouchers -->
                                                                <tr>
                                                                    <div class="hidden-voucher-freeship">
                                                                        @foreach (var hiddenvc in VoucherFreeShip.Skip(1))
                                                                        {
                                                                            <div class="m-order__get" style="padding:12px;margin-bottom:15px">
                                                                                <div class="manage-o__description">
                                                                                    <div class="description__container">
                                                                                        <div class="description__img-wrap">
                                                                                            <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                                                                        </div>
                                                                                        <div class="description-title">
                                                                                            Mã: <u style="color:red">@hiddenvc.MaVoucher </u>
                                                                                            <p>
                                                                                                Giảm     @string.Format("{0:N0}đ", hiddenvc.MucUuDai)
                                                                                            </p>
                                                                                            <p width:40px>Đơn tối thiểu: @string.Format("{0:N0}đ", hiddenvc.DieuKien)</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="description__info-wrap">
                                                                                        <div class="body_copy">
                                                                                            <!--====== Radio Box ======-->
                                                                                            <div class="radio-box" style="margin-bottom: 15px;">
                                                                                                <input type="radio" name="voucher" data-id="@hiddenvc.IdVouCher" value="@hiddenvc.IdVouCher">
                                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                                    <label class="radio-box__label" for="address-1"></label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </tr>
                                                                @if (VoucherFreeShip.Count > 1)
                                                                {
                                                                    <!-- Dấu mũi tên lên -->
                                                                    <div class="arrow-up-freeship" style="display:none" onclick="hiddenfreeshipVoucher()"></div>
                                                                }
                                                            }


                                                            <span class="gl-modal-h1">Voucher Giảm giá</span>
                                                            @foreach (var item in voucher.Take(1))
                                                            {
                                                                <tr>
                                                                    <div class="m-order__get" style="padding:12px;margin-bottom:15px">
                                                                        <div class="manage-o__description">
                                                                            <div class="description__container">
                                                                                <div class="description__img-wrap">
                                                                                    <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                                                                </div>
                                                                                <div class="description-title">
                                                                                    Mã: <u style="color:red">@item.MaVoucher </u>
                                                                                    <p>
                                                                                        Giảm
                                                                                        @if (item.LoaiHinhUuDai == 1)
                                                                                        {
                                                                                            <span> @item.MucUuDai %</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            @string.Format("{0:N0}đ", item.MucUuDai)
                                                                                        }
                                                                                    </p>
                                                                                    <p width:40px>Đơn tối thiểu: @string.Format("{0:N0}đ", item.DieuKien)</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="description__info-wrap">
                                                                                <div class="body_copy">
                                                                                    <!--====== Radio Box ======-->
                                                                                    <div class="radio-box" style="margin-bottom: 15px;">
                                                                                        <input type="radio" name="voucher" data-id="@item.IdVouCher" value="@item.IdVouCher">
                                                                                        <div class="radio-box__state radio-box__state--primary">
                                                                                            <label class="radio-box__label" for="address-1"></label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </tr>
                                                                @if (voucher.Count > 1)
                                                                {
                                                                    <!-- Dấu mũi tên xuống -->
                                                                    <div class="arrow-down-btn" onclick="showHiddenVoucher()"></div>
                                                                }
                                                                <tr>
                                                                    <div class="hidden-voucher-row">
                                                                        @foreach (var hiddenvc in voucher.Skip(1))
                                                                        {
                                                                            <div class="m-order__get" style="padding:12px;margin-bottom:15px">
                                                                                <div class="manage-o__description">
                                                                                    <div class="description__container">
                                                                                        <div class="description__img-wrap">
                                                                                            <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                                                                        </div>
                                                                                        <div class="description-title">
                                                                                            Mã: <u style="color:red">@hiddenvc.MaVoucher </u>
                                                                                            <p>
                                                                                                Giảm
                                                                                                @if (hiddenvc.LoaiHinhUuDai == 1)
                                                                                                {
                                                                                                    <span> @hiddenvc.MucUuDai %</span>
                                                                                                }
                                                                                                else
                                                                                                {@string.Format("{0:N0}đ", hiddenvc.MucUuDai)
                                                                                                }
                                                                                            </p>
                                                                                            <p width:40px>Đơn tối thiểu: @string.Format("{0:N0}đ", hiddenvc.DieuKien)</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="description__info-wrap">
                                                                                        <div class="body_copy">
                                                                                            <!--====== Radio Box ======-->
                                                                                            <div class="radio-box" style="margin-bottom: 15px;">
                                                                                                <input type="radio" name="voucher" data-id="@hiddenvc.IdVouCher" value="@hiddenvc.IdVouCher">
                                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                                    <label class="radio-box__label" for="address-1"></label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </tr>
                                                                @if (voucher.Count > 1)
                                                                {
                                                                    <!-- Dấu mũi tên lên -->
                                                                    <div class="arrow-up-btn" style="display:none;margin-bottom:15px" onclick="hiddenHiddenVoucher()"></div>
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                    <div class="gl-modal-btn-group">
                                                        <button class="btn btn--e-brand-b-2" id="VoucherUserUse" type="submit">Đồng ý</button>
                                                        <button class="btn btn--e-grey-b-2 tatmodal" type="button" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <button class="btn dismiss-button fas fa-times tatmodal" type="button" data-dismiss="modal"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->
<!--====== Section 3 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="checkout-f">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="checkout-f__h1">THÔNG TIN GIAO HÀNG</h1>
                        <form class="checkout-f__delivery" id="deliveryForm" asp-action="DataBill" asp-controller="HoaDon">
                            <div class="u-s-m-b-30">
                                <div class="u-s-m-b-15">
                                    <!--====== Check Box ======-->
                                    <div class="check-box">
                                            <input type="checkbox" id="get-address">
                                        <div class="check-box__state check-box__state--primary">
                                            @if (thongTinGH.Count>0)
                                            {
                                                <label class="check-box__label" for="get-address">Sử dụng địa chỉ mặc định theo tài khoản</label>
                                            }
                                        </div>
                                    </div>
                                    <!--====== End - Check Box ======-->
                                </div>

                                <!--====== First Name, Last Name ======-->
                                <div class="gl-inline">
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="billing-fname">TÊN NGƯỜI NHẬN *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="billing-fname" data-bill="" name="TenNguoiNhan" required placeholder="Tên người nhận">
                                    </div>
                                </div>
                                <!--====== End - First Name, Last Name ======-->
                                <!--====== E-MAIL ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-email">EMAIL *</label>

                                    <input class="input-text input-text--primary-style" type="email" id="billing-email" data-bill="" name="Email" required placeholder="Địa chỉ email">
                                </div>
                                <!--====== End - E-MAIL ======-->
                                <!--====== PHONE ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-phone">SỐ ĐIỆN THOẠI *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-phone" data-bill="" name="SDT" min="10" max="10" required placeholder="Số điện thoại">
                                </div>
                                <!--====== End - PHONE ======-->
                                <!--====== Street Address ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-street">ĐỊA CHỈ *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-street" placeholder="Số nhà,số đường" data-bill="" name="DiaChi" required>
                                </div>

                                <div id="DefaultDropdown" style="display: none;">
                                    <div class="u-s-m-b-15">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="city">THÀNH PHỐ *</label><select class="select-box select-box--primary-style" id="city1" required>
                                            <option selected>Chọn thành phố</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="district">HUYỆN *</label><select class="select-box select-box--primary-style" id="district1" required>
                                            <option selected>Chọn huyện</option>
                                        </select>
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="wards">PHƯỜNG/XÃ *</label><select class="select-box select-box--primary-style" id="wards1" required>
                                            <option selected>Chọn phường/xã</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                </div>

                                <div id="InputDropdown">
                                    <div class="u-s-m-b-15">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="city">THÀNH PHỐ *</label><select class="select-box select-box--primary-style" id="city" required>
                                            <option selected>Chọn thành phố</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="district">HUYỆN *</label><select class="select-box select-box--primary-style" id="district" required>
                                            <option selected>Chọn huyện</option>
                                        </select>
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <!--====== Select Box ======-->

                                        <label class="gl-label" for="wards">PHƯỜNG/XÃ *</label><select class="select-box select-box--primary-style" id="wards" required>
                                            <option selected>Chọn phường/xã</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                </div>
                                <div class="u-s-m-b-10">

                                    <!--====== Check Box ======-->
                                    <div class="check-box">

                                        <input type="checkbox" id="make-default-address" data-bill="">
                                        <div class="check-box__state check-box__state--primary">

                                            <label class="check-box__label" for="make-default-address">Chọn làm địa chỉ mặc định</label>
                                        </div>
                                    </div>
                                    <!--====== End - Check Box ======-->
                                </div>
                                @* <div class="u-s-m-b-10">

                                    <a class="gl-link" href="#create-account" data-toggle="collapse">Tạo tài khoản mới?</a>
                                </div> *@
                                <div class="collapse u-s-m-b-15" id="create-account">

                                    <span class="gl-text u-s-m-b-15">Tạo tài khoản mới vui lòng nhập thông tin bên dưới. Nếu bạn đã có tài khoản vui lòng đăng nhập ở góc trên.</span>
                                    <div>

                                        <label class="gl-label" for="reg-password">Mật khẩu *</label>

                                        <input class="input-text input-text--primary-style" type="text" data-bill id="reg-password">
                                    </div>
                                </div>
                                <div class="u-s-m-b-10">

                                    <label class="gl-label" for="order-note">GHI CHÚ</label><textarea class="text-area text-area--primary-style" id="order-note"></textarea>
                                </div>
                                @* <div>

                                    <button class="btn btn--e-transparent-brand-b-2" id="luu" type="submit">LƯU</button>
                                </div> *@
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="checkout-f__h1">SẢN PHẨM</h1>

                        <!--====== Order Summary ======-->
                        <div class="o-summary">
                            <form class="checkout-f__payment" id="paymentForm" asp-action="ThanhToan" asp-controller="HoaDon">
                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__item-wrap gl-scroll">
                                        @foreach (var item in Model)
                                        {
                                            <div class="o-card">
                                                <div class="o-card__flex">
                                                    <div class="o-card__img-wrap">

                                                        <img class="u-img-fluid" src="/AnhSanPham/@item.LinkAnh[0]" alt="">
                                                    </div>
                                                    <div class="o-card__info-wrap">

                                                        <span class="o-card__name">

                                                            <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = item.IdSanPhamCT })">@item.TenThuongHieu @item.TenSanPham</a>
                                                        </span>
                                                        <span class="o-card__quantity">Size: @item.TenKichCo Màu: @item.TenMauSac</span>
                                                        <span class="o-card__quantity">Số lượng x @item.SoLuong</span>

                                                        <span class="o-card__price">
                                                            @if (item.GiaBan != item.GiaGoc)
                                                            {
                                                                <del style="color:gray"> @string.Format("{0:N0}đ", item.GiaGoc)</del>  @string.Format("{0:N0}đ", item.GiaBan)
                                                            }
                                                            else
                                                            {
                                                                @string.Format("{0:N0}đ", item.GiaBan)
                                                            }
                                                        </span>
                                                    </div>
                                                </div>

                                                <a class="o-card__del far fa-trash-alt" href="@Url.Action("DeleteCartCheckOut", "GioHangChiTiets", new { id = item.IdGioHangChiTiet })"></a>
                                            </div>
                                        }


                                    </div>
                                </div>
                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__box">
                                        <h1 class="checkout-f__h1">ĐỊA CHỈ GIAO HÀNG</h1>
                                        <div class="ship-b">

                                            <span class="ship-b__text">Giao tới:</span>
                                            <div class="ship-b__box u-s-m-b-10">
                                                <p class="ship-b__p" id="thongtin"></p>
                                                <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal" data-modal-id="#edit-ship-address">Sửa</a>
                                            </div>
                                            @* <div class="ship-b__box">

                                            <span class="ship-b__text">Bill to default billing address</span>

                                            <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal" data-modal-id="#edit-ship-address">Edit</a>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                                <div class="o-summary__section u-s-m-b-30">
                                    <div class="o-summary__box">
                                        <table class="o-summary__table">
                                            <tbody>
                                                <tr>
                                                    <td>PHÍ SHIP</td>
                                                    <td id="phiship">0đ</td>
                                                    <input hidden name="TienShip" />
                                                </tr>
                                                <tr>
                                                    <td>TIỀN GIẢM</td>
                                                    <td id="TienGiam">0đ</td>
                                                    <input hidden name="TienGiam"/>
                                                </tr>
                                                <tr>
                                                    <td>TẠM TÍNH</td>
                                                    <td id="tamtinh">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuong * x.GiaBan))</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>TỔNG TIỀN</td>
                                                    <td id="tongtien">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuong * x.GiaBan))</td>
                                                    <input hidden name="TongTien"/>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <input hidden name="MoTa" />
                                        <input hidden name="IdThongTinGH" />
                                    </div>
                                </div>
                                <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">PHƯƠNG THỨC THANH TOÁN</h1>
                                    
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" value="COD" id="cash-on-delivery" name="Payment">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="cash-on-delivery">COD</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->

                                            <span class="gl-text u-s-m-t-6">Thanh toán bằng tiền mặt khi giao hàng.</span>
                                        </div>
                                        @* <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" value="Momo" id="direct-bank-transfer" name="Payment">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="direct-bank-transfer">Momo</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->

                                            <span class="gl-text u-s-m-t-6">Khi bạn nhấp vào "Đặt hàng" bên dưới, chúng tôi sẽ chuyển hướng bạn đến trang web của Momo để thiết lập thông tin thanh toán của bạn.</span>
                                        </div> *@
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" value="VnPay" id="direct-bank-transfer" name="Payment">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="direct-bank-transfer">VnPay</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->

                                            <span class="gl-text u-s-m-t-6">Khi bạn nhấp vào "Đặt hàng" bên dưới, chúng tôi sẽ chuyển hướng bạn đến trang web của VnPay để thiết lập thông tin thanh toán của bạn.</span>
                                        </div>
                                        <div class="u-s-m-b-15">

                                            <!--====== Check Box ======-->
                                            <div class="check-box">

                                                <input type="checkbox" id="term-and-condition" required>
                                                <div class="check-box__state check-box__state--primary">

                                                    <label class="check-box__label" for="term-and-condition">Tôi Đồng ý với</label>
                                                </div>
                                            </div>
                                            <!--====== End - Check Box ======-->

                                            <a class="gl-link">Điều khoản.</a>
                                        </div>
                                        <input hidden name="LoaiThanhToan" />
                                        <input hidden name="IdVoucher" />
                                        <input hidden name="NgayGiaoDuKien" />
                                            <div>
                                            <button id="placeOrderButton" class="btn btn--e-brand-b-2" type="submit">ĐẶT HÀNG</button>
                                            </div>
                                    
                                </div>
                            </div>
                            </form>
                        </div>
                        <!--====== End - Order Summary ======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
    <!--====== Shipping Address Add Modal ======-->
    <div class="modal fade" id="edit-ship-address">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="checkout-modal2">
                        <div class="u-s-m-b-30">
                            <div class="dash-l-r">
                                <h1 class="gl-modal-h1">Địa chỉ giao hàng</h1>
                            </div>
                        </div>
                        <form class="checkout-modal2__form diachinguoidung">
                            <div class="dash__table-2-wrap u-s-m-b-30 gl-scroll">
                                <table class="dash__table-2">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên người nhận</th>
                                            <th>SĐT</th>
                                            <th>Địa chỉ</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (thongTinGH==null)
                                        {
                                            <tr>
                                                <td>

                                                    <!--====== Radio Box ======-->
                                                    <div class="radio-box">

                                                        <input type="radio" id="address-1">
                                                        <div class="radio-box__state radio-box__state--primary">

                                                            <label class="radio-box__label" for="address-1"></label>
                                                        </div>
                                                    </div>
                                                    <!--====== End - Radio Box ======-->
                                                </td>
                                                <td>
                                                    <div class="gl-text">Default Shipping Address</div>
                                                    <div class="gl-text">Default Billing Address</div>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in thongTinGH)
                                            {
                                                <tr>
                                                    <td>

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="@item.IdThongTinGH" name="default-address" data-trangthai="@item.TrangThai" @(item.TrangThai == 0 ? "checked" : "")>
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="address-1"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                    </td>
                                                    <td id="ten">@item.TenNguoiNhan</td>
                                                    <td id="sdt">@item.SDT</td>
                                                    <td id="diachi">@item.DiaChi</td>
                                                    <td>
                                                        @if (item.TrangThai==0)
                                                        {
                                                            <div class="gl-text" style="color:#ff4500;font-weight:600">Địa chỉ giao hàng mặc định</div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="gl-modal-btn-group">
                                <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">ĐÓNG</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Shipping Address Add Modal ======-->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
@* <script src="~/js/truck.js"></script> *@
@section Scripts{
    <!--====== lấy địa chỉ từ modal địa chỉ ======-->
    <script>
        var citydb = "";
        var districtdb = "";
        var wardsdb = "";
        var selectedId = "";
        document.addEventListener("DOMContentLoaded", function () {
            var radioButtons = document.querySelectorAll('input[name="default-address"]');
            var form = document.querySelector('.diachinguoidung');
            var thongtinElement = document.getElementById('thongtin');
            var editShipAddressModal = $('#edit-ship-address');

            // var savedAddressId = localStorage.getItem('selectedAddressId');
            // if (savedAddressId) {
            //     var savedRadioButton = document.getElementById(savedAddressId);
            //     if (savedRadioButton) {
            //         savedRadioButton.checked = true;
            //         selectedId = localStorage.getItem('selectedAddressId');
            //         updateThongTin(savedRadioButton);
            //     }
            // } else {

            // Kiểm tra xem thongTinGH có khác null không
            if (radioButtons.length > 0) {
                var selectedAddress = document.querySelector('input[name="default-address"][data-trangthai="0"]');
                selectedAddress.checked = true;
                selectedId = selectedAddress.id;
                updateThongTin(selectedAddress);

            }

             // }

            var inputs = document.querySelectorAll('input[name="default-address"]');
            inputs.forEach(function (input) {
                input.addEventListener('change', function (event) {
                    var selectedAddress = document.querySelector('input[name="default-address"]:checked');
                    if (selectedAddress) {
                        localStorage.setItem('selectedAddressId', selectedAddress.id);
                        selectedId = selectedAddress.id;
                        updateThongTin(selectedAddress);
                        toast({
                            title: "Đổi địa chỉ thành công!",
                            type: "success",
                            duration: 2000
                        });
                    } else {
                        alert("Vui lòng chọn một địa chỉ trước khi lưu.");
                    }
                });
            });

            

            function updateThongTin(selectedAddress) {
                var selectedRow = selectedAddress.closest('tr');
                var tenNguoiNhan = selectedRow.querySelector('#ten').innerText;
                var sdt = selectedRow.querySelector('#sdt').innerText;
                var diaChi = selectedRow.querySelector('#diachi').innerText;
                var cacThanhPhan = diaChi.split(',');
                // Đảo ngược thứ tự của các thành phần
                var diaChiDaoNguoc = cacThanhPhan.reverse().join(',');
                var thongtin = `${tenNguoiNhan}<br>${sdt}<br>${diaChi}`;
                $('#thongtin').html(thongtin);
                citydb = diaChiDaoNguoc.split(',')[0].trim();
                districtdb = diaChiDaoNguoc.split(',')[1].trim();
                wardsdb = diaChiDaoNguoc.split(',')[2].trim();
                // Xóa tất cả các option hiện tại
                $('#city1').empty();
                $('#district1').empty();
                $('#wards1').empty();

                // Thêm giá trị mới
                $('#city1').append($('<option>').text(citydb).prop('selected', true));
                $('#district1').append($('<option>').text(districtdb).prop('selected', true));
                $('#wards1').append($('<option>').text(wardsdb).prop('selected', true));
                // Trigger sự kiện change để đảm bảo các sự kiện liên quan được kích hoạt
                if ($('#DefaultDropdown').is(':visible')) {
                    $('#city1').trigger('change');
                    $('#district1').trigger('change');
                    $('#wards1').trigger('change');
                }
                // $('#DefaultDropdown').hide();
                // $('#InputDropdown').show();
                //$('#phiship').text("0đ");
                //tachDiaChi()
            }

            // function tachDiaChi() {
            //     var diaChiDuocChon = $('input[name="default-address"]:checked').closest('tr').find('#diachi').text().trim();
            //     var mangDiaChi = diaChiDuocChon.split(',');

            //     if (mangDiaChi.length >= 4) {
            //         citydb = mangDiaChi[3].trim();
            //         districtdb = mangDiaChi[2].trim();
            //         wardsdb = mangDiaChi[1].trim();
            //     } else {
            //         alert('Địa chỉ không hợp lệ.');
            //     }
            // }
        });

    </script>

    <!--====== Lấy ra địa chỉ ======-->
    <script>
        var isCalculatingShippingFee = false;
        var tongtienSanPham = parseInt(document.getElementById("tamtinh").innerText.replace("đ", "").replace(/\,/g, "").replace(/\./g, "").trim());
        var totalAmountElement = document.getElementById("tongtien");
        var MucUuDai = "";
        var phiship = 0;
        var loaiuudai = "";
        var tongTienSauGiamGia = 0;
        var isDefaultAddress = true;
        var selectedCityID = null;
        var selectedDistrictID = null;
        var selectedWardCode = null;
        let hasFunctionRun = false;
        var useDefaultAddress = "";
        $(document).ready(function () {
            useInputAddressScript();
            $('#get-address').on('change', function () {
                useDefaultAddress = $(this).prop('checked');
                $('#phiship').text('0đ');
                phiship = 0;
                // defaultAddressCheckbox.disabled = false;
                if (MucUuDai !== null && MucUuDai !== "") {
                    totalAmountElement.innerText = tongTienSauGiamGia.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
                    totalAmountElement.value = tongTienSauGiamGia.toString();
                } else {
                    totalAmountElement.innerText = tongtienSanPham.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
                    totalAmountElement.value = tongtienSanPham.toString();
                }
                if (useDefaultAddress) {
                    phiship = 0;
                    useDefaultAddressScript();
                } else {
                    phiship = 0;
                    useInputAddressScript();
                }
            });
            $('#city1').on('change', function () {
                if ($(this).text() === citydb) {
                    useDefaultAddressScript();
                }
            });
            function useDefaultAddressScript() {
                $('#DefaultDropdown').show();
                $('#InputDropdown').hide();
                const apiUrlCity = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
                const apiUrlDistrict = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
                const apiUrlWard = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';
                const apiUrlShippingFee = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                const shop_id = 705899;

                axios.get(apiUrlCity, {
                    headers: {
                        'Token': token
                    }
                }).then(response => {
                    $.each(response.data.data, function (index, item) {
                        if (citydb === item.ProvinceName) {
                            selectedCityID = item.ProvinceID;
                            return false;
                        }
                    });

                    if (selectedCityID !== null) {
                        $('#city1').append($('<option>').val(selectedCityID).text(citydb).attr('hidden', 'hidden'));
                        $('#city1').val(selectedCityID).trigger('change');

                        axios.get(apiUrlDistrict, {
                            headers: {
                                'Token': token
                            },
                            params: {
                                province_id: selectedCityID
                            }
                        }).then(response => {
                            $.each(response.data.data, function (index, item) {
                                if (districtdb === item.DistrictName) {
                                    selectedDistrictID = item.DistrictID;
                                    return false;
                                }
                            });

                            if (selectedDistrictID !== null) {
                                $('#district1').append($('<option>').val(selectedDistrictID).text(districtdb).attr('hidden', 'hidden'));
                                $('#district1').val(selectedDistrictID).trigger('change');

                                axios.get(apiUrlWard, {
                                    headers: {
                                        'Token': token
                                    },
                                    params: {
                                        district_id: selectedDistrictID
                                    }
                                }).then(response => {
                                    $.each(response.data.data, function (index, item) {
                                        if (wardsdb === item.WardName) {
                                            selectedWardCode = item.WardCode;
                                            return false;
                                        }
                                    });

                                    if (selectedWardCode !== null) {
                                        // Xử lý khi có thông tin phường/xã

                                        $('#wards1').append($('<option>').val(selectedWardCode).text(wardsdb).attr('hidden', 'hidden'));
                                        $('#wards1').val(selectedWardCode).trigger('change');

                                        if (!isCalculatingShippingFee) {
                                            isDefaultAddress = true;

                                            if ($('#wards1').val() != null) {
                                                isCalculatingShippingFee = true;
                                                calculateShippingFee();
                                            }
                                            // Các xử lý khác có thể thêm ở đây
                                        }
                                    } else {
                                        console.error('Không tìm thấy Mã phường/xã.');
                                    }
                                }).catch(error => {
                                    console.error(error);
                                });
                            } else {
                                console.error('Không tìm thấy ID của huyện.');
                            }
                        }).catch(error => {
                            console.error('lỗi.');
                        });
                    } else {
                        console.error('Không tìm thấy ID của thành phố.');
                    }
                }).catch(error => {
                    console.error(error);
                });

                $('#wards1').on('change', function () {
                   if ($('#wards1').val() != null && phiship == null) {
                      isCalculatingShippingFee = true;
                      calculateShippingFee();
                      isCalculatingShippingFee = false;
                   }
                });
            }

            function useInputAddressScript() {
                $('#DefaultDropdown').hide();
                $('#InputDropdown').show();
                $(document).ready(function () {
                    const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
                    const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';

                    axios.get(apiUrl, {
                        headers: {
                            'Token': token
                        }
                    })
                        .then(response => {
                            var selectElement = $('#city');
                            selectElement.empty();

                            selectElement.append($('<option>').val('').text('Chọn thành phố'));

                            $.each(response.data.data, function (index, item) {
                                selectElement.append($('<option>').val(item.ProvinceID).text(item.ProvinceName));
                            });

                            selectElement.val(selectElement.val()).trigger('change');
                        })
                        .catch(error => {
                            console.error(error);
                        });
                });

                $(document).ready(function () {
                    $('#city').on('change', function () {
                        if ($('#city').val() === null) {
                            var selectElement = $('#district');
                            selectElement.empty();
                            selectElement.val('').trigger('change');
                            selectElement.append($('<option>').val('').text('Chọn huyện'));
                        }
                        const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
                        const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                        axios.get(apiUrl, {
                            headers: {
                                'Token': token
                            },
                            params: {
                                province_id: $('#city').val()
                            }
                        })
                            .then(response => {
                                var selectElement = $('#district');
                                selectElement.empty();
                                selectElement.val('').trigger('change');
                                selectElement.append($('<option>').val('').text('Chọn huyện'));
                                $.each(response.data.data, function (index, item) {
                                    selectElement.append($('<option>').val(item.DistrictID).text(item.DistrictName));
                                });
                                selectElement.val(selectElement.val()).trigger('change');
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    });
                });

                $(document).ready(function () {
                    $('#district').on('change', function () {
                        if ($('#district').val() === null) {
                            var selectElement = $('#wards');
                            selectElement.empty();
                            selectElement.val('').trigger('change');
                            selectElement.append($('<option>').val('').text('Chọn phường/xã'));
                        }
                        const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';
                        const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                        axios.get(apiUrl, {
                            headers: {
                                'Token': token
                            },
                            params: {
                                district_id: $('#district').val()
                            }
                        })
                            .then(response => {
                                var selectElement = $('#wards');
                                selectElement.empty();
                                selectElement.val('').trigger('change');
                                selectElement.append($('<option>').val('').text('Chọn phường/xã'));
                                $.each(response.data.data, function (index, item) {
                                    selectElement.append($('<option>').val(item.WardCode).text(item.WardName));
                                });
                                selectElement.val(selectElement.val()).trigger('change');
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    });
                });

                $(document).ready(function () {
                    $('#wards').on('change', function () {
                        if ($('#wards').val() != null) {
                            isDefaultAddress = false;
                            isCalculatingShippingFee = true;
                            calculateShippingFee();
                            isCalculatingShippingFee = false;
                        }
                    });
                });
            }
        });

    </script>

    <!--====== Tính phí ship và voucher ======-->
    <script>
        //khi ô input đc thay đổi
        // $('#voucherinput').on('change', function () {
        //     MucUuDai = "";
        //     voucher(this.value);
        // });
        //khi ấn enter
        $(document).ready(function () {
            $('#button-coupon').click(function () {
                var voucherValue = $('#voucherinput').val();
                voucher(voucherValue);
            });
        });
        $('#voucherinput').on('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                MucUuDai = "";
                voucher(this.value);
            }
        });
        // Khi chọn ship sau
        // $('#get-address').on('change', function () {
        //     var useDefaultAddress = $(this).prop('checked');

        //         totalAmountElement.innerText = tongtienSanPham.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
        //         totalAmountElement.value = tongtienSanPham.toString();
            

        //     // calculateShippingFee();
        // });
        // Hàm tính phí ship
        var serviceid=null
        function availableservices(){
            var ApiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/available-services';
            var token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
            var shop_id = 705899;
            var toDistrictId = isDefaultAddress ? selectedDistrictID : $('#district').val();
            return new Promise((resolve, reject) => {
                axios.get(ApiUrl, {
                    headers: {
                        'Token': token,
                    },
                    params: {
                        from_district: 3440,
                        to_district: toDistrictId,
                        shop_id: shop_id
                    }
                })
                    .then(response => {
                        response.data.data.forEach(service => {
                            if (service.service_type_id === 2) {
                                serviceid = service.service_id;
                                resolve(); // Báo hiệu rằng availableservices đã hoàn thành
                            }
                        });
                    })
                    .catch(error => {
                        console.error(error);
                        reject(error); // Báo hiệu rằng có lỗi xảy ra
                    });
            });
        }

        function calculateDayShip() {
            availableservices().then(() => {
                var dayshipApiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/leadtime';
                var token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                var shop_id = 705899;
                var toWardCode = isDefaultAddress ? selectedWardCode : $('#wards').val();
                var toDistrictId = isDefaultAddress ? selectedDistrictID : $('#district').val();

                axios.get(dayshipApiUrl, {
                    headers: {
                        'Token': token,
                        'shop_id': shop_id
                    },
                    params: {
                        service_id: serviceid,
                        to_ward_code: toWardCode,
                        to_district_id: toDistrictId,
                    }
                }).then(response => {
                    // Gán tiền ship vào id phiship
                    var date = moment.unix(response.data.data.leadtime).format("YYYY-MM-DD HH:mm:ss");
                    document.querySelector('input[name="NgayGiaoDuKien"]').value = date;
                })
                    .catch(error => {
                        console.error(error);
                    });
            }).catch(error => {
                console.error(error);
            });
        }

        function calculateShippingFee() {
            var inputs = document.getElementsByClassName('input-counter__text');
            var sum = 0;
            for (var i = 0; i < inputs.length - 1; i++) {
                var inputValue = parseInt(inputs[i].value);
                if (!isNaN(inputValue)) {
                    sum += inputValue;
                }
            }

            var soLuongDonHang = sum;
            var length = 20; // Giá trị mặc định cho chiều dài
            var width = 15; // Giá trị mặc định cho chiều rộng
            var height = 20;
            var weight = parseInt((length * width * height) / 5000);

            var shippingApiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee';
            var token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
            var shop_id = 705899;
            var toWardCode = isDefaultAddress ? selectedWardCode : $('#wards').val();
            var toDistrictId = isDefaultAddress ? selectedDistrictID : $('#district').val();
                axios.get(shippingApiUrl, {
                    headers: {
                        'Token': token,
                        'shop_id': shop_id
                    },
                    params: {
                        service_type_id: 2,
                        insurance_value: $('#tamtinh').text().replace(/\D/g, ''),
                        coupon: null,
                        to_ward_code: toWardCode,
                        to_district_id: toDistrictId,
                        from_district_id: 3440,
                        weight: weight,
                        length: length,
                        width: width,
                        height: height
                    }
                })
                .then(response => {
                    // Gán tiền ship vào id phiship
                    phiship = response.data.data.service_fee;
                    $('#phiship').text(parseInt(phiship).toLocaleString("vi-VN").replace(/\./g, ',') + "đ");

                    // Lấy ra tổng tiền của sản phẩm có trong giỏ hàng
                    if (MucUuDai !== null || MucUuDai !== "") {
                        console.log(MucUuDai);
                        var tongTien = tongtienSanPham-MucUuDai + phiship;
                        document.querySelector('input[name="TongTien"]').value = tongtienSanPham;
                    }
                    else {
                        var tongTien = tongtienSanPham + phiship;
                        document.querySelector('input[name="TongTien"]').value = tongtienSanPham;
                    }
                    // Hiển thị tổng tiền
                    totalAmountElement.innerText = tongTien.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
                    totalAmountElement.value = tongTien.toString();
                    // Gán giá trị vào input
                    document.querySelector('input[name="TienShip"]').value = phiship;
                    calculateDayShip();
                    isCalculatingShippingFee = false; 
                })
                .catch(error => {
                    console.error(error);
                });
        }

        // Hàm áp dụng voucher
        // function applyVoucher() {
        //     var voucherValue = document.getElementById("voucherinput").value;
        //     voucher(voucherValue);
        // }

        // Hàm xử lý voucher
        var IdVoucher = "";
        function voucher(value) {
            value = value.toUpperCase();
            if (value != null && value.trim() != "") {
                var ma = { ma: value };
                $.ajax({
                    url: '/VoucherNguoiDung/GetVoucherByMa',
                    type: 'GET',
                    data: ma,
                    success: function (result) {
                        if (result.mess) {
                            loaiuudai = result.loaiuudai;
                            if (result.idvoucher) {
                                if (phiship == 0 && loaiuudai == 2) {
                                    toast({
                                        title: "Vui lòng nhập địa chỉ trước khi áp dụng freeship!",
                                        type: "warning",
                                        duration: 2000
                                    });
                                } else {
                                    $('input[name="voucher"]').each(function () {
                                        // So sánh giá trị của radio button với result.idvoucher
                                        if ($(this).val() == result.idvoucher) {
                                            // Nếu trùng khớp, đặt checked cho radio button đó
                                            $(this).prop('checked', true);
                                            $('#textvoucher').text("");
                                            MucUuDai = result.mucuudai;
                                            IdVoucher = result.idvoucher;
                                            $('input[name="IdVoucher"]').val(IdVoucher);
                                            applyDiscount(MucUuDai);
                                        }
                                    });
                                }
                            } 
                            if (loaiuudai != 2) {
                                toast({
                                    title: result.mess,
                                    type: "warning",
                                    duration: 2000
                                });
                            }
                        } else {
                            $('#textvoucher').text("");
                            loaiuudai = result.loaiuudai;
                            // Áp dụng giảm giá từ voucher
                            if (phiship==0 && loaiuudai == 2) {
                                toast({
                                    title: "Vui lòng nhập địa chỉ trước khi áp dụng freeship!",
                                    type: "warning",
                                    duration: 2000
                                });
                            } else {
                                MucUuDai = result.mucuidai;
                                IdVoucher = result.idVoucher;
                                $('input[name="IdVoucher"]').val(IdVoucher);
                                applyDiscount(MucUuDai);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        MucUuDai = "";
                        $('#textvoucher').text("mã không hợp lệ");
                        applyDiscount(0);
                    }
                });
            } else {
                $('#textvoucher').text("");
                // Nếu không có voucher, hiển thị tổng tiền không giảm giá
                applyDiscount(0);
            }
        }

        function VoucherUser(voucherId) {
            if (voucherId != null && voucherId.trim() != "") {
                $.ajax({
                    url: '/Voucher/GetVoucherById',
                    type: 'GET',
                    data: { idVoucher: voucherId },
                    success: function (result) {
                        $('#textvoucher').text("");
                        loaiuudai = result.loaiuudai;
                        // Áp dụng giảm giá từ voucher
                        if (phiship == 0 && loaiuudai == 2) {
                            toast({
                                title: "Vui lòng nhập địa chỉ trước khi áp dụng freeship!",
                                type: "warning",
                                duration: 2000
                            });
                        } else {
                            toast({
                                title: "Áp dụng thành công!",
                                type: "success",
                                duration: 2000
                            });
                            MucUuDai = result.mucuidai;
                            IdVoucher = result.idVoucher;
                            $('input[name="IdVoucher"]').val(IdVoucher);
                            applyDiscount(MucUuDai);
                        }
                    },
                    error: function (xhr, status, error) {
                        MucUuDai = "";
                        $('#textvoucher').text("mã không hợp lệ");
                        applyDiscount(0);
                    }
                });
            } else {
                $('#textvoucher').text("");
                // Nếu không có voucher, hiển thị tổng tiền không giảm giá
                applyDiscount(0);
            }
        }

        $('input[name="voucher"]').change(function () {
            var voucherId = $(this).data('id');
            // Lưu trữ voucherId để sử dụng khi người dùng nhấp vào nút đồng ý
            $(this).data('selectedVoucherId', voucherId);
        });

        $('#VoucherUserUse').click(function (event) {
            event.preventDefault();
            // Lấy voucherId đã lưu trữ từ radio box đã chọn
            var selectedVoucherId = $('input[name="voucher"]:checked').data('selectedVoucherId');

            // Chạy hàm runMyJavaScript với voucher đã chọn
            VoucherUser(selectedVoucherId);
            // $('#voucher-modal').fadeOut();
        });

        // Hàm áp dụng giảm giá
        function applyDiscount(discountAmount) {
            $('#voucher-modal .tatmodal').click();
            if (discountAmount == null || discountAmount == 0) {
                $('#TienGiam').text(discountAmount.toLocaleString("vi-VN") + "đ");
            }
            else if (loaiuudai == 0) {
                $('#TienGiam').text("-" + discountAmount.toLocaleString("vi-VN") + "đ");
            }
            else if (loaiuudai == 2) {
                if (discountAmount > phiship) {
                    discountAmount = phiship;
                }
                $('#TienGiam').text("-" + discountAmount.toLocaleString("vi-VN") + "đ");
            }
            else {
                discountAmount = tongtienSanPham * discountAmount / 100;
                $('#TienGiam').text("-" + discountAmount.toLocaleString("vi-VN") + "đ");
            }
            MucUuDai = discountAmount;
            document.querySelector('input[name="TienGiam"]').value = discountAmount;
            // Tính tổng tiền sau khi giảm giá
            var tamTinhGiaGiam = tongtienSanPham + parseFloat(phiship);
            tongTienSauGiamGia = tamTinhGiaGiam - discountAmount;
            // Hiển thị tổng tiền sau khi giảm giá
            totalAmountElement.innerText = tongTienSauGiamGia.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
            totalAmountElement.value = tongTienSauGiamGia.toString();
        }
        function UpdateVoucher() {
            if (MucUuDai != null) {
                $.ajax({
                    url: '/Voucher/UpdateVoucherAfterUseIt',
                    type: 'POST',
                    data: { idVoucher: IdVoucher },
                    success: function (result) {
                        console.log("UpdateVoucherAfterUseIt");
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            } else {
                $('#textvoucher').text("");
                // Nếu không có voucher, hiển thị tổng tiền không giảm giá
                applyDiscount(0);
            }
        }
    </script>

    <!--====== thanh toán ======-->
    <script>
        // Lấy tất cả các elements input có type là radio
        var radioButtons = document.querySelectorAll('input[name="Payment"]');
        var paymentMethod = "";
        // Duyệt qua từng radio button
        radioButtons.forEach(function (radioButton) {
            // Lắng nghe sự kiện khi có thay đổi trạng thái của radio button
            radioButton.addEventListener('change', function () {
                // Nếu radio button được chọn
                if (this.checked) {
                    // Lấy giá trị của radio button và gán vào input hidden
                    paymentMethod = this.value;
                    // document.querySelector('input[name="LoaiThanhToan"]').value = this.value;
                    console.log(this.value);
                }
            });
        });

        function kiemTraTuyChon() {
            if (!useDefaultAddress) {
                var cityInput = document.getElementById("city");
                var districtInput = document.getElementById("district");
                var wardsInput = document.getElementById("wards");
                var billingFnameInput = document.getElementById("billing-fname");
                var billingEmailInput = document.getElementById("billing-email");
                var billingPhoneInput = document.getElementById("billing-phone");
                var billingStreetInput = document.getElementById("billing-street");
                
                var isValid = true;
                isValid = isValid && cityInput.value !== "";
                isValid = isValid && districtInput.value !== "";
                isValid = isValid && wardsInput.value !== "";
                isValid = isValid && billingFnameInput.value !== "";
                isValid = isValid && billingEmailInput.value !== "";
                isValid = isValid && billingPhoneInput.value !== "";
                isValid = isValid && billingStreetInput.value !== "";
                if (!isValid) {
                    toast({
                        title: "Vui lòng nhập đầy đủ thông tin!",
                        type: "warning",
                        duration: 2000
                    });
                }
                return !isValid;
            }
            return false;
        }

        function showLoadingOverlay() {
            $('#placeOrderButton').html('<span class="loader"></span>');
        }

        function hideLoadingOverlay() {
            $('.loader').remove();
        }
        var defaultAddressCheckbox = document.getElementById("make-default-address");
        var agreeCheckbox = document.getElementById("term-and-condition");
        $(document).ready(function () {
            $('#placeOrderButton').click(function (e) {
                e.preventDefault();
                if (kiemTraTuyChon()) {
                    hideLoadingOverlay();
                    return;
                } 
                if (!paymentMethod) {
                    hideLoadingOverlay();
                    toast({
                        title: "Vui lòng chọn phương thức thanh toán!",
                        type: "warning",
                        duration: 2000
                    });
                    return;
                }
                if (!agreeCheckbox.checked) {
                    hideLoadingOverlay();
                    toast({
                        title: "Vui lòng đồng ý với điều khoản!",
                        type: "warning",
                        duration: 2000
                    });
                    return;
                }
                $('#placeOrderButton').prop('disabled', true);
                var selectedCity, selectedDistrict, selectedWard, inputAddressBill, DiaChiFull;

                if ($('#DefaultDropdown').is(':visible')) {
                    // Sử dụng useDefaultAddressScript
                    selectedCity = $('#city1 option:selected').text();
                    selectedDistrict = $('#district1 option:selected').text();
                    selectedWard = $('#wards1 option:selected').text();
                } else {
                    // Sử dụng useInputAddressScript
                    selectedCity = $('#city option:selected').text();
                    selectedDistrict = $('#district option:selected').text();
                    selectedWard = $('#wards option:selected').text();
                }
                // console.log(paymentMethod);
                $('input[name="LoaiThanhToan"]').val(paymentMethod);
                showLoadingOverlay();
                if ($('#DefaultDropdown').is(':visible')) {
                    var moTaValue = $("#order-note").val();
                    $('input[name="MoTa"]').val(moTaValue);
                    $("[name='IdThongTinGH']").val(selectedId)
                    // Thực hiện các chức năng liên quan đến useDefaultAddressScript
                    var paymentFormData = $('#paymentForm').serialize();
                    // Gửi dữ liệu thanh toán

                    $.ajax({
                        type: 'POST',
                        url: '/HoaDon/ThanhToan',
                        data: paymentFormData,
                        success: function (paymentResponse) {
                            if(paymentResponse.idHoaDon != null) {
                                if (IdVoucher != "") {
                                    UpdateVoucher();
                                }
                                if (paymentResponse.url != null) {
                                    window.location.href = paymentResponse.url;
                                }else{
                                    window.location.href = "/HoaDon/Order?idHoaDon=" + paymentResponse.idHoaDon;
                                }
                            }else{
                                hideLoadingOverlay();
                                Swal.fire({
                                    title: "Sản phẩm lỗi",
                                    icon: 'error',
                                    html: paymentResponse.message.join('<br/>'),
                                })
                            }
                        },
                        error: function (paymentError) {
                            hideLoadingOverlay();
                            // Xử lý lỗi nếu cần
                        }
                    });
                } 
                else {

                    inputAddressBill = $('#billing-street').val();
                    DiaChiFull = inputAddressBill + ',' + selectedWard + ',' + selectedDistrict + ',' + selectedCity;
                    $('#billing-street').val(DiaChiFull);

                    // Thực hiện các chức năng liên quan đến useInputAddressScript
                    var deliveryFormData = $('#deliveryForm').serialize();

                    // Gửi dữ liệu DataBill
                    $.ajax({
                        type: 'POST',
                        url: '/HoaDon/DataBill',
                        data: deliveryFormData,
                        success: function (deliveryResponse) {
                            // Thực hiện Ajax để gửi dữ liệu đến action ThanhToan trong controller TenControllerKhac
                            if (deliveryResponse.idThongTinGH != null) {
                                if (defaultAddressCheckbox.checked) 
                                {
                                    $.ajax({
                                        type: 'PUT',
                                        url: '/ThongTinGH/UpdateTrangThai',
                                        data: { idThongTin: deliveryResponse.idThongTinGH },
                                        success: function (Response) {
                                        },
                                        error: function (Error) {
                                            // Xử lý lỗi nếu cần
                                        }
                                    });
                                }

                                var moTaValue = $("#order-note").val();
                                $('input[name="MoTa"]').val(moTaValue);
                                $("[name='IdThongTinGH']").val(deliveryResponse.idThongTinGH)

                                var paymentFormData = $('#paymentForm').serialize();
                                // Gửi dữ liệu thanh toán
                                $.ajax({
                                    type: 'POST',
                                    url: '/HoaDon/ThanhToan',
                                    data: paymentFormData,
                                    success: function (paymentResponse) {
                                        if (paymentResponse.idHoaDon != null) {
                                            if (IdVoucher != "") {
                                                UpdateVoucher()
                                            }
                                            if (paymentResponse.url != null) {
                                                window.location.href = paymentResponse.url;
                                            }else{
                                                window.location.href = "/HoaDon/Order?idHoaDon=" +                              paymentResponse.idHoaDon;
                                            }
                                        } else {
                                            hideLoadingOverlay();
                                            Swal.fire({
                                                title: "Sản phẩm lỗi",
                                                icon: 'error',
                                                html: paymentResponse.message.join('<br/>'),
                                            })
                                        }
                                    },
                                    error: function (paymentError) {
                                        hideLoadingOverlay();
                                        // Xử lý lỗi nếu cần
                                    }
                                });
                            }else{
                                hideLoadingOverlay();
                                $('#billing-street').val(inputAddressBill);
                                Swal.fire({
                                    title: "Sản phẩm lỗi",
                                    icon: 'error',
                                    html: deliveryResponse.message.join('<br/>'),
                                })
                            }
                            
                        },
                        error: function (deliveryError) {
                            hideLoadingOverlay();
                            // Xử lý lỗi nếu cần
                        }
                    });
                }
            });
        });
    </script>

    <!--====== ẩn hiện voucher ======-->
    <script>
        function showHiddenVoucher() {
            $('.hidden-voucher-row').css('display', 'block');
            $('.arrow-down-btn').css('display', 'none');
            $('.arrow-up-btn').css('display', 'block');
        }

        function hiddenHiddenVoucher() {
            $('.hidden-voucher-row').css('display', 'none');
            $('.arrow-down-btn').css('display', 'block');
            $('.arrow-up-btn').css('display', 'none');
        }

        function showfreeshipVoucher() {
            $('.hidden-voucher-freeship').css('display', 'block');
            $('.arrow-down-freeship').css('display', 'none');
            $('.arrow-up-freeship').css('display', 'block');
        }

        function hiddenfreeshipVoucher() {
            $('.hidden-voucher-freeship').css('display', 'none');
            $('.arrow-down-freeship').css('display', 'block');
            $('.arrow-up-freeship').css('display', 'none');
        }
    </script>

}