@model IEnumerable<App_Data.ViewModels.GioHangChiTiet.GioHangChiTietDTO>

@{
    ViewData["Title"] = "ShowCartUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData["QuantityErrorMessages"] != null)
{
    <script>
        var problemCountMessage = '@TempData["problemCount"]';
        var errorMessages = @Html.Raw(Json.Serialize(ViewData["QuantityErrorMessages"]));
        Swal.fire({
            title: "Sản phẩm lỗi",
            icon: 'error',
            html: errorMessages.join('<br/>'),
        })
    </script>
}

<div class="u-s-p-y-10">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="is-marked">

                            <a>Giỏ hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">
    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60" style="margin-bottom:30px;padding-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary">GIỎ HÀNG</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                    <div class="table-responsive">
                        <table class="table-p">
                            <tbody>

                                <!--====== Row ======-->
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="table-p__box">
                                                <div class="table-p__img-wrap">

                                                    <img class="u-img-fluid" src="/AnhSanPham/@item.LinkAnh[0]" alt="">
                                                </div>
                                                <div class="table-p__info">

                                                    <span class="table-p__name">

                                                        <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = item.IdSanPhamCT })">@item.TenThuongHieu @item.TenSanPham</a>
                                                    </span>

                                                    @* <span class="table-p__category">

                                                <a href="shop-side-version-2.html">Electronics</a>
                                                </span> *@
                                                    <ul class="table-p__variant-list">
                                                        <li>

                                                            <span>Size: @item.TenKichCo</span>
                                                        </li>
                                                        <li>

                                                            <span>Màu: @item.TenMauSac</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="table-p__price">
                                                @if (item.GiaBan != item.GiaGoc)
                                                {
                                                    <del style="color:gray"> @string.Format("{0:N0}đ", item.GiaGoc)</del>  @string.Format("{0:N0}đ", item.GiaBan)
                                                }
                                                else
                                                {
                                                    @string.Format("{0:N0}đ", item.GiaBan)
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            <div class="table-p__input-counter-wrap">

                                                <!--====== Input Counter ======-->
                                                <div class="input-counter">

                                                    <span class="input-counter__minus fas fa-minus" data-product-id="@item.IdSanPhamCT" data-cart-id="@item.IdGioHangChiTiet" data-value="@item.SoLuong" ></span>

                                                    <input id="soluong-@item.IdSanPhamCT" class="input-counter__text input-counter--text-primary-style" type="text" data-product-id="@item.IdSanPhamCT" data-cart-id="@item.IdGioHangChiTiet" value="@item.SoLuong" data-min="1" data-max="1000" min="1">
                                                    <span class="input-counter__plus fas fa-plus" data-product-id="@item.IdSanPhamCT" data-cart-id="@item.IdGioHangChiTiet" data-value="@item.SoLuong" ></span>
                                                </div>
                                                <!--====== End - Input Counter ======-->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="table-p__del-wrap">
                                                <a class="far fa-trash-alt table-p__delete-link" href="@Url.Action("DeleteCart", "GioHangChiTiets", new { id = item.IdGioHangChiTiet })"></a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                <!--====== End - Row ======-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="route-box">
                        <div class="route-box__g1">

                            <a class="route-box__link" href="/SanPhamChiTiets">
                                <i class="fas fa-long-arrow-alt-left"></i>

                                <span>TIẾP TỤC MUA SẮM</span>
                            </a>
                        </div>
                        <div class="route-box__g2">

                            <a class="route-box__link" href="@Url.Action("DeleteAllCart", "GioHangChiTiets")">
                                <i class="fas fa-trash"></i>
                                <span >XOÁ GIỎ HÀNG</span>
                            </a>
                            <a class="route-box__link" href="@Url.Action("DeleteAllProduct", "GioHangChiTiets")">
                                <i class="fas fa-trash"></i>
                                <span>XOÁ SẢN PHẨM NGỪNG BÁN/HẾT HÀNG </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->
<!--====== Section 3 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                    <form class="f-cart">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <h1 class="gl-h1">DỰ TOÁN VẬN CHUYỂN</h1>

                                    <span class="gl-text u-s-m-b-30">Nhập địa chỉ của bạn để ước tính vận chuyển.</span>
                                    <div class="u-s-m-b-30">

                                        <!--====== Select Box ======-->
                                        <!--====== Thành phố ======-->
                                        <label class="gl-label" for="city">THÀNH PHỐ *</label><select class="select-box select-box--primary-style" id="city" required>
                                            <option selected>Chọn thành phố</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <!--====== Select Box ======-->
                                        <!--====== Huyện ======-->
                                        <label class="gl-label" for="district">HUYỆN *</label><select class="select-box select-box--primary-style" id="district" required>
                                            <option selected>Chọn huyện</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    <div class="u-s-m-b-30">

                                        <!--====== Select Box ======-->
                                        <!--====== Phường/Xã ======-->
                                        <label class="gl-label" for="wards">PHƯỜNG/XÃ *</label><select class="select-box select-box--primary-style" id="wards" required>
                                            <option selected>Chọn phường/xã</option>
                                        </select>
                                        <!--====== End - Select Box ======-->
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <h1 class="gl-h1">GHI CHÚ</h1>

                                    <span class="gl-text u-s-m-b-30">Thêm lưu ý đặc biệt về sản phẩm của bạn</span>
                                    <div>

                                        <label for="f-cart-note"></label><textarea class="text-area text-area--primary-style" id="f-cart-note"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="f-cart__pad-box">
                                    <div class="u-s-m-b-30">
                                        <table class="f-cart__table">
                                            <tbody>
                                                <tr>
                                                    <td>PHÍ SHIP</td>
                                                    <td id="phiship">0đ</td>
                                                </tr>
                                                <tr>
                                                    <td>TIỀN GIẢM</td>
                                                    <td>0đ</td>
                                                </tr>
                                                <tr>
                                                    <td>TẠM TÍNH</td>
                                                    <td id="tamtinh">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuong * x.GiaBan))</td>
                                                </tr>
                                                <tr>
                                                    <td>TỔNG TIỀN</td>
                                                    <td id="tongtien">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuong * x.GiaBan))</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @if (ViewData["QuantityErrorMessages"] != null)
                                    {
                                        <div>
                                            <a class="btn btn--e-brand-b-2" href="/GioHangChiTiets/ShowCartUser">
                                                THANH TOÁN
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="btn btn--e-brand-b-2" href="/GioHangChiTiets/CheckOut">
                                                THANH TOÁN
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 3 ======-->

@* <script src="~/lib/jquery/dist/jquery.js"></script> *@
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
@* <script type="text/javascript" src="/js/CapNhatGioHang.js"></script> *@
@section Scripts{
    <!--====== Cập nhật số lượng ======-->
    <script>
        $(document).on("input", ".input-counter__text", function () {
            updateCart(this);
        });

        $(document).on("click", ".input-counter__plus, .input-counter__minus", function () {
            var inputElement = $(this).siblings(".input-counter__text")[0];
            updateCart(inputElement);
        });

        function updateCart(inputElement) {
            var soLuong = parseInt($(inputElement).val());
            var idSanPhamChiTiet = $(inputElement).data('product-id');
            var idGioHangChiTiet = $(inputElement).data('cart-id');
            $.ajax({
                url: '/GioHangChiTiets/CapNhatSoLuongGioHang',
                method: 'POST',
                data: { IdSanPhamChiTiet: idSanPhamChiTiet, SoLuong: soLuong, IdGioHangChiTiet: idGioHangChiTiet },
                success: function (response) {
                    //var SumPrice = response.sumPrice;
                    if (response.tongTien != null) {
                        var TongTien = response.tongTien;
                        $('#tamtinh').text(TongTien.toLocaleString("vi-VN") + "đ");
                        $('#tongtien').text(TongTien.toLocaleString("vi-VN") + "đ");
                    } else {
                        Swal.fire({
                            title: 'Sản phẩm lỗi',
                            icon: 'error',
                            html: response.quantityError,
                        })
                    }

                }
            });

        }
    </script>
    <!--====== Tính phí ship ======-->
    <script>
        $(document).ready(function () {
            const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
            const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';

            axios.get(apiUrl, {
                headers: {
                    'Token': token
                }
            })
                .then(response => {
                    var selectElement = $('#city');
                    selectElement.empty();

                    selectElement.append($('<option>').val('').text('Chọn thành phố'));

                    $.each(response.data.data, function (index, item) {
                        selectElement.append($('<option>').val(item.ProvinceID).text(item.ProvinceName));
                    });

                    selectElement.val(selectElement.val()).trigger('change');
                })
                .catch(error => {
                    console.error(error);
                });
        });

        $(document).ready(function () {
            $('#city').on('change', function () {
                if ($('#city').val() === null) {
                    var selectElement = $('#district');
                    selectElement.empty();
                    selectElement.val('').trigger('change');
                    selectElement.append($('<option>').val('').text('Chọn huyện'));
                }
                const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                axios.get(apiUrl, {
                    headers: {
                        'Token': token
                    },
                    params: {
                        province_id: $('#city').val()
                    }
                })
                    .then(response => {
                        var selectElement = $('#district');
                        selectElement.empty();
                        selectElement.val('').trigger('change');
                        selectElement.append($('<option>').val('').text('Chọn huyện'));
                        $.each(response.data.data, function (index, item) {
                            selectElement.append($('<option>').val(item.DistrictID).text(item.DistrictName));
                        });
                        selectElement.val(selectElement.val()).trigger('change');
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });

        $(document).ready(function () {
            $('#district').on('change', function () {
                if ($('#district').val() === null ) {
                    var selectElement = $('#wards');
                    selectElement.empty();
                    selectElement.val('').trigger('change');
                    selectElement.append($('<option>').val('').text('Chọn phường/xã'));
                }
                const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                axios.get(apiUrl, {
                    headers: {
                        'Token': token
                    },
                    params: {
                        district_id: $('#district').val()
                    }
                })
                    .then(response => {
                        var selectElement = $('#wards');
                        selectElement.empty();
                        selectElement.val('').trigger('change');
                        selectElement.append($('<option>').val('').text('Chọn phường/xã'));
                        $.each(response.data.data, function (index, item) {
                            selectElement.append($('<option>').val(item.WardCode).text(item.WardName));
                        });
                        selectElement.val(selectElement.val()).trigger('change');
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });
        
        $(document).ready(function () {
            $('#wards').on('change', function () {
                var inputs = document.getElementsByClassName('input-counter__text');
                var sum = 0;
                for (var i = 0; i < inputs.length - 1; i++) {
                    var inputValue = parseInt(inputs[i].value);
                    if (!isNaN(inputValue)) {
                        sum += inputValue;
                    }
                }

                var soLuongDonHang = sum;
                var length = 20; // Giá trị mặc định cho chiều dài
                var width = 15; // Giá trị mặc định cho chiều rộng
                var height = 20;
                var weight = parseInt((length * width * height) / 5000);
                if ($('#wards').val() != null) {
                    const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee';
                    const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                    const shop_id = 705899;
                    axios.get(apiUrl, {
                        headers: {
                            'Token': token,
                            'shop_id': shop_id
                        },
                        params: {
                            service_type_id: 2,
                            insurance_value: $('#tamtinh').text().replace(/\D/g, ''),
                            coupon: null,
                            to_ward_code: $('#wards').val(),
                            to_district_id: $('#district').val(),
                            from_district_id: 3440,
                            weight: weight,
                            length: length,
                            width: width,
                            height: height
                        }
                    })
                        .then(response => {
                            
                            //lưu tiền ship vào localstorage
                            localStorage.setItem('phiship', response.data.data.service_fee);
                            //gán tiền ship vào id phiship
                            $('#phiship').text(parseInt(response.data.data.service_fee).toLocaleString("vi-VN").replace(/\./g, ',') + "đ");
                            // $('#divShippingFee1').val(response.data.data.service_fee);

                            // lấy ra tổng tiền của sản phẩm có trong giỏ hàng
                            var tongtienSanPham = parseInt(document.getElementById("tamtinh").innerText.replace("đ", "").replace(/\,/g, "").replace(/\./g, "").trim());

                            var totalAmountElement = document.getElementById("tongtien");

                            var tongTien = tongtienSanPham + response.data.data.service_fee;

                            // Hiển thị tổng tiền
                            totalAmountElement.innerText = tongTien.toLocaleString("vi-VN").replace(/\./g, ',') + "đ";
                            totalAmountElement.value = tongTien.toString();
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            });
        });
    </script>
}