@page "/Login/"
@*"/Login.cshtml"*@
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "/Views/Shared/_Layout.cshtml";
    var thongbao = TempData["ErrorMessage"];

}


<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-10">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="is-marked">
                                <a asp-area="Identity" asp-page="/Account/Login">
                                    Đăng nhập
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <partial name="/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model="thongbao" />

    }
    @*    <partial name="_StatusMessage" for="StatusMessage" />
    *@
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">ĐÃ ĐĂNG KÝ?</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">TÔI LÀ KHÁCH HÀNG MỚI</h1>

                                <span class="gl-text u-s-m-b-30">Bằng cách tạo tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể thực hiện quy trình thanh toán nhanh hơn, lưu trữ địa chỉ giao hàng, xem và theo dõi đơn hàng trong tài khoản của mình, ...</span>
                                <div class="u-s-m-b-15">

                                    <a class="l-f-o__create-link btn--e-transparent-brand-b-2" asp-area="Identity" asp-page="/Account/Register">

                                        TẠO MỘT TÀI KHOẢN
                                    </a>
                                </div>
                                <h1 class="gl-h1">ĐĂNG NHẬP</h1>
                                @* <div asp-validation-summary="All" class="text-danger"></div>*@
                                <span class="gl-text u-s-m-b-30">Nếu bạn đã có tài khoản, vui lòng đăng nhập.</span>
                                @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                                {

                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div class="gl-s-api">
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                @if (@provider.DisplayName == "Google")
                                                {
                                                    <div class="u-s-m-b-15">

                                                        <button type="submit" class="gl-s-api__btn gl-s-api__btn--gplus" name="provider" value="@provider.Name">
                                                            <i class="fab fa-google"></i>

                                                            <span>Đăng nhập với Google</span>
                                                        </button>
                                                    </div>
                                                }
                                                @*  else if (@provider.DisplayName == "Facebook")
                                        {
                                        <div class="u-s-m-b-15">

                                        <button type="submit" class="gl-s-api__btn gl-s-api__btn--fb" name="provider" value="@provider.Name">
                                        <i class="fab fa-facebook-f"></i>

                                        <span>Đăng nhập với Facebook</span>
                                        </button>
                                        </div>
                                        }*@

                                            }

                                        </div>
                                    </form>
                                }
                        
                                <form class="l-f-o__form" id="account" method="post">


                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="login-email">EMAIL HOẶC TÊN TÀI KHOẢN*</label>

                                        <input asp-for="Input.UserNameOrEmail" class="input-text input-text--primary-style" type="text" id="login-email" placeholder="Nhập Email hoặc tên tài khoản" autocomplete="email" autocomplete="username">
                                        <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                                    </div>
                                    <div class="u-s-m-b-30">


                                        <label class="gl-label" for="login-password">MẬT KHẨU *</label>

                                        <input class="input-text input-text--primary-style" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Nhập mật khẩu">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="gl-inline">
                                        <div class="u-s-m-b-30">

                                            <button class="btn btn--e-transparent-brand-b-2" id="login-submit" type="submit">ĐĂNG NHẬP</button>
                                        </div>
                                        <div class="u-s-m-b-30" style="margin-left: 230px">
                                            <a class="gl-link" asp-area="Identity" asp-page="/Account/ForgotPassword">
                                                Quên mật khẩu?
                                            </a>
                                        </div>
                                    </div>
                                    @*  <div class="u-s-m-b-30">

                                    <!--====== Check Box ======-->

                                    <div class="check-box">
                                    <input id="remember-me" class="form-check-input" asp-for="Input.RememberMe" />
                                    <div class="check-box__state check-box__state--primary">
                                    <label asp-for="Input.RememberMe" class="check-box__label">

                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                    </div>
                                    </div>
                                    <!--====== End - Check Box ======-->
                                    </div>*@
                                </form>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
