@page "/Manage-My-Account"
@model App_View.Areas.Identity.Pages.Account.ManageMyAccountModel
@{
    Layout = "/Views/Shared/_LayoutUser.cshtml";
    var listhoadon = ViewData["listHoaDon"] as List<App_Data.ViewModels.HoaDon.HoaDonTest>;
    var thongTinGH = ViewData["ThongTinGH"] as App_Data.Models.ThongTinGiaoHang;
}
<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">Quản lý tài khoản của tôi</h1>

            <span class="dash__text u-s-m-b-30">Từ Bảng điều khiển tài khoản của tôi, bạn có thể xem nhanh về hoạt động tài khoản gần đây và cập nhật thông tin tài khoản của mình. Chọn một liên kết bên dưới để xem hoặc chỉnh sửa thông tin.</span>
            <div class="row">
                <div class="col-lg-6 u-s-m-b-30">
                    <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                        <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">THÔNG TIN CÁ NHÂN</h2>
                            <div class="dash__link dash__link--secondary u-s-m-b-8">

                                <a asp-area="Identity" asp-page="/Account/Manage/Index">Chỉnh sửa</a>
                            </div>
                            <span class="dash__text">@Model.FirstName</span>
                           

                          @*  @if (!string.IsNullOrEmpty(Model.Name))
                            {
                                <span class="dash__text">@Model.Name</span>
                            }
                            else
                            {
                                <span class="dash__text">@Model.Username</span>
                            }*@
                            <span class="dash__text">@Model.Email</span>
                            <div class="dash__link dash__link--secondary u-s-m-t-8">

                                <a data-modal="modal" data-modal-id="#dash-newsletter">Theo dõi bản tin</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 u-s-m-b-30">
                    <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                        <div class="dash__pad-3">
                            <h2 class="dash__h2 u-s-m-b-8">Địa chỉ giao hàng</h2>

                            <span class="dash__text-2 u-s-m-b-8">Địa chỉ mặc định</span>
                            @if(thongTinGH != null)
                            {
                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                    <a href="@Url.Action("Default", "ThongTinGH").Replace("/Identity", "")">Chỉnh sửa</a>
                                </div>
                                <span class="dash__text">@thongTinGH.TenNguoiNhan</span>
                                <span class="dash__text">@thongTinGH.DiaChi</span>

                                <span class="dash__text">@thongTinGH.SDT</span>
                            }
                            else
                            {
                                <span class="dash__text">Chưa có thông tin giao hàng</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
        <h2 class="dash__h2 u-s-p-xy-20">ĐƠN HÀNG GẦN ĐÂY</h2>
        <div class="dash__table-wrap gl-scroll">
            <table class="dash__table">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Đặt lúc</th>
                        <th>Sản phẩm</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @if (listhoadon != null)
                    {
                        foreach (var item in listhoadon)
                        {
                            <tr>
                                <td>@item.MaHoaDon</td>
                                <td>@item.NgayTao</td>
                                <td>
                                    @foreach (var sp in item.SanPham.Take(1))
                                    {
                                        <div class="dash__table-img-wrap">

                                            <img class="u-img-fluid" src="/AnhSanPham/@sp.LinkAnh[0]" alt="">
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="dash__table-total">

                                        <span>@string.Format("{0:N0}đ", item.TongGia)</span>
                                        <div class="dash__link dash__link--brand">

                                            <a href="@Url.Action("DetailHoaDonOnline", "DonHang", new { idHoaDon = item.IdHoaDon }).Replace("/Identity", "")">XEM CHI TIẾT</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
