@page "/MyProfile"
@using System.Security.Claims;
@model App_View.Areas.Identity.Pages.Account.my_profileModel
@{
    Layout = "/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-9 col-md-12">

    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">My Profile</h1>

            <span class="dash__text u-s-m-b-30">Look all your info, you could customize your profile.</span>
            <div class="row">
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">UserName</h2>
                    <span class="dash__text">@Model.Username</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Full Name</h2>
                    <span class="dash__text">@Model.FullName</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">img</h2>
                    <img src="@Model.User.FindFirst("urn:google:picture")?.Value" alt="avatar" class="rounded-circle" style="width: 40px" />
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Name</h2>

                    @if (!string.IsNullOrEmpty(Model.Tame))
                    {
                        <span class="dash__text">@Model.Tame</span>

                    }
                    else
                    {
                        <span class="dash__text">Chưa cập nhật</span>
                    }

                </div>
                @* <div class="col-lg-4 u-s-m-b-30">
                <h2 class="dash__h2 u-s-m-b-8">Picture</h2>

                <img src="@Model.Picture" alt="Profile Picture">
                </div>*@
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                    <span class="dash__text">@Model.Email</span>
                    <div class="dash__link dash__link--secondary">

                        <a href="#">Change</a>
                    </div>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Phone</h2>
                    @if (!string.IsNullOrEmpty(Model.Phone))
                    {
                        <span class="dash__text">@Model.Phone</span>
                        <div class="dash__link dash__link--secondary">

                            <a href="#">Change</a>
                        </div>

                    }
                    else
                    {
                        <span class="dash__text">Please enter your mobile</span>
                        <div class="dash__link dash__link--secondary">

                            <a href="#">Add</a>
                        </div>
                    }

                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>
                    @if (string.IsNullOrEmpty(Model.NgaySinh.ToString()))
                    {
                        <span class="dash__text">dd/mm/yy</span>

                    }
                    else
                    {
                        <span class="dash__text">@Model.NgaySinh</span>
                    }

                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Gender</h2>
                    <span class="dash__text">@Model.Gender</span>
                    @if (string.IsNullOrEmpty(Model.Gender))
                    {
                        <span class="dash__text">Chưa cập nhật</span>


                    }
                    else
                    {
                        <span class="dash__text">@Model.Gender</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dash__link dash__link--secondary u-s-m-b-30">

                        <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a>
                    </div>
                    <div class="u-s-m-b-16">
                        <a class="dash__custom-link btn--e-transparent-brand-b-2" asp-area="Identity" asp-page="/Account/Manage/Index">
                            Edit Profile
                        </a>

                    </div>
                    <div>

                        <a class="dash__custom-link btn--e-brand-b-2" href="#">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
