@page "Đăng ký"
@model RegisterModel
@using static App_Data.Repositories.TrangThai;

@{
    ViewData["Title"] = "Đăng ký";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>
    .text-danger {
       color:red;
    }
</style>
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-10">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="is-marked">

                                <a asp-area="Identity" asp-page="/Account/Register">
                                    Đăng ký
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">TẠO MỘT TÀI KHOẢN</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">THÔNG TIN CÁ NHÂN</h1>

                                @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                                {

                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div class="gl-s-api">
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                @if (@provider.DisplayName == "Google")
                                                {
                                                    <div class="u-s-m-b-30">

                                                        <button type="submit" class="gl-s-api__btn gl-s-api__btn--gplus" name="provider" value="@provider.Name">
                                                            <i class="fab fa-google"></i>

                                                            <span>Đăng ký với Google</span>
                                                        </button>
                                                    </div>
                                                }
                                                else if (@provider.DisplayName == "Facebook")
                                                {
                                                    <div class="u-s-m-b-15">

                                                        <button type="submit" class="gl-s-api__btn gl-s-api__btn--fb" name="provider" value="@provider.Name">
                                                            <i class="fab fa-facebook-f"></i>

                                                            <span>Đăng ký với Facebook</span>
                                                        </button>
                                                    </div>
                                                }

                                            }

                                        </div>


                                    </form>
                                }

                                <form class="l-f-o__form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="u-s-m-b-30">
                                        <label class="gl-label">HỌ VÀ TÊN *</label>

                                        <input class="input-text input-text--primary-style" placeholder="Tên của bạn" asp-for="Input.FullName" class="form-control" aria-required="true">
                                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                    </div>
                                  @*  <div class="u-s-m-b-30">

                                        <label class="gl-label">SỐ ĐIỆN THOẠI </label>

                                        <input class="input-text input-text--primary-style" placeholder="Số điện thoại" asp-for="Input.Sdt">
                                        <span asp-validation-for="Input.Sdt" class="text-danger"></span>

                                    </div>*@
                                    <div class="gl-inline">
                                        <div class="u-s-m-b-30">

                                            <!--====== Date of Birth Select-Box ======-->

                                            <span class="gl-label">NGÀY SINH</span>
                                            @* <div class="gl-dob" >
                                            <select class="select-box select-box--primary-style" id="day" name="day">
                                            <option class="hidden" selected disabled>Day</option>
                                            @for (int day = 1; day <= 31; day++)
                                            {
                                            <option value="@day">@day</option>
                                            }
                                            </select>
                                            <select class="select-box select-box--primary-style" id="month" name="month" >
                                            <option class="hidden" selected disabled>Month</option>
                                            @for (int month = 1; month <= 12; month++)
                                            {
                                            <option value="@month">Tháng @month</option>
                                            }
                                            </select>
                                            <select class="select-box select-box--primary-style" id="year" name="year" >
                                            <option class="hidden" selected disabled>Year</option>
                                            @for (int year = 1900; year <= DateTime.Now.Year; year++)
                                            {
                                            <option value="@year">@year</option>
                                            }
                                            </select>
                                            </div>*@
                                            <!--====== End - Date of Birth Select-Box ======-->
                                            <!--====== End - Date of Birth Select-Box ======-->
                                            @*   <input class="select-box select-box--primary-style u-w-100" asp-for="Input.NgaySinh" id="DateofBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")">*@
                                            <input class="select-box select-box--primary-style u-w-100" asp-for="Input.NgaySinh" placeholder="Ngày sinh">
                                            <span asp-validation-for="Input.NgaySinh" class="text-danger"></span>

                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label">GIỚI TÍNH</label>
                                            <select class="select-box select-box--primary-style u-w-100" asp-for="Input.GioiTinh">
                                                <option class="hidden" selected disabled>Giới tính</option>
                                                <option value="@((int)GioiTinhMacDinh.Nam)">Nam</option>
                                                <option value="@((int)GioiTinhMacDinh.Nu)">Nữ</option>

                                            </select>
                                            <span asp-validation-for="Input.GioiTinh" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="u-s-m-b-30 ">

                                        <label class="gl-label">TÊN TÀI KHOẢN *</label>

                                        <input class="input-text input-text--primary-style" asp-for="Input.UserName" aria-required="true" placeholder="Nhập tên tài khoản">
                                        <span asp-validation-for="Input.UserName" class="text-danger"></span>

                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">E-MAIL *</label>

                                        <input asp-for="Input.Email" class="input-text input-text--primary-style" placeholder="Nhập Email" aria-required="true" autocomplete="username">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">MẬT KHẨU *</label>
                                        <input asp-for="Input.Password" class="input-text input-text--primary-style" placeholder="Nhập mật khẩu" aria-required="true">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                    </div>
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label">XÁC NHẬN MẬT KHẨU *</label>
                                        <input asp-for="Input.ConfirmPassword" class="input-text input-text--primary-style" placeholder="Nhập lại mật khẩu" aria-required="true">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>


                                    </div>

                                    <div class="u-s-m-b-15">
                                        <button class="btn btn--e-transparent-brand-b-2" id="registerSubmit" type="submit">Đăng ký</button>
                                    </div>

                                    <a class="gl-link" asp-area="" asp-controller="Home" asp-action="Index">Quay lại cửa hàng</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Thêm thư viện jQuery -->
@*<script>
    $(document).ready(function () {
        $("#day, #month, #year").on("change", function () {
            var selectedDay = $("#day").val();
            var selectedMonth = $("#month").val();
            var selectedYear = $("#year").val();
            if (selectedDay || selectedMonth || selectedYear) {
                var selectedDate = selectedYear + "-" + selectedMonth + "-" + selectedDay;
                $("#DateofBirth").val(selectedDate);
            }
            else if (!selectedDay && !selectedMonth && !selectedYear) {
                $("#DateofBirth").val(null);
            }
        });
    });
</script>*@