@model IEnumerable<App_Data.ViewModels.SanPhamChiTietDTO.SanPhamChiTietDTO>

<div class="notification-toast top-right" id="notification-toast"></div>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
            <a class="breadcrumb-item">CẬP NHẬT SẢN PHẨM</a>
        </nav>
    </div>
</div>

<div id="confirm-ds" class="mt-2 mb-2">
    <div style=" position: fixed; top: 90px; right: 26px; z-index: 2">
        <button class="btn btn-kio" onclick="window.location.reload()">
            <i class="far fa-list-alt m-r-5"></i>
            <span>Quay lại danh sách</span>
        </button>
        <button class="btn btn-kio update-sp">
            <i class="far fa-edit"></i>
            <span>Lưu</span>
        </button>
    </div>
</div>
<div hidden class="w-100" id="empty" style="height: 600px; background-image: url('https://img.freepik.com/premium-vector/completed-task-list-documents-folder_249405-293.jpg');background-position: center;background-repeat: no-repeat;"></div>
<div class="card">
    <div class="accordion" id="accordion-default">
        @foreach (var sp in Model)
        {
            <div class="card">
                <div class="card-header d-flex justify-content-between" style="background: #e1faff">
                    <h5 class="card-title">
                        <a style="background: #e1faff" class="collapsed" data-toggle="collapse" href="#collapseTwoDefault-@sp.IdChiTietSp">
                            <span>@sp.FullName!.ToUpper()</span>
                        </a>
                    </h5>
                    <button class="btn btn-tone rounded-circle btn-delete btn-close" style="border: none">X</button>
                </div>
                <div id="collapseTwoDefault-@sp.IdChiTietSp" class="collapse" data-parent="#accordion-default">
                    <div class="card-body">
                        <input class="d-none" name="IdChiTietSp" value="@sp.IdChiTietSp" />
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-@sp.IdChiTietSp" role="tab"
                                   aria-controls="home-@sp.IdChiTietSp" aria-selected="true">Thông tin sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile--@sp.IdChiTietSp" role="tab"
                                   aria-controls="profile--@sp.IdChiTietSp" aria-selected="false">Ảnh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-@sp.IdChiTietSp" role="tab"
                                   aria-controls="contact-@sp.IdChiTietSp" aria-selected="false">Mô tả</a>
                            </li>
                        </ul>
                        <div class="tab-content m-t-15" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-@sp.IdChiTietSp" role="tabpanel" aria-labelledby="home-tab" style="min-height: 420px">
                                <div class="card">
                                    <div class="card-body main">
                                        <div class="row">
                                            <div class="col-4 sanpham" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Tên sản phẩm(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="w-100 select2-active" name="IdSanPham" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdSanPham"]!)
                                                        {
                                                            if (item.Value == sp.IdSanPham)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }

                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4 thuonghieu" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Thương hiệu(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdThuongHieu" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdThuongHieu"]!)
                                                        {
                                                            if (item.Value == sp.IdThuongHieu)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4 xuatxu" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Xuất xứ(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdXuatXu" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdXuatXu"]!)
                                                        {
                                                            if (item.Value == sp.IdXuatXu)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4 chatlieu" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Chất liệu(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdChatLieu" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdChatLieu"]!)
                                                        {
                                                            if (item.Value == sp.IdChatLieu)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4 loaigiay" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Loại giầy(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdLoaiGiay" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdLoaiGiay"]!)
                                                        {
                                                            if (item.Value == sp.IdLoaiGiay)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4 kieudegiay" style="margin-top: 10px">
                                                <label class="font-weight-semibold">Kiểu đế giầy(*)</label>
                                                <div class="d-flex align-items-center mr-1">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdKieuDeGiay" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdKieuDeGiay"]!)
                                                        {
                                                            if (item.Value == sp.IdKieuDeGiay)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-6 mausac">
                                                <label class="font-weight-semibold">Màu Sắc(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdMauSac" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdMauSac"]!)
                                                        {
                                                            if (item.Value == sp.IdMauSac)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6 kichco">
                                                <label class="font-weight-semibold">Kích cỡ(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-info-circle mr-1"></i>
                                                    <select class="select2-active w-100" name="IdKichCo" disabled>
                                                        @foreach (var item in (SelectList)ViewData["IdKichCo"]!)
                                                        {
                                                            if (item.Value == sp.IdKichCo)
                                                            {
                                                                <option value="@item.Value" selected>@item.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="form-group col-3">
                                                <label class="font-weight-semibold" for="productBrand">Giá nhập(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="far fa-money-bill-alt mr-1"></i>
                                                    <input type="text" class="form-control formatPrice" name="GiaNhap" value="@sp.GiaNhap">
                                                </div>
                                            </div>

                                            <div class="form-group col-3">
                                                <label class="font-weight-semibold" for="productBrand">Giá bán(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-money-bill-wave mr-1"></i>
                                                    <input type="text" class="form-control formatPrice" name="GiaBan" value="@sp.GiaBan">
                                                </div>
                                            </div>

                                            <div class="form-group col-3">
                                                <label class="font-weight-semibold" for="productBrand">Số lượng tồn(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-database mr-1"></i>
                                                    <input type="text" class="form-control formatNumber" name="SoLuongTon" value="@sp.SoLuongTon">
                                                </div>
                                            </div>

                                            <div class="form-group col-3">
                                                <label class="font-weight-semibold" for="productBrand">Khối lượng(*)</label>
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-weight mr-1"></i>
                                                    <input type="text" class="form-control formatKhoiLuong" name="KhoiLuong" value="@sp.KhoiLuong">
                                                </div>
                                            </div>

                                            <div class="form-group d-flex align-items-center col-2">
                                                <div class="switch m-r-10">
                                                    @if (sp.Day == true)
                                                    {
                                                        <input type="checkbox" name="Day" id="switch-day-@sp.IdChiTietSp" class="switch-2-day" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="Day" id="switch-day-@sp.IdChiTietSp" class="switch-2-day">
                                                    }

                                                    <label class="font-weight-semibold" for="switch-day-@sp.IdChiTietSp"></label>
                                                </div>
                                                <label class="font-weight-semibold">Dây</label>
                                            </div>

                                            <div class="form-group d-flex align-items-center col-4">
                                                <div class="switch m-r-10">
                                                    @if (sp.TrangThaiKhuyenMai == true)
                                                    {
                                                        <input type="checkbox" name="TrangThaiKhuyenMai" id="switch-trangThaiKhuyenMai-@sp.IdChiTietSp" class="switch-2-trangThaiKhuyenMai" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="TrangThaiKhuyenMai" id="switch-trangThaiKhuyenMai-@sp.IdChiTietSp" class="switch-2-trangThaiKhuyenMai">
                                                    }

                                                    <label class="font-weight-semibold" for="switch-trangThaiKhuyenMai-@sp.IdChiTietSp"></label>
                                                </div>
                                                <label class="font-weight-semibold">Cho phép áp dụng khuyến mại</label>
                                            </div>


                                            <div class="form-group d-flex align-items-center col-2">
                                                <div class="switch m-r-10">
                                                    @if (sp.NoiBat == true)
                                                    {
                                                        <input type="checkbox" name="NoiBat" id="switch-noibat-@sp.IdChiTietSp" class="switch-2-noibat" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="NoiBat" id="switch-noibat-@sp.IdChiTietSp" class="switch-2-noibat">
                                                    }
                                                    <label class="font-weight-semibold" for="switch-noibat-@sp.IdChiTietSp"></label>
                                                </div>
                                                <label class="font-weight-semibold">Nổi bật</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile--@sp.IdChiTietSp" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="upload">
                                    <button name="choseFile" class="custom-btn mb-2">
                                        Choose file
                                    </button>
                                    <input type="file" class="fileInput default-btn 1" accept="image/*" multiple hidden>
                                    <div class="container-file" style="display: flex;">
                                        @foreach (var img in sp.DanhSachAnh!)
                                        {
                                            <div class="wrapper-file">
                                                <div class="image">
                                                    <img class="file-image"
                                                         src="/AnhSanPham/@img"><i class="fas fa-times close-icon"></i>
                                                </div>
                                                <div class="content">
                                                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                                </div>
                                                <div class="cancel-btn"><i class="fas fa-times"></i></div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact-@sp.IdChiTietSp" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="form-group col-12">
                                    <div class="m-b-5" style="margin-top: 10px;">
                                        <label class="font-weight-semibold" style="display: block; margin-bottom: 5px;">
                                            Mô tả sản phẩm
                                        </label>
                                        <div class="moTa w-100" style="height: 400px" name="MoTa">@Html.Raw(@sp.MoTa)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script>
    (function () {
        const selectedFiles = {};
        const lstAnhRemove = {};
        const URL_UPDATE_PRODUCT_DETAIL = 'UpdateSanPham';
        const URL_DELETE_LIST_IMAGE = 'DeleteAnh';
        const URL_CREATE_IMAGE = 'CreateAnh';

        function CheckRong() {
            const cards = $(".accordion > .card");
            if (cards.length == 0) {
                $('#empty').show()
                Swal.fire({
                    title: 'Thông báo',
                    text: 'Hiện không còn task nào!',
                    confirmButtonText: 'Quay lại danh sách',
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/Admin/SanPhamChiTiet/DanhSachSanPham'
                    }
                });
            } else {
                $('#empty').hide()
            }
        }

        $(() => {
            CheckRong();
        })

        function showToastTonTai(name) {
            var toastHTML = `<div class="toast fade hide" data-delay="3000">
         <div class="toast-header">
             <i class="anticon anticon-info-circle text-primary m-r-5"></i>
             <strong class="mr-auto">Thông báo</strong>
             <small>1 seconds ago</small>
             <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="toast-body">
             <span>${name} đã tồn tại!</span>
         </div>
     </div>`

            $('#notification-toast').append(toastHTML)
            $('#notification-toast .toast').toast('show');
            setTimeout(function () {
                $('#notification-toast .toast:first-child').remove();
            }, 3000);
        }

        function showDauVaoKhongHopLe() {
            var toastHTML = `<div class="toast fade hide" data-delay="3000">
                <div class="toast-header">
                    <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                    <strong class="mr-auto">Thông báo</strong>
                    <small>1 seconds ago</small>
                    <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <span>Đầu vào không hợp lệ</span>
                </div>
            </div>`

            $('#notification-toast').append(toastHTML)
            $('#notification-toast .toast').toast('show');
            setTimeout(function () {
                $('#notification-toast .toast:first-child').remove();
            }, 3000);
        }
        $(() => {

            $(".select2-active").select2();

            $('.thuonghieu').each(function () {
                const $thuonghieu = $(this);
                var $thuonghieuInput = $(this).find('input.select2-input');
                $thuonghieuInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenThuongHieu: inputValue,
                            };
                            var $select2 = $thuonghieu.find("[name='IdThuongHieu']");

                            $.ajax({
                                url: 'CreateTenThuongHieu',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenThuongHieu, result.idThuongHieu, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $thuonghieuInput.val('');
                                    } else {
                                        showToastTonTai('Thương hiệu')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                });
            });
            $('.xuatxu').each(function () {
                const $xuatxu = $(this);
                var $xuatxuInput = $(this).find('input.select2-input');
                $xuatxuInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                Ten: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenXuatXu',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $xuatxu.find("[name='IdXuatXu']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.ten, result.idXuatXu, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Xuất xứ')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                })
            });
            $('.sanpham').each(function () {
                const $sanpham = $(this);
                var $sanphamInput = $(this).find('input.select2-input');
                $sanphamInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenSanPham: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenSanPham',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $sanpham.find("[name='IdSanPham']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenSanPham, result.idSanPham, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Tên sản phẩm')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                });
            });
            $('.loaigiay').each(function () {
                const $loaigiay = $(this);
                var $loaigiayInput = $(this).find('input.select2-input');
                $loaigiayInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenLoaiGiay: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenLoaiGiay',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $loaigiay.find("[name='IdLoaiGiay']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenLoaiGiay, result.idLoaiGiay, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Tên loại giày')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                });
            });
            $('.chatlieu').each(function () {
                const $chatlieu = $(this);
                var $chatlieuInput = $(this).find('input.select2-input');
                $chatlieuInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenChatLieu: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenChatLieu',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $chatlieu.find("[name='IdChatLieu']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenChatLieu, result.idChatLieu, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Chất liệu')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                });
            });
            $('.kieudegiay').each(function () {
                const $kieudegiay = $(this);
                var $kieudegiayInput = $(this).find('input.select2-input');
                $kieudegiayInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenKieuDeGiay: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenKieuDeGiay',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $kieudegiay.find("[name='IdKieuDeGiay']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenKieuDeGiay, result.idKieuDeGiay, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Kiểu đế giày')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe();
                                }
                            });
                        }
                    }
                });
            });
            $('.mausac').each(function () {
                const $mausac = $(this);
                var $mausacInput = $(this).find('input.select2-input');
                $mausacInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            var data = {
                                TenMauSac: inputValue,
                            };
                            $.ajax({
                                url: 'CreateTenMauSac',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (result) {
                                    if (result) {
                                        var $select2 = $mausac.find("[name='IdMauSac']");
                                        var selectedValue = $select2.val();
                                        if (selectedValue && selectedValue.length > 0) {
                                            $select2.val(null).trigger('change');
                                        }
                                        var newOption = new Option(result.tenMauSac, result.idMauSac, true, true);
                                        $select2.append(newOption).trigger('change');

                                        $(this).val('');
                                    } else {
                                        showToastTonTai('Màu sắc')
                                    }
                                },
                                error: function (xhr, status, error) {
                                    showDauVaoKhongHopLe()
                                }
                            });
                        }
                    }
                });
            })
            $('.kichco').each(function () {
                const $kichco = $(this);
                var $kichcoInput = $(this).find('input.select2-input');
                $kichcoInput.on('keyup', function (e) {
                    if (e.key === 'Enter') {
                        var inputValue = $(this).val();
                        if (inputValue) {
                            if (Number.isInteger(parseFloat(inputValue.trim())) && parseInt(inputValue) < 0) {
                                var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                    <div class="toast-header">
                                        <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                        <strong class="mr-auto">Thông báo</strong>
                                        <small>1 seconds ago</small>
                                        <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="toast-body">
                                        <span>Kích cỡ phải là số nguyên dương</span>
                                    </div>
                                </div>`

                                $('#notification-toast').append(toastHTML)
                                $('#notification-toast .toast').toast('show');
                                setTimeout(function () {
                                    $('#notification-toast .toast:first-child').remove();
                                }, 3000);
                            } else {
                                var data = {
                                    soKichCo: inputValue.trim(),
                                };
                                $.ajax({
                                    url: 'CreateTenKichCo',
                                    type: 'POST',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json',
                                    success: function (result) {
                                        if (result) {
                                            var $select2 = $kichco.find("[name='IdKichCo']");

                                            var selectedValue = $select2.val();
                                            if (selectedValue && selectedValue.length > 0) {
                                                $select2.val(null).trigger('change');
                                            }
                                            var newOption = new Option(result.soKichCo, result.idKichCo, true, true);
                                            $select2.append(newOption).trigger('change');

                                            $(this).val('');
                                        } else {
                                            showToastTonTai('Kích cỡ')
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        showDauVaoKhongHopLe()
                                    }
                                });
                            }
                        }
                    }
                });
            });

            $('.moTa').summernote();
            $(".formatPrice").each(function () {
                new AutoNumeric(this, {
                    decimalCharacter: ".",
                    digitGroupSeparator: ",",
                    decimalPlaces: 0,
                    currencySymbol: " ₫",
                    currencySymbolPlacement: "s",
                    minimumValue: 0,
                    maximumValue: 99999999
                });
            });

            $(".formatNumber").each(function () {
                new AutoNumeric(this, {
                    decimalCharacter: ".",
                    digitGroupSeparator: ",",
                    decimalPlaces: 0,
                    minimumValue: 0,
                    maximumValue: 99999.00
                });
            });

            $(".formatKhoiLuong").each(function () {
                new AutoNumeric(this, {
                    decimalCharacter: ".",
                    digitGroupSeparator: ",",
                    decimalPlaces: 2,
                    minimumValue: 0,
                    maximumValue: 99999.00
                });
            }); 
        })

        $(document).on('click', '.btn-delete', function () {
            $(this).closest('.card').remove();
            CheckRong()
        })

        $(document).on('click', '[name= "choseFile"]', function () {
            $(this).closest('.upload').find('.fileInput').trigger('click')
        })

        $(document).on("click", ".file-image", function () {
            const key = $(this).closest('.collapse').attr('id').replace("collapseTwoDefault-", "");
            console.log(key);
            changeImage($(this), $(this).attr('src').replace("/AnhSanPham/", ""), key)
        })

        $(document).on("click", ".close-icon", function () {
            const wrapper = $(this).closest('.wrapper-file');
            const key = wrapper.closest('.collapse').attr('id').replace("collapseTwoDefault-", "")
            const nameFile = wrapper.find('.file-image').attr('src')
            if (!nameFile.startsWith("blob:https://localhost")) {
                if (!lstAnhRemove[key]) {
                    lstAnhRemove[key] = []
                }
                lstAnhRemove[key].push(nameFile.replace("/AnhSanPham/", ""))
                console.log(lstAnhRemove[key]);
            } else {
                var name = wrapper.find('.image').attr('data-file')
                const indexDelete = selectedFiles[key].findIndex(item => item.key === name);
                selectedFiles[key].splice(indexDelete, 1);
            }
            wrapper.remove();
        })

        $(document).on('change', '.fileInput', function () {
            const imageList = $(this).closest('.upload').find('.container-file');
            const key = imageList.closest('.collapse').attr('id').replace("collapseTwoDefault-", "");

            const countImage = imageList.find('.wrapper-file').length;

            if (this.files.length + countImage > 6) {
                var toastHTML = `<div class="toast fade hide" data-delay="5000">
                            <div class="toast-header">
                                <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                <strong class="mr-auto">Thông báo</strong>
                                <small>1 second ago</small>
                                <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                Chỉ được chọn tối đa 6 ảnh!
                                <br/>
                                S/P đang có ${countImage} ảnh.
                                <br/>
                                Do vậy bạn chỉ có thể chọn tối đa ${6 - countImage} ảnh nữa!!!
                            </div>
                        </div>`
                $('#notification-toast').append(toastHTML)
                $('#notification-toast .toast').toast('show');
                setTimeout(function () {
                    $('#notification-toast .toast:first-child').remove();
                }, 5000);
                return
            }

            Array.from(this.files).map((file) => {
                if (file.type.startsWith("image")) {
                    const wrapper = $('<div>').addClass('wrapper-file');
                    const image = $('<div>').addClass('image');
                    const imageElement = $('<img>').addClass('file-image').attr('src', URL.createObjectURL(file));
                    image.attr('data-file', file.name);
                    if (!selectedFiles[key]) {
                        selectedFiles[key] = []
                    }
                    selectedFiles[key].push({ key: "them", data: file });

                    const closeIcon = $('<i>').addClass('fas fa-times close-icon');


                    image.append(imageElement);
                    image.append(closeIcon);

                    const content = $('<div>').addClass('content');
                    const icon = $('<div>').addClass('icon');
                    icon.html('<i class="fas fa-cloud-upload-alt"></i>');
                    content.append(icon);

                    var cancelBtn = $('<div>').addClass('cancel-btn');
                    cancelBtn.html('<i class="fas fa-times"></i>');

                    wrapper.append(image);
                    wrapper.append(content);
                    wrapper.append(cancelBtn);
                    imageList.append(wrapper);
                    return;
                }
                this.files = "";
                alert('Vui lòng chọn đúng định dạng');
            });
        })

        const changeImage = (imageElement, file, key) => {
            const newInputFile = $('<input>').attr('type', 'file').css('display', 'none');
            newInputFile.off('change')
            newInputFile.on('change', function () {
                if (!lstAnhRemove[key]) {
                    lstAnhRemove[key] = []
                }
                const newFile = this.files[0]
                if (newFile) {
                    const container = imageElement.closest('.wrapper-file')
                    var fileName = container.find('.image').attr('data-file')
                    console.log(fileName);
                    container.append(newInputFile)

                    if (newFile && newFile.type.startsWith('image/')) {

                        if (file.startsWith('blob:https:')) {
                            console.log(selectedFiles[key]);
                            const CheckIndex = selectedFiles[key].findIndex(file => file.data.name === newFile.name);
                            if (CheckIndex !== -1) {
                                alert('File này đã tồn tại')
                            } else {
                                container.find('.image').attr('data-file', newFile.name)
                                const indexChange = fileName ? selectedFiles[key].findIndex(item => item.data.name === fileName) : selectedFiles[key].findIndex(item => item.data.name === file.name);
                                imageElement.attr('src', URL.createObjectURL(newFile));
                                selectedFiles[key][indexChange] = { key: "them", data: newFile };
                                console.log(selectedFiles[key]);
                            }
                            console.log(selectedFiles[key]);
                        } else {
                            if (!selectedFiles[key]) {
                                selectedFiles[key] = []
                                selectedFiles[key].push({ key: "them", data: newFile });
                                imageElement.attr('src', URL.createObjectURL(newFile));
                                container.find('.image').attr('data-file', newFile.name)
                                console.log(file);
                                lstAnhRemove[key].push(file)
                            } else {
                                if (Array.from(selectedFiles[key]).find(item => item.data.name === newFile.name)) {
                                    alert('File này đã được chọn trước đó!')
                                } else {
                                    const foundIndexItem = selectedFiles[key].findIndex(item => item.data.name === file);
                                    console.log(foundIndexItem);
                                    if (foundIndexItem === -1) {
                                        console.log(file);
                                        lstAnhRemove[key].push(file)
                                        selectedFiles[key].push({ key: "them", data: newFile })
                                        container.find('.image').attr('data-file', newFile.name)
                                        imageElement.attr('src', URL.createObjectURL(newFile))
                                        console.log(selectedFiles[key]);
                                    }
                                }
                            }

                        }
                        console.log(lstAnhRemove[key]);
                        console.log(selectedFiles[key]);
                    }
                }
            })
            newInputFile.trigger('click')
        }

        $(document).off('click', '.update-sp')
        $(document).on('click', '.update-sp', function () {
            var slSS = 0;
            const promise = [];
            const cards = $(".accordion > .card");
            Array.from(cards).forEach(item => {
                const key = $(item).find('.collapse').attr('id').replace("collapseTwoDefault-", "");
                var data = {};
                $(item).find("input, select, textarea").each(function () {
                    var fieldType = $(this).attr("type");
                    var fieldName = $(this).attr("name");
                    var fieldValue;
                    if (fieldName) {
                        if (fieldType === "checkbox" || fieldType === "radio") {
                            fieldValue = $(this).is(":checked");
                        } else {
                            if ($(this).hasClass("formatPrice") || $(this).hasClass("formatNumber")) {
                                var fieldValue = $(this).val();
                                fieldValue = BigInt(fieldValue.replace(/₫|,|\s/g, '')).toString();
                            }
                            else if ($(this).hasClass("formatKhoiLuong")) {
                                var doubleValue = parseFloat($(this).val().replace(/,/g, ''));
                                fieldValue = doubleValue;
                            }
                            else {
                                fieldValue = $(this).val();
                            }
                        }

                        data[fieldName] = fieldValue;
                    }
                });
                data.MoTa = $(item).find('[name="MoTa"]').summernote('code');

                if (data.GiaNhap !== "0" && data.GiaBan !== "0" && data.SoLuongTon !== "0" && data.KhoiLuong !== NaN && $(item).find('.wrapper-file').length > 0) {
                    const updateProduct = $.ajax({
                        url: URL_UPDATE_PRODUCT_DETAIL,
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result) {
                                if (selectedFiles[key] && Array.from(selectedFiles[key]).length > 0) {
                                    var data = new FormData();
                                    Array.from(selectedFiles[key]).map(item => data.append('lstIFormFile', item.data))
                                    data.append('IdChiTietSp', key);
                                    const createAnh = $.ajax({
                                        url: URL_CREATE_IMAGE,
                                        type: 'POST',
                                        data: data,
                                        contentType: false,
                                        processData: false,
                                        success: function (result) {
                                        },
                                        error: function (xhr, status, error) {
                                            console.log(xhr.responseText);
                                            console.log(status);
                                            console.log(error);
                                            console.log(xhr);
                                        }
                                    });
                                    promise.push(createAnh);
                                }

                                if (lstAnhRemove[key] && Array.from(lstAnhRemove[key]).length > 0) {
                                    const data = new FormData();
                                    lstAnhRemove[key].map(item => data.append('lstImageRemove', item))
                                    data.append('idProductDetail', key)
                                    const deleteAnh = fetch(URL_DELETE_LIST_IMAGE, {
                                        method: 'POST',
                                        body: data
                                    })
                                        .then(response => {
                                            if (response.ok) {
                                                if (response.headers.get("content-length") !== "0") {
                                                    return response.json();
                                                } else {
                                                    return null;
                                                }
                                            }
                                            throw new Error('Network response was not ok.');
                                        })
                                        .then(data => {

                                        })
                                        .catch(error => {
                                            console.error(error);
                                        });
                                    promise.push(deleteAnh);
                                }

                                $(item).remove()
                                slSS++;
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                    promise.push(updateProduct)
                } else {
                    var previousValue = $(item).find('.card-title span').text();
                    if (!previousValue.includes('Vui lòng')) {
                        var redText = '<span style="color: red;"> (Vui lòng nhập đầy đủ thông tin cho các trường bắt buộc(*)/Chọn ảnh cho sản phẩm.)</span>';
                        $(item).find('.card-title span').html(previousValue + redText);
                    }
                }
            })
            Promise.all(promise)
                .then(() => {
                    CheckRong()
                    if (slSS) {
                        var toastHTML = `<div class="toast fade hide" data-delay="5000">
                             <div class="toast-header">
                                 <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                 <strong class="mr-auto">Thông báo</strong>
                                 <small>1 second ago</small>
                                 <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                             <div class="toast-body">
                                 Đã cập nhật thành công ${slSS} sản phẩm
                             </div>
                         </div>`
                        $('#notification-toast').append(toastHTML)
                        $('#notification-toast .toast').toast('show');
                        setTimeout(function () {
                            $('#notification-toast .toast:first-child').remove();
                        }, 5000);
                    }
                })
        })
    })();

</script>
