@{
    ViewData["Title"] = "Danh Sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>

    div.dataTables_wrapper div.dataTables_length select {
        width: 62px !important;
    }

    #table-sanpham_wrapper .row:nth-child(3) {
        margin-top: 15px;
    }


    .cursor-image {
        cursor: pointer;
    }

    .note-editing-area {
        height: 400px;
    }

    .main-content {
        /*        background: #eeeeee*/
    }

    .main_danh_sach, .page-link {
        /*        background-color: #A0C5E8 !important;*/
    }

    .checkbox input[type="checkbox"] {
        display: none;
    }

    /* Thiết lập kiểu checkbox tùy chỉnh sử dụng giả lập (pseudo-elements) */
    .checkbox label::before {
        content: "\2714"; /* Unicode ký tự checkmark */
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
    }

    /* Định dạng khi checkbox được chọn */
    .checkbox input[type="checkbox"]:checked + label::before {
        background-color: #00FF00; /* Màu nền khi đã chọn */
    }

    /* Định dạng khi checkbox chưa được chọn */
    .checkbox input[type="checkbox"]:not(:checked) + label::before {
        background-color: #c4d0d9; /* Màu nền khi chưa chọn */
    }

    .swal2-title {
        font-family: 'Arial', sans-serif; /* Chọn font bạn muốn sử dụng cho alert */
    }
</style>

<div id="body-danhsach">
    <div class="notification-toast top-right" id="notification-toast"></div>

    <div class="modal fade" id="modal-upload_image">
        <div class="modal-dialog modal-dialog-centered">
            <form id="form_upload" asp-action="uploadimage" method="post" class="modal-content" enctype="multipart/form-data">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="exampleModalLabel">UPLOAD ẢNH</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <input hidden type="file" id="chose-img" onchange="displaySelectedFileImages(this)" multiple name="files" accept="image/*" />
                    <a class="btn btn-kio mt-3" id="btn-chose-img">
                        <i class="anticon anticon-paper-clip m-r-5"></i>
                        <span>Chọn ảnh(s)</span>
                    </a>
                    <p class="mt-3" id="file-img-info" style="padding-top: 5px;color: #1c0497;"></p>
                    <br />
                    <span style="color: red">
                        Lưu ý:
                        <br />
                        -Bạn nên đặt tên các file ảnh khác nhau để tránh gặp lỗi!
                        <br />
                        -Ví dụ: Tên giày_Màu sắc_Kích cỡ_STT.
                    </span>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button class="btn btn-kio submit_file" type="submit">
                        <i class="anticon anticon-loading m-r-5"></i>
                        <i class="anticon anticon-upload m-r-5"></i>
                        <span>
                            Upload
                        </span>
                    </button>
                    <button type="button" class="btn btn-kio" id="btn_skip">Skip</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modal-import">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="exampleModalLabel">IMPORT FILE</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span style="color: red">Sử dụng template mẫu để import: </span><a href="/Admin/SanPhamChiTiet/DownloadFileTemplate">Download</a>
                    <br />
                    <input hidden type="file" id="chose-excel" onchange="displaySelectedFileExcel(this)" name="file" accept=".xlsx, .xls" />
                    <button class="btn btn-kio mt-3" id="btn-chose-import">
                        <i class="anticon anticon-paper-clip m-r-5"></i>
                        <span>Chọn file Excel</span>
                    </button>
                    <p class="mt-3" id="file-excel-info" style="padding-top: 5px;color: #1c0497;"></p>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button class="btn btn-kio" id="submit_import">Import</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="exampleModalLabel">XÁC NHẬN</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span id="thongBao"></span>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button type="button" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSanPham"></div>

    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
                <a class="breadcrumb-item" href="#">DANH SÁCH SẢN PHẨM ĐANG KINH DOANH</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <button class="btn btn-kio" style="position: absolute;right: 24px;top: 21px;z-index:1" onclick="window.location.href = '@Url.Action("ManageSanPham", "SanPhamChiTiet")'">
            <i class="anticon anticon-shop"></i>
            <span>Thêm mới & chỉnh sửa sản phầm</span>
        </button>
        <div class="card-body main_danh_sach">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="excel-tab" data-toggle="tab" href="#excel" role="tab" aria-controls="excel" aria-selected="true">Thao tác Excel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sanPhamNgungKinhDoanh-tab" data-toggle="tab" href="#sanPhamNgungKinhDoanh" role="tab" aria-controls="sanPhamNgungKinhDoanh" aria-selected="false">Danh sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="timKiemNangCao-tab" data-toggle="tab" href="#timKiemNangCao" role="tab" aria-controls="timKiemNangCao" aria-selected="false">Bộ lọc</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">
                <div class="tab-pane fade" id="excel" style="height: auto" role="tabpanel" aria-labelledby="excel-tab">
                    <div class="row w-100">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="m-b-10 ml-1">
                                    <button class="btn btn-kio" onclick="ConfirmImport()">
                                        <i class="anticon anticon-file-excel m-r-5"></i>
                                        <span>
                                            Import Excel
                                        </span>
                                    </button>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <button class="btn btn-kio" onclick="window.location.href='/admin/sanphamchitiet/ExportToExcel'">
                                        <i class="anticon anticon-file-excel m-r-5"></i>
                                        <span>
                                            Export Excel
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sanPhamNgungKinhDoanh" style="height: auto" role="tabpanel" aria-labelledby="sanPhamNgungKinhDoanh-tab">
                    <div class="row w-100">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="m-b-10">
                                    <a class="btn btn-kio" href="/Admin/SanPhamChiTiet/DanhSachSanPhamNgungKinhDoanh">
                                        <i class="far fa-list-alt m-r-5"></i>
                                        <span>Danh sách sản phẩm ngừng kinh doanh</span>
                                    </a>
                                </div>
                                <div class="m-b-10 m-l-10">
                                    <a class="btn btn-kio" href="/Admin/SanPhamChiTiet/TongQuanSanPham">
                                        <i class="far fa-list-alt m-r-5"></i>
                                        <span>Danh sách nhóm sản phẩm</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="timKiemNangCao" role="tabpanel" style="height: auto" aria-labelledby="timKiemNangCao-tab">
                    <div class="row w-100">
                        <div class="col-lg-12">
                            <div class="d-md-flex">
                                <div class="m-b-10">
                                    <select class="select2_active" style="min-width: 180px;" data-column="1" id="filterSanPham">
                                        <option value="" selected="">Sản phẩm</option>
                                        @foreach (var item in (SelectList)ViewData["SanPham"]!)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }

                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterThuongHieu">
                                        <option value="" selected="">Thương hiệu</option>
                                        @foreach (var item in (SelectList)ViewData["ThuongHieu"]!)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterLoaiGiay">
                                        <option value="" selected="">Thể loại</option>
                                        @foreach (var item in (SelectList)ViewData["LoaiGiay"]!)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterMauSac">
                                        <option value="" selected="">Màu sắc</option>
                                        @foreach (var item in (SelectList)ViewData["MauSac"]!)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterKichCo">
                                        <option value="" selected="">Kích cỡ</option>
                                        @foreach (var item in (SelectList)ViewData["KichCo"]!)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="custom-select" style="min-width: 180px;" id="filterSort">
                                        <option value="" selected="">Xắp xếp</option>
                                        <option value="ascending_quantity">Số lượng tăng dần</option>
                                        <option value="descending_quantity">Số lượng giảm dần</option>
                                        <option value="ascending_price">Giá bán tăng dần</option>
                                        <option value="descending_price">Giá bán giảm dần</option>
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <button class="btn btn-kio" onclick="window.location.href='/Admin/SanPhamChiTiet/DanhSachSanPham'">
                                        <i class="anticon anticon-delete m-r-5"></i>
                                        <span>Xóa bộ lọc</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table table-hover no-footer w-100" id="table-sanpham"></table>
            </div>
        </div>
    </div>
    <div id="confirm-ds" class="mt-2 mb-2">
        <div style=" position: fixed; top: 90px; right: 26px; z-index: 2">
            <button class="btn btn-kio export_excel" id="export_excel_btn">
                <i class="anticon anticon-file-excel"></i>
                <span>Export Excel</span>
            </button>
            <button class="btn btn-kio ngung_kinh_doanh">
                <i class="fas fa-ban"></i>
                <span>Ngừng kinh doanh</span>
            </button>
            <button class="btn btn-kio thaotac">
                <i class="far fa-edit"></i>
                <span>Cập nhật</span>
            </button>
        </div>
    </div>

</div>

<script>
    var table;
    var sanpham;
    var thuongHieu;
    var mauSac;
    var kichCo;
    var theLoai;
    var sort;
    var selectedCheckboxes = {};

    var maxLength = 999999;
    $(() => {
        $('.select2_active').select2();
    });

    $(document).off('click', '#btn_skip')
    $(document).on('click', '#btn_skip', function () {
        $('#modal-upload_image').modal('hide');
        $('#modal-import').modal('show');
    })

    $(() => checkToshowConfirm())
    const checkToshowConfirm = () => {
        const sumCheck = $('input[type="checkbox"]:checked');
        if (sumCheck.length > 0) {
            $('#confirm-ds').show()
        } else {
            $('#confirm-ds').hide()
        }
    }
    $(document).on('click', '.cursor-image', function () {
        const id = $(this).data('data');
        $.ajax({
            url: '/Admin/SanPhamChiTiet/LoadPartialView?idSanPhamChiTiet=' + id,
            type: 'GET',
            success: function (result) {
                const modal = $('#modalSanPham');
                modal.empty();
                modal.html(result);
                modal.modal("show")
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })
    $(() => {
        $('[data-toggle="tooltip"]').tooltip();
    })

   $(()=> {
        table = $('#table-sanpham').DataTable({
            ajax: {
                url: '@Url.Action("GetDanhSachSanPham", "SanPhamChiTiet", new { area= "Admin" })',
                type: 'POST',
                dataType: 'json',
                data: function (e) {
                    return JSON.stringify({
                        draw: e.draw,
                        start: e.start,
                        length: e.length,
                        searchValue: e.search.value,
                        SanPham: sanpham,
                        MauSac: mauSac,
                        KichCo: kichCo,
                        TheLoai: theLoai,
                        ThuongHieu: thuongHieu,
                        Sort: sort
                    });
                },
                contentType: 'application/json',
                cache: true
            },
            serverSide: true,
            paging: true,
            scrollX: true,
            lengthMenu: [[10, 25, 50, 100, maxLength],
            [10, 25, 50, 100, "All"]],
            pageLength: 10,
            drawCallback: function (settings) {
                let totalQuantity = 0;
                let totalRevenue = 0;
                let totalGiaNhap = 0;

                table.rows().every(function () {
                    const data = this.data();
                    totalQuantity += data.SoLuongTon;
                    totalRevenue += data.GiaBan * data.SoLuongTon;
                });
                totalRevenue = new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(totalRevenue).replace(",00", "");
                $('#table-sanpham').find('.total-row').remove();
                $('#table-sanpham tbody').append(`
                <tr class="total-row" style="background: #c4e9c4">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tổng:</td>
                    <td>${totalRevenue}</td>
                    <td>${totalQuantity}</td>
                    <td></td>
                    <td></td>

                </tr>
            `);
            },
            columns: [
                {
                    data: 'IdChiTietSp',
                    title: '<div class="checkbox"><input id="check-all" type="checkbox"><label for="check-all" class="m-b-0"></label></div>',
                    render: function (data, type, row, meta) {
                        const isChecked = selectedCheckboxes[data.IdChiTietSp];
                        const checkedAttribute = isChecked ? 'checked' : '';
                        return `
                    <div class="checkbox" data-id="${data}"><input id="check-item-${data}" type="checkbox" class="item"><label for="check-item-${data}" "${checkedAttribute}" class="m-b-0"></label></div>
                    `;
                    },
                    orderable: false
                },
                {
                    data: 'Ma',
                    title: 'Mã sản phẩm',
                    orderable: false
                },
                {
                    data: null,
                    title: 'Sản phẩm',
                    render: function (data, type, row, meta) {
                        if (data.anh === null) {
                            var defaultImageUrl = '/images/NoImage.png';
                            return `
                                <div class="d-flex align-items-center"><img data-data="${data.IdChiTietSp}" data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm" class="img-fluid cursor-image rounded" src="${defaultImageUrl}" style="max-width: 60px" alt=""><h6 class="m-b-0 m-l-10">${data.SanPham}</h6></div>
                            `;
                        } else {
                            return `
                                <div class="d-flex align-items-center"><img data-data="${data.IdChiTietSp}" data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm" class="img-fluid cursor-image rounded" src="/AnhSanPham/${data.Anh}" style="max-width: 60px" alt=""><h6 class="m-b-0 m-l-10">${data.SanPham}</h6></div>
                            `;
                        }
                    },
                    orderable: false
                },
                {
                    data: 'KieuDeGiay',
                    title: 'Kiểu đế',
                    orderable: false
                },
                {
                    data: 'ChatLieu',
                    title: 'Chất liệu',
                    orderable: false
                },
                {
                    data: 'LoaiGiay',
                    title: 'Thể loại',
                    orderable: false
                },
                {
                    data: 'XuatXu',
                    title: 'Xuất xứ',
                    orderable: false
                },
                {
                    data: 'KichCo',
                    title: 'Size',
                    orderable: false
                },
                {
                    data: 'GiaBan',
                    title: 'Giá bán',
                    render: function (data, type, row, meta) {
                        return new Intl.NumberFormat('vi-VN', {
                            style: 'currency',
                            currency: 'VND'
                        }).format(data).replace(",00", "");
                    },
                    orderable: false
                },
                {
                    data: 'SoLuongTon',
                    title: 'S/lượng',
                    orderable: false,
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return formatNumber(data);
                        }
                        return data;
                    }
                },
                {
                    data: 'SoLuongDaBan',
                    title: 'Đã bán',
                    orderable: false,
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return formatNumber(data);
                        }
                        return data;
                    }
                },
                {
                    data: 'IdChiTietSp',
                    title: '###',
                    render: function (data, type, row, meta) {
                        return `
                               <div class="btn-group dropdown" style="cursor: pointer">
                                    <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="button" onclick="XemSanPham('${data}')"> Xem chi tiết</button>
                                        <button class="dropdown-item" type="button" onclick="NgungKinhDoanhSanPham('${data}')">Ngừng Kinh Doanh</button>
                                        <button class="dropdown-item" type="button" onclick="EditSanPham('${data}')">Chỉnh sửa</button>
                                        <button class="dropdown-item" type="button" onclick="CoppySanPham('${data}')">Coppy</button>
                                    </div>
                                </div>
                    `;
                    },
                    orderable: false
                },
            ],
            initComplete: function (settings, json) {
                console.log(json);
                maxLength = json.data.recordsTotal;
                $('#table-sanpham').on('draw.dt', function () {
                    $('#table-sanpham input[type="checkbox"]').each(function () {
                        if ($(this).attr('id')) {
                            const id = $(this).attr('id').replace('check-item-', '');
                            if (selectedCheckboxes[id]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        }
                    });
                });

                $('#check-all').on('change', function () {
                    const isCheckedAll = $(this).prop('checked');
                    $('input[type="checkbox"].item').each(function () {
                        const id = $(this).attr('id').replace('check-item-', '');;
                        $(this).prop('checked', isCheckedAll);

                        if (isCheckedAll) {
                            selectedCheckboxes[id] = true;
                        } else {
                            delete selectedCheckboxes[id];
                        }
                        checkToshowConfirm();
                    });
                });

                $('#table-sanpham').on('change', 'input[type="checkbox"]', function () {
                    const id = $(this).attr('id').replace('check-item-', '');
                    if ($(this).prop('checked')) {
                        selectedCheckboxes[id] = true;
                    } else {
                        delete selectedCheckboxes[id];
                    }

                    const totalCheckboxes = $('input[type="checkbox"]').length;
                    const totalChecked = $('input[type="checkbox"]:checked').length;
                    $('#check-all').prop('checked', totalChecked === totalCheckboxes);
                    checkToshowConfirm();
                });

                $('#filterSanPham').on('change', function () {
                    sanpham = $(this).val();
                    table.draw();
                });

                $('#filterThuongHieu').on('change', function () {
                    thuongHieu = $(this).val();
                    table.draw();
                });

                $('#filterMauSac').on('change', function () {
                    mauSac = $(this).val();
                    table.draw();
                });

                $('#filterKichCo').on('change', function () {
                    kichCo = $(this).val();
                    table.draw();
                });

                $('#filterLoaiGiay').on('change', function () {
                    theLoai = $(this).val();
                    console.log(theLoai);
                    table.draw();
                });

                $('#filterSort').on('change', function () {
                    sort = $(this).val();
                    table.draw();
                });
            },

        });
   });

    function EditSanPham(id) {
        var data = {
            idSanPhamChiTiet: id,
        };
        $.ajax({
            url: '/Admin/SanPhamChiTiet/LoadPartialViewUpdate',
            type: 'GET',
            data: data,
            success: function (result) {
                $('#modalSanPham').empty().append(result).modal('show');
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }


    function XemSanPham(id) {
        $.ajax({
            url: '/Admin/SanPhamChiTiet/LoadPartialView?idSanPhamChiTiet=' + id,
            type: 'GET',
            success: function (result) {
                const modal = $('#modalSanPham');
                modal.empty();
                modal.html(result);
                modal.modal("show")
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }

    function NgungKinhDoanhSanPham(id) {
        $('#confirm').find('#thongBao').text("Bạn có muốn ngừng kinh doanh mặt hàng này?");
        $('#confirm').modal('show');
        var item = $(this).closest('tr')
        $('#confirm').off('click', '.btn-primary');
        $('#confirm').one('click', '.btn-primary', function () {
            $.ajax({
                url: '/Admin/SanPhamChiTiet/Delete/' + id,
                type: 'GET',
                success: function (result) {
                    if (result) {
                        delete selectedCheckboxes[id];
                        item.remove();
                        $('#confirm').modal('hide');
                        showToastDeleteSucsess();
                        checkToshowConfirm();
                        table.draw();
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });
        });
    }

    function CoppySanPham(id) {
        var data = {
            IdSanPhamChiTiet: id,
        };

        $.ajax({
            url: '/Admin/SanPhamChiTiet/GetPartialViewSanPhamCopy',
            type: 'Get',
            data: data,
            success: function (result) {
                $('#modalSanPham').empty().html(result);
                $('#modalSanPham').modal('show')

            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }
    $(document).off('click', '#btn-skip')
    $(document).on('click', '#btn-skip', function (e) {
        $('#modal-upload_image').modal('hide');
        $('#modal-import').modal('show');
    });

    $(document).off('click', '#export_excel_btn')
    $(document).on('click', '#export_excel_btn', function () {
        const keys = Object.keys(selectedCheckboxes);
        const data = { listGuild: keys };

        $.ajax({
            url: '/Admin/SanPhamChiTiet/ExportSanPhamDangKinhDoanhFromListGuid',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            xhrFields: {
                responseType: 'blob'
            },
            success: function (blob, status, xhr) {
                if (blob instanceof Blob) {
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'ProductList.xlsx';

                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }

                selectedCheckboxes = {};
                table.draw();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    });


    $(document).off("click", '.ngung_kinh_doanh');
    $(document).on("click", '.ngung_kinh_doanh', function () {
        const keys = Object.keys(selectedCheckboxes);
        $('#confirm').find('#thongBao').text(`Bạn có muốn ngừng kinh doanh ${keys.length} mặt hàng này?`);
        $('#confirm').modal('show');
        const soLuong = keys.length;
        const data = { listGuild: keys };
        console.log(JSON.stringify(data));
        $('#confirm').off('click', '.btn-primary');
        $('#confirm').one('click', '.btn-primary', function () {
            $.ajax({
                url: '/Admin/SanPhamChiTiet/NgungKinhDoanhListSanPham',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (result) {
                    if (result) {
                        var toastHTML = `<div class="toast fade hide" data-delay="3000">
                         <div class="toast-header">
                             <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                             <strong class="mr-auto">Thông báo</strong>
                             <small>1 seconds ago</small>
                             <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="toast-body">
                             <span>Đã ngừng kinh doanh ${soLuong} mặt hàng!</span>
                         </div>
                     </div>`
                        $('#confirm').modal('hide');
                        $('#notification-toast').append(toastHTML)
                        $('#notification-toast .toast').toast('show');
                        setTimeout(function () {
                            $('#notification-toast .toast:first-child').remove();
                        }, 3000);
                        $('#confirm-ds').hide();
                        selectedCheckboxes = {};
                        table.draw();
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });
        })
    })

    $(document).on("click", '.thaotac', function () {
        const keys = Object.keys(selectedCheckboxes);
        const data = { "listGuild": keys };
        $('#preloader').show();
        $.ajax({
            url: 'GetPartialViewListUpdate',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                $('#body-danhsach').html(result)
                $('#preloader').hide();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })

    function formatNumber(number) {
        if (number >= 1000) {
            const formattedNumber = (number / 1000).toFixed(1) + 'k';
            return formattedNumber.replace('.0', '');
        }
        return number.toString();
    }
    function showToastDeleteSucsess() {
        var toastHTML = `<div class="toast fade hide" data-delay="3000">
        <div class="toast-header">
            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
            <strong class="mr-auto">Thông báo</strong>
            <small>1 seconds ago</small>
            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <span>Đã ngừng kinh doanh!</span>
        </div>
    </div>`

        $('#notification-toast').append(toastHTML)
        $('#notification-toast .toast').toast('show');
        setTimeout(function () {
            $('#notification-toast .toast:first-child').remove();
        }, 3000);
    }

    $(document).off('submit', '#form_upload');
    $(document).on('submit', '#form_upload', function (event) {
        event.preventDefault()
        var $form = $(this);
        var $btn = $('.submit_file')
        $btn.addClass('is-loading')
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (result) {
                if (result) {
                    $form.find('input[type="file"]').val('');
                    $('#file-img-info').text('')
                    var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                     <div class="toast-header">
                                         <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                         <strong class="mr-auto">Thông báo</strong>
                                         <small>1 seconds ago</small>
                                         <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                     <div class="toast-body">
                                         <span>Đã upload thành công!</span>
                                     </div>
                                 </div>`

                    $('#notification-toast').append(toastHTML)
                    $('#notification-toast .toast').toast('show');
                    setTimeout(function () {
                        $('#notification-toast .toast:first-child').remove();
                    }, 3000);
                    $('#modal-upload_image').modal('hide')
                    $('#modal-import').modal('show')
                    $btn.removeClass('is-loading')
                } else {
                    alert('Upload thất bại!')
                    $btn.removeClass('is-loading')
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                $btn.removeClass('is-loading')
            }
        });


    });
    $(document).off('click', '#btn-chose-img');
    $(document).on('click', '#btn-chose-img', function () {
        $('#chose-img').trigger('click');
    });
    function displaySelectedFileImages(value) {
    $('#file-img-info').text('\u00A0\u00A0' + value.files.length + " ảnh được chọn")
    };
    function ConfirmImport() {
    Swal.fire({
        title: 'Trước khi import Sản phẩm bạn có file ảnh(s) cần upload không?',
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'Có',
        cancelButtonText: 'Không',
    }).then((result) => {
        if (result.isConfirmed) {
            $('#modal-upload_image').modal('show')
        } else {
            $('#modal-import').modal('show')
        }
    });

    };
    $(document).off('click', '#btn-chose-import');
    $(document).on('click', '#btn-chose-import', function () {
        $('#chose-excel').trigger('click');
    });
    function displaySelectedFileExcel(value) {
    const selectedFile = value.files[0];
    $('#file-excel-info').text(selectedFile.name)
}
    $(document).on('click', '#submit_import', function () {
        $('#preloader').show();
        $('#modal-import').modal('hide')
        var data = new FormData();
        data.append('file', $('#chose-excel')[0].files[0]);
        $.ajax({
            url: "@Url.Action("ImportProducts", "SanPhamChiTiet")",
            type: 'POST',
            data: data,
            contentType: false,
            processData: false,
            success: function (result) {
                $('#preloader').hide();
                Swal.fire({
                    title: "Thông báo!",
                    html: `
                      <div class="text-left" style="padding-left: 100px;">
                          <span class="text-primary">
                              Success: ${result.slSuccess}
                          </span>
                          <br />
                          <span class="text-red">
                              False: ${result.slFalse}
                          </span>
                      </div>
                  `,
                    icon: "info",
                    allowOutsideClick: false,
                    showCancelButton: result.slFalse > 0,
                    confirmButtonText: result.slFalse > 0 ? 'Download File Lỗi' : 'OK',
                    cancelButtonText: 'Close',
                }).then((resultAlert) => {
                    if (resultAlert.isConfirmed) {
                        if (result.slFalse > 0) {
                            var iframe = document.createElement('iframe');
                            iframe.style.display = 'none';
                            document.body.appendChild(iframe);

                            iframe.src = '/Admin/sanphamchitiet/DownloadFileErr';

                            iframe.onload = function () {
                                document.body.removeChild(iframe);
                            };

                            iframe.onerror = function (error) {
                                console.log('Error downloading file:', error);
                            };
                        }
                        window.location.reload();

                    } else if (resultAlert.dismiss === Swal.DismissReason.cancel) {
                        if (resultAlert.value) {
                            console.log('Nút "Download File Lỗi" được nhấp');
                            window.location.reload();

                        } else {
                            window.location.reload();
                        }
                    }
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
    <script src="~/Admin/vendors/select2/select2.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
