@{
    ViewData["Title"] = "Danh Sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>

    div.dataTables_wrapper div.dataTables_length select {
        width: 62px !important;
    }

    .cursor-image {
        cursor: pointer;
    }

    .note-editing-area {
        height: 400px;
    }

    .main-content{
/*        background: #eeeeee*/
    }

    .main_danh_sach, .page-link {
/*        background-color: #A0C5E8 !important;*/
    }
    .checkbox input[type="checkbox"] {
        display: none;
    }

    /* Thiết lập kiểu checkbox tùy chỉnh sử dụng giả lập (pseudo-elements) */
    .checkbox label::before {
        content: "\2714"; /* Unicode ký tự checkmark */
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        text-align: center;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
    }

    /* Định dạng khi checkbox được chọn */
    .checkbox input[type="checkbox"]:checked + label::before {
        background-color: #00FF00; /* Màu nền khi đã chọn */
    }

    /* Định dạng khi checkbox chưa được chọn */
    .checkbox input[type="checkbox"]:not(:checked) + label::before {
        background-color: #c4d0d9; /* Màu nền khi chưa chọn */
    }
</style>

<div id="body-danhsach">
    <div class="notification-toast top-right" id="notification-toast"></div>
    <div class="modal fade" id="modal-import">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background: #129dc1;">
                    <h5 class="modal-title" id="exampleModalLabel">IMPORT FILE</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span style="color: red">Sử dụng template mẫu để import: </span><a href="/Admin/SanPhamChiTiet/DownloadFile">Download</a>
                    <br />
                    <input hidden type="file" id="import" onchange="displaySelectedFile(this)" name="file" />
                    <button class="btn btn-tone mt-3" id="btn-import">
                        <i class="anticon anticon-file-excel m-r-5"></i>
                        <span>Import</span>
                    </button>
                    <p class="mt-3" id="selected-file-name" style="padding-top: 10px;color: #1c0497;"></p>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button class="btn btn-primary submit_file">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script>
       $(() => {
           $('.submit_file').click(() => {
               $('#preloader').show();
                    var data = new FormData();
                    data.append('file', $('#import')[0].files[0]);
                    $.ajax({
                        url: "@Url.Action("ImportProducts", "SanPhamChiTiet")",
                        type: 'POST',
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            $('#preloader').hide();
                            alert("import thanh cong");
                            window.location.href = "/admin/sanphamchitiet/danhsachsanpham";
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                });
            });

    </script>
    <div class="notification-toast top-right" id="notification-toast"></div>
    <div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #129dc1;">
                    <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span id="thongBao"></span>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button type="button" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSanPham"></div>

    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
                <a class="breadcrumb-item" href="#">DANH SÁCH SẢN PHẨM</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <button class="btn btn-kio" style="position: absolute;right: 24px;top: 21px;z-index:1" onclick="window.location.href = '@Url.Action("ManageSanPham", "SanPhamChiTiet")'">
            <i class="fas fa-cog"></i>
            <span>Quản lý sản phẩm</span>
        </button>
        <div class="card-body main_danh_sach">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="excel-tab" data-toggle="tab" href="#excel" role="tab" aria-controls="excel" aria-selected="true">Thao tác Excel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sanPhamNgungKinhDoanh-tab" data-toggle="tab" href="#sanPhamNgungKinhDoanh" role="tab" aria-controls="sanPhamNgungKinhDoanh" aria-selected="false">Sản phẩm ngừng kinh doanh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="timKiemNangCao-tab" data-toggle="tab" href="#timKiemNangCao" role="tab" aria-controls="timKiemNangCao" aria-selected="false">Tìm kiếm nâng cao</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">
                <div class="tab-pane fade show active" id="excel" style="height: auto" role="tabpanel" aria-labelledby="excel-tab">
                    <div class="row w-100">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="m-b-10 ml-1">
                                    <button class="btn btn-kio btn-import" data-toggle="modal" data-target="#modal-import">
                                        <i class="anticon anticon-file-excel m-r-5"></i>
                                        <span>
                                            Import Excel
                                        </span>
                                    </button>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <button class="btn btn-kio" onclick="window.location.href='/admin/sanphamchitiet/ExportToExcel'">
                                        <i class="anticon anticon-file-excel m-r-5"></i>
                                        <span>
                                            Export Excel
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sanPhamNgungKinhDoanh" style="height: auto" role="tabpanel" aria-labelledby="sanPhamNgungKinhDoanh-tab">
                    <div class="row w-100">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="m-b-10">
                                    <a class="btn btn-kio" href="/Admin/SanPhamChiTiet/DanhSachSanPhamNgungKinhDoanh">
                                        <i class="anticon anticon-arrow-right"></i>
                                        <span>Đi đến danh sách sản phẩm ngừng kinh doanh</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="timKiemNangCao" role="tabpanel" style="height: auto" aria-labelledby="timKiemNangCao-tab">
                    <div class="row w-100">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                                <div class="m-b-10">
                                    <select class="select2_active" style="min-width: 180px;" data-column="1" id="filterSanPham">
                                        <option value="" selected="">Sản phẩm</option>
                                        @foreach (var item in (SelectList)ViewData["SanPham"]!)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }

                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterThuongHieu">
                                        <option value="" selected="">Thương hiệu</option>
                                        @foreach (var item in (SelectList)ViewData["ThuongHieu"]!)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterMauSac">
                                        <option value="" selected="">Màu sắc</option>
                                        @foreach (var item in (SelectList)ViewData["MauSac"]!)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="select2_active" style="min-width: 180px;" id="filterKichCo">
                                        <option value="" selected="">Kích cỡ</option>
                                        @foreach (var item in (SelectList)ViewData["KichCo"]!)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="m-b-10 ml-1">
                                    <select class="custom-select" style="min-width: 180px;" id="filterSort">
                                        <option value="" selected="">Xắp xếp</option>
                                        <option value="ascending_quantity">Số lượng tăng dần</option>
                                        <option value="descending_quantity">Số lượng giảm dần</option>
                                        <option value="ascending_price">Giá bán tăng dần</option>
                                        <option value="descending_price">Giá bán giảm dần</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <button class="btn btn-tone" onclick="window.location.href='/Admin/SanPhamChiTiet/DanhSachSanPham'">
                                <i class="fas fa-bullseye m-r-5"></i>
                                <span>Khôi phục mặc định</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table table-hover no-footer w-100" id="table-sanpham">
                </table>
            </div>
        </div>
    </div>
    <div id="confirm-ds" class="mt-2 mb-2">
        <div style=" position: fixed; top: 90px; right: 26px; z-index: 2">
            <button class="btn btn-warning ngung_kinh_doanh">
                <i class="fas fa-ban"></i>
                <span>Ngừng kinh doanh</span>
            </button>
            <button class="btn btn-primary thaotac">
                <i class="far fa-edit"></i>
                <span>Cập nhật</span>
            </button>
        </div>
    </div>

</div>

<script>
    var table;
    var sanpham;
    var thuongHieu;
    var mauSac;
    var kichCo;
    var sort;
    $(() => {
        $('.select2_active').select2();
        $('#btn-import').click((event) => {
            event.preventDefault();
            $('#import').trigger('click');
        });
    });

    function displaySelectedFile(input) {
        const selectedFile = input.files[0];
        if (selectedFile) {
            const fileName = selectedFile.name;
            document.getElementById('selected-file-name').textContent = fileName;
        }
    }

    $(() => checkToshowConfirm())
    const checkToshowConfirm = () => {
        const sumCheck = $('input[type="checkbox"]:checked');
        if (sumCheck.length>0) {
            $('#confirm-ds').show()
        } else {
            $('#confirm-ds').hide()
        }
    }
    $(document).on('click', '.cursor-image', function () {
        const id = $(this).data('data');
        $.ajax({
            url: '/Admin/SanPhamChiTiet/LoadPartialView?idSanPhamChiTiet='+id,
            type: 'GET',
            success: function (result) {
                const modal = $('#modalSanPham');
                modal.empty();
                modal.html(result);
                modal.modal("show")
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    })
    $(() => {
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    })

    $(document).ready(function () {
        let selectedCheckboxes = {};
        table = $('#table-sanpham').DataTable({
        ajax: {
            url: '@Url.Action("GetDanhSachSanPham", "SanPhamChiTiet", new { area= "Admin" })',
            type: 'POST',
            dataType: 'json',
            data: function (e) {
                return JSON.stringify({
                    draw: e.draw,
                    start: e.start,
                    length: e.length,
                    searchValue: e.search.value,
                    SanPham: sanpham,
                    MauSac: mauSac,
                    KichCo: kichCo,
                    ThuongHieu: thuongHieu,
                    Sort: sort
                });
                },
            contentType:'application/json',
            cache: true
        },
        serverSide: true,
        paging: true,
        scrollX: true,
        columns: [
            {
                data: 'idChiTietSp',
                title: '<div class="checkbox"><input id="check-all" type="checkbox"><label for="check-all" class="m-b-0"></label></div>',
                render: function (data, type, row, meta) {
                    const isChecked = selectedCheckboxes[data.idChiTietSp];
                    const checkedAttribute = isChecked ? 'checked' : '';
                    return `
                    <div class="checkbox" data-id="${data}"><input id="check-item-${data}" type="checkbox" class="item"><label for="check-item-${data}" "${checkedAttribute}" class="m-b-0"></label></div>
                    `;
                },
                orderable: false
            },
            {
                data: null,
                title: 'STT',
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                },
                orderable: false
            },
            {
                data: 'ma',
                title: 'Mã SP',
                orderable: false
            },
            {
                data: null,
                title: 'Sản phẩm',
                render: function (data, type, row, meta) {
                    if (data.anh === null) {
                        var defaultImageUrl = '/images/NoImage.png';
                        return `
                                <div class="d-flex align-items-center"><img data-data="${data.idChiTietSp}" data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm" class="img-fluid cursor-image rounded" src="${defaultImageUrl}" style="max-width: 60px" alt=""><h6 class="m-b-0 m-l-10">${data.sanPham}</h6></div>
                            `;
                    } else {
                        return `
                                <div class="d-flex align-items-center"><img data-data="${data.idChiTietSp}" data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm" class="img-fluid cursor-image rounded" src="/AnhSanPham/${data.anh}" style="max-width: 60px" alt=""><h6 class="m-b-0 m-l-10">${data.sanPham}</h6></div>
                            `;
                    }
                },
                orderable: false
            },
            {
                data: 'kichCo',
                title: 'Size',
                orderable: false
            },
            {
                data: 'kieuDeGiay',
                title: 'Kiểu đế giầy',
                orderable: false
            },
            {
                data: 'chatLieu',
                title: 'Chất liệu',
                orderable: false
            },
            {
                data: 'giaNhap',
                title: 'Giá nhập',
                render: function (data, type, row, meta) {
                    return new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data).replace(",00", "");
                },
                orderable: false
            },
            {
                data: 'giaBan',
                title: 'Giá bán',
                render: function (data, type, row, meta) {
                    return new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data).replace(",00", "");
                },
                orderable: false
            },
            {
                data: 'soLuongTon',
                title: 'Số lượng',
                orderable: false,
                render: function (data, type, row) {
                    if (type === 'display' || type === 'filter') {
                        return formatNumber(data);
                    }
                    return data;
                }
            },
            {
                data: null,
                title: '#',
                render: function (data, type, row, meta) {
                    return `
                    <button class="btn btn-icon btn-primary btn-rounded btn-tone delete-item"><i class="far fa-trash-alt"></i></button>
                    `;
                },
                orderable: false
            },
        ],
        initComplete: function (settings, json) {

            $('#table-sanpham').on('draw.dt', function () {
                $('input[type="checkbox"]').each(function () {
                    if ($(this).attr('id')) {
                        const id = $(this).attr('id').replace('check-item-', '');
                        if (selectedCheckboxes[id]) {
                            $(this).prop('checked', true);
                        } else {
                            $(this).prop('checked', false);
                        }
                    }
                });
            });

            $('#check-all').on('change', function () {
                const isCheckedAll = $(this).prop('checked');
                $('input[type="checkbox"].item').each(function () {
                    const id = $(this).attr('id').replace('check-item-', '');;
                    $(this).prop('checked', isCheckedAll);

                    if (isCheckedAll) {
                        selectedCheckboxes[id] = true;
                    } else {
                        delete selectedCheckboxes[id];
                    }
                    checkToshowConfirm();
                });
            });

            $('#table-sanpham').on('change', 'input[type="checkbox"]', function () {
                const id = $(this).attr('id').replace('check-item-', '');
                if ($(this).prop('checked')) {
                    selectedCheckboxes[id] = true;
                } else {
                    delete selectedCheckboxes[id];
                }

                const totalCheckboxes = $('input[type="checkbox"]').length;
                const totalChecked = $('input[type="checkbox"]:checked').length;
                $('#check-all').prop('checked', totalChecked === totalCheckboxes);
                checkToshowConfirm();
            });

            $('#filterSanPham').on('change', function () {
                sanpham = $(this).val();
                table.draw();
            });

            $('#filterThuongHieu').on('change', function () {
                thuongHieu = $(this).val();
                table.draw();
            });

            $('#filterMauSac').on('change', function () {
                mauSac = $(this).val();
                table.draw();
            });

            $('#filterKichCo').on('change', function () {
                kichCo = $(this).val();
                table.draw();
            });

            $('#filterSort').on('change', function () {
                sort = $(this).val();
                table.draw();
            });
        },

    });


        $(document).on("click", ".delete-item", function () {
           $('#confirm').find('#thongBao').text("Bạn có muốn ngừng kinh doanh mặt hàng này?");
           $('#confirm').modal('show');
           var item = $(this).closest('tr')
           $('#confirm').off('click', '.btn-primary');
           $('#confirm').one('click', '.btn-primary', function () {
               const id = item.find('.checkbox').attr('data-id');
               $.ajax({
                   url: '/Admin/SanPhamChiTiet/Delete/' + id,
                   type: 'GET',
                   success: function (result) {
                       if (result) {
                           delete selectedCheckboxes[id];
                           item.remove();
                           $('#confirm').modal('hide');
                           showToastDeleteSucsess();
                           checkToshowConfirm();
                           table.draw();
                       }
                   },
                   error: function (xhr, status, error) {
                       console.log(xhr.responseText);
                       console.log(status);
                       console.log(error);
                       console.log(xhr);
                   }
               });
               confirmModal.modal('hide');
           });
       })

        $(document).on("click", '.ngung_kinh_doanh', function () {
            const keys = Object.keys(selectedCheckboxes);
            $('#confirm').find('#thongBao').text(`Bạn có muốn ngừng kinh doanh ${keys.length} mặt hàng này?`);
            $('#confirm').modal('show');
            const soLuong = keys.length;
            const data = { listGuild: keys };
            console.log(JSON.stringify(data));
            $('#confirm').off('click', '.btn-primary');
            $('#confirm').one('click', '.btn-primary', function () {
                $.ajax({
                    url: '/Admin/SanPhamChiTiet/NgungKinhDoanhListSanPham',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result) {
                            var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                <div class="toast-header">
                                    <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                    <strong class="mr-auto">Thông báo</strong>
                                    <small>1 seconds ago</small>
                                    <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    <span>Đã ngừng kinh doanh ${soLuong} mặt hàng!</span>
                                </div>
                            </div>`
                            $('#confirm').modal('hide');
                            $('#notification-toast').append(toastHTML)
                            $('#notification-toast .toast').toast('show');
                            setTimeout(function () {
                                $('#notification-toast .toast:first-child').remove();
                            }, 3000);
                            $('#confirm-ds').hide();
                            selectedCheckboxes = {};
                            table.draw();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        console.log(xhr);
                    }
                });
            })
        })

        $(document).on("click", '.thaotac', function () {
           const keys = Object.keys(selectedCheckboxes);
           const data = { "listGuild": keys };
           console.log(JSON.stringify(data));
           $('#preloader').show();
           $.ajax({
               url: 'GetPartialViewListUpdate',
               type: 'POST',
               data: JSON.stringify(data),
               contentType: 'application/json',
               success: function (result) {
                   $('#body-danhsach').html(result)
                   $('#preloader').hide();
               },
               error: function (xhr, status, error) {
                   console.log(xhr.responseText);
                   console.log(status);
                   console.log(error);
                   console.log(xhr);
               }
           });
       })
    });

    function formatNumber(number) {
        if (number >= 1000) {
            const formattedNumber = (number / 1000).toFixed(1) + 'k';
            return formattedNumber.replace('.0', '');
        }
        return number.toString();
    }
    function showToastDeleteSucsess() {
        var toastHTML = `<div class="toast fade hide" data-delay="3000">
        <div class="toast-header">
            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
            <strong class="mr-auto">Thông báo</strong>
            <small>1 seconds ago</small>
            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <span>Đã ngừng kinh doanh!</span>
        </div>
    </div>`

        $('#notification-toast').append(toastHTML)
        $('#notification-toast .toast').toast('show');
        setTimeout(function () {
            $('#notification-toast .toast:first-child').remove();
        }, 3000);
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
    <script src="~/Admin/vendors/select2/select2.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
}
