<style>
    #table-sanpham tbody tr {
        cursor: pointer;
    }

    .modal-custom {
        max-width: 80% !important;
    }

    .swal2-title {
        font-family: 'Arial', sans-serif; /* Chọn font bạn muốn sử dụng cho alert */
    }
</style>

<div class="card-body">
    <div class="modal fade" id="modal-upload_image">
        <div class="modal-dialog modal-dialog-centered">
            <form id="form_upload" asp-action="uploadimage" method="post" class="modal-content" enctype="multipart/form-data">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="exampleModalLabel">UPLOAD ẢNH</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <input hidden type="file" id="chose-img" onchange="displaySelectedFileImages(this)" multiple name="files" accept="image/*" />
                    <a class="btn btn-kio mt-3" id="btn-chose-img">
                        <i class="anticon anticon-paper-clip m-r-5"></i>
                        <span>Chọn ảnh(s)</span>
                    </a>
                    <p class="mt-3" id="file-img-info" style="padding-top: 5px;color: #1c0497;"></p>
                    <br />
                    <span style="color: red">
                        Lưu ý:
                        <br />
                        -Bạn nên đặt tên các file ảnh khác nhau để tránh gặp lỗi!
                        <br />
                        -Ví dụ: Tên giày_Màu sắc_Kích cỡ_STT.
                    </span>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button class="btn btn-kio submit_file" type="submit">
                        <i class="anticon anticon-loading m-r-5"></i>
                        <i class="anticon anticon-upload m-r-5"></i>
                        <span>
                            Upload
                        </span>
                    </button>
                    <button type="button" class="btn btn-kio" id="btn_skip">Skip</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modal-import">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="exampleModalLabel">IMPORT FILE</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span style="color: red">Sử dụng template mẫu để import: </span><a href="/Admin/SanPhamChiTiet/DownloadFileTemplate">Download</a>
                    <br />
                    <input hidden type="file" id="chose-excel" onchange="displaySelectedFileExcel(this)" name="file" accept=".xlsx, .xls" />
                    <button class="btn btn-kio mt-3" id="btn-chose-import">
                        <i class="anticon anticon-paper-clip m-r-5"></i>
                        <span>Chọn file Excel</span>
                    </button>
                    <p class="mt-3" id="file-excel-info" style="padding-top: 5px;color: #1c0497;"></p>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button class="btn btn-kio" id="submit_import">Import</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-kio" style="position: absolute;right: 24px;top: 21px;z-index:1" onclick="window.location.href = '@Url.Action("ManageSanPham", "SanPhamChiTiet")'">
        <i class="anticon anticon-shop"></i>
        <span>Thêm mới & chỉnh sửa sản phẩm</span>
    </button>
    <div class="modal fade" id="modal-SanPham"></div>

    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-dialog-scrollable modal-custom">
            <div class="modal-content">
                <div class="modal-header align-items-center" style=" background: #00090b; color: white">
                    <i class="far fa-bell m-r-5" style="font-size: 33px"></i>
                    <h5 style="color: white" class="modal-title" id="ModalLabelDanhSach">DANH SÁCH SẢN PHẨM</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="modal-dssanpham">
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="excel-tab" data-toggle="tab" href="#excel" role="tab" aria-controls="excel" aria-selected="false">Thao tác Excel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sanPhamNgungKinhDoanh-tab" data-toggle="tab" href="#sanPhamNgungKinhDoanh" role="tab" aria-controls="sanPhamNgungKinhDoanh" aria-selected="false">Danh sách</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="timKiemNangCao-tab" data-toggle="tab" href="#timKiemNangCao" role="tab" aria-controls="timKiemNangCao" aria-selected="true">Bộ lọc</a>
        </li>
    </ul>
    <div class="tab-content m-t-15" id="myTabContent">
        <div class="tab-pane fade" id="excel" style="height: auto" role="tabpanel" aria-labelledby="excel-tab">
            <div class="row w-100">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-kio" onclick="ConfirmImport()">
                                <i class="anticon anticon-file-excel m-r-5"></i>
                                <span>
                                    Import Excel
                                </span>
                            </button>
                        </div>
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-kio" onclick="window.location.href='/admin/sanphamchitiet/ExportToExcel'">
                                <i class="anticon anticon-file-excel m-r-5"></i>
                                <span>
                                    Export Excel
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="sanPhamNgungKinhDoanh" style="height: auto" role="tabpanel" aria-labelledby="sanPhamNgungKinhDoanh-tab">
            <div class="row w-100">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <a class="btn btn-kio" href="/Admin/SanPhamChiTiet/DanhSachSanPhamNgungKinhDoanh">
                                <i class="far fa-list-alt m-r-5"></i>
                                <span>Danh sách sản phẩm ngừng kinh doanh</span>
                            </a>
                        </div>
                        <div class="m-b-10 m-l-10">
                            <a class="btn btn-kio" href="/Admin/SanPhamChiTiet/DanhSachSanPham">
                                <i class="far fa-list-alt m-r-5"></i>
                                <span>Danh sách sản phẩm đang kinh doanh</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                </div>
            </div>
        </div>
        <div class="tab-pane fade active show" id="timKiemNangCao" role="tabpanel" style="height: auto" aria-labelledby="timKiemNangCao-tab">
            <div class="row w-100">
                <div class="col-lg-12">
                    <div class="d-md-flex">
                        <div class="m-b-10">
                            <select class="select2_active" style="min-width: 180px;" data-column="1" id="filterSanPham">
                                <option value="" selected="">Sản phẩm</option>
                                @foreach (var item in (SelectList)ViewData["IdSanPham"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <select class="select2_active" style="min-width: 180px;" id="filterThuongHieu">
                                <option value="" selected="">Thương hiệu</option>
                                @foreach (var item in (SelectList)ViewData["IdThuongHieu"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <select class="select2_active" style="min-width: 180px;" id="filterKieuDeGiay">
                                <option value="" selected="">Kiểu đế giày</option>
                                @foreach (var item in (SelectList)ViewData["IdKieuDeGiay"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <select class="select2_active" style="min-width: 180px;" id="filterChatLieu">
                                <option value="" selected="">Chất liệu</option>
                                @foreach (var item in (SelectList)ViewData["IdChatLieu"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <select class="select2_active" style="min-width: 180px;" id="filterLoaiGiay">
                                <option value="" selected="">Loại giày</option>
                                @foreach (var item in (SelectList)ViewData["IdLoaiGiay"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <select class="select2_active" style="min-width: 180px;" id="filterXuatXu">
                                <option value="" selected="">Xuất xứ</option>
                                @foreach (var item in (SelectList)ViewData["IdXuatXu"]!)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-kio" onclick="window.location.href='/Admin/SanPhamChiTiet/TongQuanSanPham'">
                                <i class="anticon anticon-delete m-r-5"></i>
                                <span>Xóa bộ lọc</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 m-t-15">
        <table class="table table-bordered table-hover no-footer w-100" id="table-sanpham">
        </table>
    </div>
</div>

<script>
    var soLuongUpdate;
    var idSanPham;
    var idXuatXu;
    var idKieuDeGiay;
    var idChatLieu;
    var idLoaiGiay;
    var idThuongHieu;
    var tableDSTongQuan;

    $(document).off('click', '#btn_skip')
    $(document).on('click', '#btn_skip', function () {
        $('#modal-upload_image').modal('hide');
        $('#modal-import').modal('show');
    })
    $(() => {
            tableDSTongQuan = $('#table-sanpham').DataTable({
    ajax: {
        url: '@Url.Action("GetTongQuanDanhSach", "SanPhamChiTiet", new { area = "Admin" })',
        type: 'POST',
        dataType: 'json',
        data: function (e) {
            return JSON.stringify(
                {
                    Draw: e.draw,
                    Start: e.start,
                    Length: e.length,
                    SearchValue: e.search.value,
                    IdSanPham: idSanPham,
                    IdThuongHieu: idThuongHieu,
                    IdKieuDeGiay: idKieuDeGiay,
                    IdChatLieu: idChatLieu,
                    IdLoaiGiay: idLoaiGiay,
                    IdXuatXu: idXuatXu
                }
            )
        },
        contentType: 'application/json'
    },
    serverSide: true,
    paging: true,
    pageLength: 10,
    columns: [
        {
            data: null,
            title: 'STT',
            render: function (data, type, row, meta) {
                return meta.row + 1;
            },
            orderable: false
        },
        {
            data: 'SanPham',
            title: 'Sản phẩm',
            orderable: false
        },
        {
            data: 'ThuongHieu',
            title: 'Thương hiệu',
            orderable: false
        },
        {
            data: 'KieuDeGiay',
            title: 'Kiểu đế',
            orderable: false
        },
        {
            data: 'ChatLieu',
            title: 'Chất liệu',
            orderable: false
        },
        {
            data: 'XuatXu',
            title: 'Xuất xứ',
            orderable: false
        },
        {
            data: 'LoaiGiay',
            title: 'Loại giày',
            orderable: false
        },
        {
            data: 'SoMau',
            title: 'Số màu',
            orderable: false
        },
        {
            data: 'SoSize',
            title: 'Số size',
            orderable: false
        },
        {
            data: 'TongSoLuongTon',
            title: 'S/Lượng',
            orderable: false
        },
        {
            data: 'TongSoLuongDaBan',
            title: 'Đã bán',
            orderable: false
        },
    ],
    rowCallback: function (row, data, index) {
        $(row).on("click", function () {
            keyProduct = data.SumGuild
            $.ajax({
                url: '/Admin/SanPhamChiTiet/GetRelatedProducts',
                type: 'GET',
                data: {
                    "sumGuid": data.SumGuild
                },
                success: function (result) {
                    $('#ModalLabelDanhSach').text(`${data.ThuongHieu.toUpperCase()} - ${data.SanPham.toUpperCase()} - ${data.KieuDeGiay.toUpperCase()} - ${data.ChatLieu.toUpperCase()} - ${data.LoaiGiay.toUpperCase()} - ${data.XuatXu.toUpperCase()}`);
                    $('#modal-dssanpham').empty().html(result);
                    $('#exampleModal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });


        });
    },

    initComplete: function (settings, json) {
        $('#filterSanPham').on('change', function () {
            idSanPham = $(this).val();
            tableDSTongQuan.draw();
        });

        $('#filterThuongHieu').on('change', function () {
            idThuongHieu = $(this).val();
            tableDSTongQuan.draw();
        });

        $('#filterKieuDeGiay').on('change', function () {
            idKieuDeGiay = $(this).val();
            tableDSTongQuan.draw();
        });

        $('#filterChatLieu').on('change', function () {
            idChatLieu = $(this).val();
            tableDSTongQuan.draw();
        });

        $('#filterLoaiGiay').on('change', function () {
            idLoaiGiay = $(this).val();
            tableDSTongQuan.draw();
        });

        $('#filterXuatXu').on('change', function () {
            idXuatXu = $(this).val();
            tableDSTongQuan.draw();
        });
    }
});
    })
 $('#modal-SanPham').on('hidden.bs.modal', function () {
     $('#exampleModal').modal('show');
 });

    $(() => {
        $('.select2_active').select2();
    })

    function GetDanhDachTongQuan() {
        tableDSTongQuan.draw();
    }

    function showModal(value) {
        $.ajax({
            url: '/Admin/SanPhamChiTiet/LoadPartialView?idSanPhamChiTiet=' + value,
            type: 'GET',
            success: function (result) {
                $('#exampleModal').modal('hide');
                $('#modal-SanPham').empty().html(result).modal("show");
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }


    $(document).off('hidden.bs.modal', '#modal-upload_image')
    $(document).on('hidden.bs.modal', '#modal-upload_image', function (e) {
        $('#modal-import').modal('show');
    });
$(document).off('submit', '#form_upload')
    $(document).on('submit', '#form_upload', function (event) {
        event.preventDefault()
        var $form = $(this);
        var $btn = $('.submit_file')
        $btn.addClass('is-loading')
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (result) {
                if (result) {
                    $form.find('input[type="file"]').val('');
                    $('#file-img-info').text('')
                    var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                        <div class="toast-header">
                                            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                            <strong class="mr-auto">Thông báo</strong>
                                            <small>1 seconds ago</small>
                                            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="toast-body">
                                            <span>Đã upload thành công!</span>
                                        </div>
                                    </div>`

                    $('#notification-toast').append(toastHTML)
                    $('#notification-toast .toast').toast('show');
                    setTimeout(function () {
                        $('#notification-toast .toast:first-child').remove();
                    }, 3000);
                    $('#modal-upload_image').modal('hide')
                    $('#modal-import').modal('show')
                    $btn.removeClass('is-loading')
                } else {
                    alert('Upload thất bại!')
                    $btn.removeClass('is-loading')
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                $btn.removeClass('is-loading')
            }
        });


    });
$(document).off('click', '#btn-chose-img')
$(document).on('click', '#btn-chose-img', function () {
    $('#chose-img').trigger('click');
})
function displaySelectedFileImages(value) {
    $('#file-img-info').text('\u00A0\u00A0' + value.files.length + " ảnh được chọn")
}
function ConfirmImport() {
    Swal.fire({
        title: 'Trước khi import Sản phẩm bạn có file ảnh(s) cần upload không?',
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'Có',
        cancelButtonText: 'Không',
    }).then((result) => {
        if (result.isConfirmed) {
            $('#modal-upload_image').modal('show')
        } else {
            $('#modal-import').modal('show')
        }
    });

}
$(document).off('click', '#btn-chose-import')
$(document).on('click', '#btn-chose-import', function () {
    $('#chose-excel').trigger('click');
})
function displaySelectedFileExcel(value) {
    const selectedFile = value.files[0];
    $('#file-excel-info').text(selectedFile.name)
}
$(document).on('click', '#submit_import', function () {
    $('#preloader').show();
    $('#modal-import').modal('hide')
    var data = new FormData();
    data.append('file', $('#chose-excel')[0].files[0]);
    $.ajax({
        url: "@Url.Action("ImportProducts", "SanPhamChiTiet")",
        type: 'POST',
        data: data,
        contentType: false,
        processData: false,
        success: function (result) {
            $('#preloader').hide();
            Swal.fire({
                title: "Thông báo!",
                html: `
                      <div class="text-left" style="padding-left: 100px;">
                          <span class="text-primary">
                              Success: ${result.slSuccess}
                          </span>
                          <br />
                          <span class="text-red">
                              False: ${result.slFalse}
                          </span>
                      </div>
                  `,
                icon: "info",
                allowOutsideClick: false,
                showCancelButton: result.slFalse > 0,
                confirmButtonText: result.slFalse > 0 ? 'Download File Lỗi' : 'OK',
                cancelButtonText: 'Close',
            }).then((resultAlert) => {
                if (resultAlert.isConfirmed) {
                    if (result.slFalse > 0) {
                        var iframe = document.createElement('iframe');
                        iframe.style.display = 'none';
                        document.body.appendChild(iframe);

                        iframe.src = '/Admin/sanphamchitiet/DownloadFileErr';

                        iframe.onload = function () {
                            document.body.removeChild(iframe);
                        };

                        iframe.onerror = function (error) {
                            console.log('Error downloading file:', error);
                        };
                    }
                    setTimeout(function () {
                        window.location.reload();
                    },100)

                } else if (resultAlert.dismiss === Swal.DismissReason.cancel) {
                    if (resultAlert.value) {
                        window.location.reload();

                    } else {
                        window.location.reload();
                    }
                }
            });
        },
        error: function (xhr, status, error) {
            console.log(xhr.responseText);
            console.log(status);
            console.log(error);
            console.log(xhr);
        }
    });
})
</script>

