@model IEnumerable<App_Data.Models.SanPhamChiTiet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KieuDeGiay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XuatXu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MauSac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiGiay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.IdSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuDeGiay.IdKieuDeGiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XuatXu.IdXuatXu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu.IdChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac.IdMauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichCo.IdKichCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiGiay.IdLoaiGiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu.IdThuongHieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChiTietSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChiTietSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChiTietSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
