@model App_Data.ViewModels.SanPhamChiTietDTO.SanPhamChiTietDTO

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal fade" id="cauHinh">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cấu hình mặc định</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="font-weight-semibold">Giá Nhập</label>
                            <input id="giaNhap" class="form-control formatPrice" name="GiaNhap" placeholder="">
                        </div>
                        <div class="form-group col-4">
                            <label class="font-weight-semibold">Giá Bán</label>
                            <input min="1" id="giaBan" class="form-control formatPrice" name="GiaBan" placeholder="">
                        </div>
                        <div class="form-group col-4">
                            <label class="font-weight-semibold">Số lượng</label>
                            <input id="soLuongTon" class="form-control formatNumber" name="SoLuongTon">
                        </div>
                        <div class="form-group d-flex align-items-center col-2">
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1-day" class="switch-2-day">
                                <label class="font-weight-semibold" for="switch-1-day"></label>
                            </div>
                            <label class="font-weight-semibold">Dây</label>
                        </div>
                        <div class="form-group d-flex align-items-center col-2">
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1-noibat" class="switch-2-noibat">
                                <label class="font-weight-semibold" for="switch-1-noibat"></label>
                            </div>
                            <label class="font-weight-semibold">Nổi bật</label>
                        </div>

                        <div class="form-group col-12">
                            <div class="m-b-5" style="margin-top: 10px;">
                                <label class="font-weight-semibold" style="display: block; margin-bottom: 5px;">
                                    Mô tả sản phẩm
                                </label>
                                <div class="moTa" style="width: 100%; " id="MoTaCauHinh"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="notification-toast top-right" id="notification-toast"></div>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
            <a class="breadcrumb-item" href="#">QUẢN LÝ THỰC THỂ SẢN PHẨM</a>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body" id="formGen">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h5 style="margin: 0;">QUẢN LÝ SẢN PHẨM</h5>
            <div class="d-flex">
                <button class="btn btn-icon btn-danger btn-rounded btn-tone mr-1" data-toggle="modal" data-target="#cauHinh">
                    <i class="fab fa-whmcs"></i>
                </button>
                <button onclick="generate()" class="btn btn-tone">Tạo các biến thể</button>
            </div>
        </div>
        <div class="m-b-15" style="margin-bottom: 30px">
            <div class="row">
                <div class="col-4" style="margin-top: 10px" id="sanpham">
                    <label class="font-weight-semibold">Tên sản phẩm</label>
                    <select class="w-100 select2-active" asp-for="IdSanPham">
                        @foreach (var item in (SelectList)ViewData["IdSanPham"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-4" style="margin-top: 10px" id="thuonghieu">
                    <label class="font-weight-semibold">Thương hiệu</label>
                    <select class="select2-active w-100" asp-for="IdThuongHieu">
                        @foreach (var item in (SelectList)ViewData["IdThuongHieu"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-4" style="margin-top: 10px" id="xuatxu">
                    <label class="font-weight-semibold">Xuất xứ</label>
                    <select class="select2-active w-100" asp-for="IdXuatXu">
                        @foreach (var item in (SelectList)ViewData["IdXuatXu"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-4" style="margin-top: 10px" id="chatlieu">
                    <label class="font-weight-semibold">Chất liệu</label>
                    <select class="select2-active w-100" asp-for="IdChatLieu">
                        @foreach (var item in (SelectList)ViewData["IdChatLieu"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-4" style="margin-top: 10px" id="loaigiay">
                    <label class="font-weight-semibold">Loại giầy</label>
                    <select class="select2-active w-100" asp-for="IdLoaiGiay">
                        @foreach (var item in (SelectList)ViewData["IdLoaiGiay"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-4" style="margin-top: 10px" id="kieudegiay">
                    <label class="font-weight-semibold">Kiểu đế giầy</label>
                    <select class="select2-active w-100" asp-for="IdKieuDeGiay">
                        @foreach (var item in (SelectList)ViewData["IdKieuDeGiay"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-6" style="margin-top: 10px" id="mausac">
                    <label class="font-weight-semibold">Màu Sắc</label>
                    <select id="IdColor" class="select2-active w-100"
                            multiple="multiple">
                        @foreach (var item in (SelectList)ViewData["IdMauSac"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="col-6" style="margin-top: 10px" id="kichco">
                    <label class="font-weight-semibold">Kích cỡ</label>
                    <select id="IdSize" class="select2-active w-100"
                            multiple="multiple">
                        @foreach (var item in (SelectList)ViewData["IdKichCo"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm" class="mt-2 mb-2" style="display: none">
    <div class="d-flex justify-content-end">
        <button onclick="Huy()" class="btn btn-tone mr-2">Hủy</button>
        <button onclick="CapNhat()" class="btn btn-tone">Cập nhật</button>
    </div>
</div>

<div class="accordion borderless" id="accordion-borderless">
</div>

<script>
    $(() => {
        $(".select2-active").select2();
        $('#thuonghieu').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenThuongHieu: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenThuongHieu',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdThuongHieu']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.tenThuongHieu, result.idThuongHieu, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#xuatxu').find('input.select2-input').on('keyup', function (e) {
            console.log('xuatxu');
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        Ten: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenXuatXu',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdXuatXu']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.ten, result.idXuatXu, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#sanpham').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenSanPham: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenSanPham',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdSanPham']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.tenSanPham, result.idSanPham, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#loaigiay').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenLoaiGiay: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenLoaiGiay',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdLoaiGiay']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.tenLoaiGiay, result.idLoaiGiay, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#chatlieu').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenChatLieu: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenChatLieu',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdChatLieu']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.tenChatLieu, result.idChatLieu, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#kieudegiay').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenKieuDeGiay: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenKieuDeGiay',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("[name='IdKieuDeGiay']");
                            var selectedValue = $select2.val();
                            if (selectedValue && selectedValue.length > 0) {
                                $select2.val(null).trigger('change');
                            }
                            var newOption = new Option(result.tenKieuDeGiay, result.idKieuDeGiay, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($select2.val());
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#mausac').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        TenMauSac: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenMauSac',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            var $select2 = $("#IdColor");

                            var newOption = new Option(result.tenMauSac, result.idMauSac, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                            console.log($("[name='listNameSanPham']").select2('data'));
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
        $('#kichco').find('input.select2-input').on('keyup', function (e) {
            if (e.keyCode === 13) {
                var inputValue = $(this).val();
                if (inputValue) {
                    var data = {
                        soKichCo: inputValue,
                    };
                    $.ajax({
                        url: 'CreateTenKichCo',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (result) {
                            console.log(result);
                            var $select2 = $("#IdSize");

                            var newOption = new Option(result.soKichCo, result.idKichCo, true, true);
                            $select2.append(newOption).trigger('change');

                            $(this).val('');
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }
            }
        });
    })
</script>

<script>
    $(() => {
        $('#MoTaCauHinh').summernote();
        $('#cauHinh').find(".formatPrice").each(function () {
            var autoNumeric = new AutoNumeric(this, {
                decimalCharacter: ".",
                digitGroupSeparator: ",",
                decimalPlaces: 0,
                currencySymbol: " ₫",
                currencySymbolPlacement: "s",
                minimumValue: 0
            });
        });
        $('#cauHinh').find(".formatNumber").each(function () {
            var autoNumeric = new AutoNumeric(this, {
                decimalCharacter: ".",
                digitGroupSeparator: ",",
                decimalPlaces: 0,
                minimumValue: 0
            });
        });
    })
</script>

<script>
    const URL_CHECK_UPDATE_OR_ADD = 'CheckSanPhamAddOrUpdate';
    const URL_CREATE_PRODUCT = 'Create';
    const URL_CREATE_IMAGE = 'CreateAnh';
    const URL_DELETE_LIST_IMAGE = 'DeleteAnh';
    const URL_UPDATE_PRODUCT_DETAIL = 'UpdateSanPham'
    const selectedFiles = {};
    const lstAnhRemove = {};

    const AddEditor = () => {
        var lstThucThe = $('.accordion').find('.moTa');
        lstThucThe.each(function (index, item) {
            $(item).summernote();
        });
    }


    const disabledFormMain = () => $('#formGen').find('*').prop("disabled", true);
    const unDisabledFormMain = () => $('#formGen').find('*').prop("disabled", false);
    //Huy
    async function Huy() {
        await window.location.reload();
    }

    //itemTemplate
    const ItemTemplate = (index, isUpdate, idProduct, idcolor, idsize, Title, giaNhap, giaBan, soLuong, moTa) => {
        return `
<div class="card item-accordion" data-update="${isUpdate}" data-idproductdetail="${idProduct}">
        <div class="card-header d-flex">
            <h5 class="card-title">
                <a data-toggle="collapse" data-IdMauSac="${idcolor}" data-IdKichCo="${idsize}"
                   href="#collapseOneBorderless${index}">
                    <span>${Title}</span>
                </a>
            </h5>
            <button class="btn btn-icon btn-tone btn-rounded btn-tone btnn-close">
                <i class="anticon anticon-close"></i>
            </button>
        </div>
        <div id="collapseOneBorderless${index}" class="collapse" data-parent="#accordion-borderless">

            <div class="d-flex">
                <ul class="nav nav-tabs flex-column" id="myTabVertical" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab-vertical" data-toggle="tab" href="#home-vertical${index}"
                           role="tab" aria-controls="home-vertical${index}" aria-selected="true">Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-vertical" data-toggle="tab" href="#profile-vertical${index}"
                           role="tab" aria-controls="profile-${index}" aria-selected="false">Image</a>
                    </li>
                </ul>

                <div class="tab-content m-l-15" id="myTabContentVertical">
                    <div class="tab-pane fade show active" id="home-vertical${index}" role="tabpanel"
                         aria-labelledby="home-tab-vertical${index}">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label class="font-weight-semibold">Giá Nhập(*)</label>
                                    <input min="1" class="form-control formatPrice" name="GiaNhap" value="${giaNhap}"
                                           placeholder="">
                                </div>
                                <div class="form-group col-4">
                                    <label class="font-weight-semibold">Giá Bán(*)</label>
                                    <input min="1" class="form-control formatPrice" name="GiaBan" value="${giaBan}"
                                           placeholder="">
                                </div>
                                <div class="form-group col-4">
                                    <label class="font-weight-semibold">Số lượng(*)</label>
                                    <input class="form-control formatNumber" name="SoLuongTon" value="${soLuong}">
                                </div>
                                <div class="form-group d-flex align-items-center col-2">
                                    <div class="switch m-r-10">
                                        <input type="checkbox" id="switch-${index}" class="switch-2-day">
                                        <label class="font-weight-semibold" for="switch-${index}"></label>
                                    </div>
                                    <label class="font-weight-semibold">Dây</label>
                                </div>
                                <div class="form-group d-flex align-items-center col-2">
                                    <div class="switch m-r-10">
                                        <input type="checkbox" id="switch-${index}-1" class="switch-2-noibat">
                                        <label class="font-weight-semibold" for="switch-${index}-1"></label>
                                    </div>
                                    <label class="font-weight-semibold">Nổi bật</label>
                                </div>
                                <div class="form-group col-12">
                                    <div class="m-b-5" style="margin-top: 10px;">
                                        <label class="font-weight-semibold" style="display: block; margin-bottom: 5px;">
                                            Mô tả sản phẩm
                                        </label>
                                        <div class="moTa" style="width: 100%; " name="MoTa">${moTa}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-vertical${index}" role="tabpanel"
                         aria-labelledby="profile-tab-vertical${index}">
                        <div class="card-body">
                            <div class="upload">
                                <button name="choseFile" class="custom-btn btn-tone mb-2">
                                    Choose file
                                </button>
                                <input type="file" class="fileInput default-btn 1" multiple hidden>
                                <div class="container-file" style="display: flex;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
            `;
    }


    //getDataMain
    const GetDataMain = () => {

        const dataMain = {};
        $('#formGen').find("input, select, textarea").each(function () {

            var fieldType = $(this).attr("type");
            var fieldName = $(this).attr("name");
            var fieldValue;

            if (fieldType === "checkbox" || fieldType === "radio") {
                fieldValue = $(this).is(":checked");
            } else {
                fieldValue = $(this).prop('value');
            }
            if (fieldName) {
                dataMain[fieldName] = fieldValue;
            }

        });
        return dataMain
    }

    //getProduct
    const getProductDetail = data => new Promise((resolve, reject) => {
        $.ajax({
            url: URL_CHECK_UPDATE_OR_ADD,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                resolve(result)
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                reject(error);
            }
        });
    })

    //Check Update or Add to gen Item template
    async function generate() {

        const lstColor = Array.from($('#IdColor option:checked')).map(option => ({ text: option.text, value: option.value }))

        const lstSize = Array.from($('#IdSize option:checked')).map(option => ({ text: option.text, value: option.value }))

        if (!lstSize.length || !lstColor.length) {
            alert('Vui lòng chọn đủ thực thể để bắt đầu gen')
            return;
        }

        disabledFormMain();
        $('#preloader').show();
        $('#confirm').show();

        const ajaxPromises = [];
        const maxPromise = 5;
        const container = $('#accordion-borderless');

        for (let i = 0; i < lstColor.length; i++) {
            for (let j = 0; j < lstSize.length; j++) {
                const index = i * lstSize.length + j;
                const data = { ...GetDataMain(), ...{ 'IdKichCo': lstSize[j].value, 'IdMauSac': lstColor[i].value } }
                const promise = getProductDetail(data);
                promise.then((respose) => {
                    console.log(respose);
                    if (respose.success) {
                        const itemAppend = $(ItemTemplate(index, true, respose.data.idChswitchiTietSp, lstColor[i].value, lstSize[j].value, lstColor[i].text + ' - ' + lstSize[j].text, respose.data.giaNhap, respose.data.giaBan, respose.data.soLuongTon, respose.data.moTa))
                        container.append(itemAppend)
                        if (respose.data.day = "true") {
                            itemAppend.find('.switch-2-day').prop('checked', true);
                        }
                        if (respose.data.noiBat) {
                            itemAppend.find('.switch-2-noibat').prop('checked', true);
                        }
                        const key = itemAppend.find('.collapse').attr('id');
                        const containerFile = itemAppend.find('.upload').find('.container-file');
                        lstAnhRemove[key] = []
                        Array.from(respose.data.danhSachAnh).map((nameFile) => {
                            const wrapper = $('<div>').addClass('wrapper-file');
                            const image = $('<div>').addClass('image');
                            const imageElement = $('<img>').addClass('file-image').attr('src', '/AnhSanPham/' + nameFile);

                            imageElement.on('click', () =>
                                changeImage(imageElement, nameFile, key)
                            );

                            const closeIcon = $('<i>').addClass('fas fa-times close-icon');


                            image.append(imageElement);
                            image.append(closeIcon);

                            const content = $('<div>').addClass('content');
                            const icon = $('<div>').addClass('icon');
                            icon.html('<i class="fas fa-cloud-upload-alt"></i>');
                            content.append(icon);

                            var cancelBtn = $('<div>').addClass('cancel-btn');
                            cancelBtn.html('<i class="fas fa-times"></i>');

                            wrapper.append(image);
                            wrapper.append(content);
                            wrapper.append(cancelBtn);
                            containerFile.append(wrapper);

                            closeIcon.on('click', function () {
                                const fileInput = wrapper.find('input');
                                if (fileInput.length == 0) {
                                    lstAnhRemove[key].push(nameFile)
                                } else {
                                    const indexDelete = selectedFiles[key].findIndex(item => item.key === nameFile);
                                    selectedFiles[key].splice(indexDelete, 1);
                                }

                                wrapper.remove();
                            });

                            return;
                        });

                    } else {
                        container.append(ItemTemplate(index, false, "", lstColor[i].value, lstSize[j].value, lstColor[i].text + ' - ' + lstSize[j].text, $('#giaNhap').val().replace(/₫|,|\s/g, ''), $('#giaBan').val().replace(/₫|,|\s/g, ''), $('#soLuongTon').val().replace(/₫|,|\s/g, ''), $('#MoTaCauHinh').summernote('code')))
                    }
                }).catch((er) => console.log(er))

                ajaxPromises.push(promise);

                if (ajaxPromises.length >= maxPromise) {
                    await Promise.all(ajaxPromises);
                    ajaxPromises.length = 0
                }
            }
        }

        await Promise.all(ajaxPromises);
        $('#preloader').hide();

        $(".formatPrice").each(function () {
            var autoNumeric = new AutoNumeric(this, {
                decimalCharacter: ".",
                digitGroupSeparator: ",",
                decimalPlaces: 0,
                currencySymbol: " ₫",
                currencySymbolPlacement: "s",
                minimumValue: 0
            });
        });

        $(".formatNumber").each(function () {
            var autoNumeric = new AutoNumeric(this, {
                decimalCharacter: ".",
                digitGroupSeparator: ",",
                decimalPlaces: 0,
                minimumValue: 0
            });
        });
        AddEditor();
    }

    //close Item gen
    $(document).on('click', '.btnn-close', function () {
        this.closest('.item-accordion').remove();
        if ($('.accordion').find($('.item-accordion')).length === 0) {
            unDisabledFormMain();
            $('#confirm').hide();
        }
    })

    //Creat event click for file input
    $(document).on('click', '[name= "choseFile"]', function () {
        $(this).closest('.upload').find('.fileInput').click()
    })

    //change for file element click current
    const changeImage = (imageElement, file, key) => {
        const newInputFile = $('<input>').attr('type', 'file').css('display', 'none');
        newInputFile.on('change', function () {
            const newFile = this.files[0]
            if (newFile) {
                const container = imageElement.closest('.wrapper-file')
                container.append(newInputFile)
                if (newFile && newFile.type.startsWith('image/')) {
                    if (typeof file === 'object' && file instanceof File) {
                        const CheckIndex = selectedFiles[key].findIndex(file => file.data.name === newFile.name);
                        if (CheckIndex !== -1) {
                            alert('File này đã tồn tại')
                        } else {
                            const indexChange = selectedFiles[key].findIndex(item => item.key === file.name);
                            imageElement.attr('src', URL.createObjectURL(newFile));
                            selectedFiles[key][indexChange] = { key: file.name, data: newFile };
                        }
                    } else {
                        if (!selectedFiles[key]) {
                            selectedFiles[key] = []
                            selectedFiles[key].push({ key: file, data: newFile });
                            imageElement.attr('src', URL.createObjectURL(newFile));
                            lstAnhRemove[key].push(file)
                        } else {
                            if (Array.from(selectedFiles[key]).find(item => item.data.name === newFile.name)) {
                                alert('File này đã được chọn trước đó!')
                            } else {
                                const foundItem = selectedFiles[key].find(item => item.key === file);
                                if (foundItem) {
                                    selectedFiles[key].find(item => item.key === file).data = newFile;
                                    imageElement.attr('src', URL.createObjectURL(newFile))
                                } else {
                                    selectedFiles[key].push({ key: file, data: newFile })
                                    lstAnhRemove[key].push(file)
                                    imageElement.attr('src', URL.createObjectURL(newFile))
                                }
                            }
                        }
                    }
                }
            }
        })
        newInputFile.click()
    }

    //When file change
    $(document).on('change', '.fileInput', function () {
        const imageList = $(this).closest('.upload').find('.container-file');
        const key = imageList.closest('.collapse').attr('id');

        Array.from(this.files).map((file) => {
            if (file.type.startsWith("image")) {
                const wrapper = $('<div>').addClass('wrapper-file');
                const image = $('<div>').addClass('image');
                const imageElement = $('<img>').addClass('file-image').attr('src', URL.createObjectURL(file));

                if (!selectedFiles[key]) {
                    selectedFiles[key] = []
                }
                selectedFiles[key].push({ key: file.name, data: file });

                imageElement.on('click', () =>
                    changeImage(imageElement, file, key)
                );

                const closeIcon = $('<i>').addClass('fas fa-times close-icon');


                image.append(imageElement);
                image.append(closeIcon);

                const content = $('<div>').addClass('content');
                const icon = $('<div>').addClass('icon');
                icon.html('<i class="fas fa-cloud-upload-alt"></i>');
                content.append(icon);

                var cancelBtn = $('<div>').addClass('cancel-btn');
                cancelBtn.html('<i class="fas fa-times"></i>');

                wrapper.append(image);
                wrapper.append(content);
                wrapper.append(cancelBtn);
                imageList.append(wrapper);

                closeIcon.on('click', function () {
                    const fileInput = wrapper.find('input');
                    if (fileInput.length == 0) {
                        const indexDelete = selectedFiles[key].findIndex(item => item.data.name === file.name);
                        selectedFiles[key].splice(indexDelete, 1);
                    } else {
                        const indexDelete = selectedFiles[key].findIndex(item => item.data.name === fileInput.name);
                        selectedFiles[key].splice(indexDelete, 1);
                    }
                    wrapper.remove();
                });

                return;
            }
            this.files = "";
            alert('Vui lòng chọn đúng định dạng');
        });
    });

    function CapNhat() {
        var items = $('.item-accordion');
        var currentIndex = 0;
        var checkErr = 0;
        var checkSS = 0

        function processNextItem() {
            if (currentIndex >= items.length) {
                if ($('.accordion').find($('.item-accordion')).length === 0) {
                    setTimeout(() => window.location.reload(), 1000)
                }
                $('#preloader').hide();
                if (checkSS > 0) {
                    var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                            <div class="toast-header">
                                                <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                                <strong class="mr-auto">Bootstrap</strong>
                                                <small>1 second ago</small>
                                                <button type="button" class="ml-2 btn btn-tone close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="toast-body">
                                                ${checkSS} thực thể được cập nhật thành công
                                            </div>
                                    </div>`

                    $('#notification-toast').append(toastHTML)
                    $('#notification-toast .toast').toast('show');
                    setTimeout(function () {
                        $('#notification-toast .toast:first-child').remove();
                    }, 3000);
                    checkErr = 0;
                }

                if (checkErr > 0) {
                    var toastHTML = `<div class="toast fade hide" data-delay="3000">
                                        <div class="toast-header">
                                            <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                                            <strong class="mr-auto">Bootstrap</strong>
                                            <small>1 second ago</small>
                                            <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="toast-body">
                                            Một vài thực thể dữ liệu chưa được nhập.
                                            Vui lòng nhập để tiếp tục
                                        </div>
                                    </div>`
                    $('#notification-toast').append(toastHTML)
                    $('#notification-toast .toast').toast('show');
                    setTimeout(function () {
                        $('#notification-toast .toast:first-child').remove();
                    }, 3000);
                    checkErr = 0;
                }
                return
            }
            const currentItem = items.eq(currentIndex);

            var isUpdate = currentItem.attr('data-update');

            var dataBienThe = {};

            $(currentItem.find('.tab-pane')[0]).find("input, select, textarea").each(function () {
                var fieldType = $(this).attr("type");
                var fieldName = $(this).attr("name");
                var fieldValue;

                if (fieldType === "checkbox" || fieldType === "radio") {
                    fieldValue = $(this).is(":checked");
                } else {
                    if ($(this).hasClass("formatPrice") || $(this).hasClass("formatNumber")) {
                        var fieldValue = $(this).val();
                        fieldValue = BigInt(fieldValue.replace(/₫|,|\s/g, '')).toString();
                    } else {
                        fieldValue = $(this).val();
                    }
                }
                if (fieldName) {
                    dataBienThe[fieldName] = fieldValue;
                }
            });


            const DataInDataset = {}

            Array.from(["IdMauSac", "IdKichCo"]).forEach(name => {
                let value = currentItem.attr('data-' + name) || currentItem.find('[data-' + name + ']').attr('data-' + name);
                if (value !== undefined) {
                    DataInDataset[name] = value;
                }
            });

            const moTa = { MoTa: currentItem.find('.moTa').summernote('code') }
            if (isUpdate === 'true') {
                const key = currentItem.find('.collapse').attr('id');


                if (selectedFiles[key] && Array.from(selectedFiles[key]).length > 0) {
                    var data = new FormData();
                    Array.from(selectedFiles[key]).map(item => data.append('lstIFormFile', item.data))
                    data.append('IdChiTietSp', currentItem.attr('data-idproductdetail'));
                    $.ajax({
                        url: URL_CREATE_IMAGE,
                        type: 'POST',
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                }

                if (lstAnhRemove[key] && Array.from(lstAnhRemove[key]).length > 0) {
                    const data = new FormData();
                    lstAnhRemove[key].map(item => data.append('lstImageRemove', item))
                    data.append('idProductDetail', currentItem.attr('data-idproductdetail'))
                    fetch(URL_DELETE_LIST_IMAGE, {
                        method: 'POST',
                        body: data
                    })
                        .then(response => {
                            if (response.ok) {
                                if (response.headers.get("content-length") !== "0") {
                                    return response.json();
                                } else {
                                    return null;
                                }
                            }
                            throw new Error('Network response was not ok.');
                        })
                        .then(data => {

                        })
                        .catch(error => {
                            console.error(error);
                        });
                }

                $.ajax({
                    url: URL_UPDATE_PRODUCT_DETAIL,
                    type: 'POST',
                    data: JSON.stringify({ ...GetDataMain(), ...dataBienThe, ...DataInDataset, ...{ IdChiTietSp: currentItem.attr('data-idproductdetail') }, ...moTa, ...{ Day: currentItem.find('.switch-2-day').prop('checked'), NoiBat: currentItem.find('.switch-2-noibat').prop('checked') } }),
                    contentType: 'application/json',
                    success: function (result) {
                        checkSS++;
                        currentItem.remove();
                        currentIndex++;
                        processNextItem();
                    },
                    error: function (xhr, status, error) {
                        checkErr++;
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        console.log(xhr);
                    }
                });


            } else {
                if (dataBienThe.GiaBan != 0 && dataBienThe.GiaNhap != 0 && dataBienThe.SoLuongTon != 0) {
                    $.ajax({
                        url: URL_CREATE_PRODUCT,
                        type: 'POST',
                        data: JSON.stringify({
                            ...GetDataMain()
                            , ...dataBienThe
                            , ...DataInDataset
                            , ...moTa
                            , ...{ Day: currentItem.find('.switch-2-day').prop('checked'), NoiBat: currentItem.find('.switch-2-noibat').prop('checked') }
                        }),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.success) {
                                const key = currentItem.find('.collapse').attr('id');
                                if (selectedFiles[key] && Array.from(selectedFiles[key]).length > 0) {
                                    var data = new FormData();
                                    selectedFiles[key].map(item => data.append('lstIFormFile', item.data))
                                    data.append('IdChiTietSp', result.idChiTietSp);
                                    $.ajax({
                                        url: URL_CREATE_IMAGE,
                                        type: 'POST',
                                        data: data,
                                        contentType: false,
                                        processData: false,
                                        success: function (result) {
                                        },
                                        error: function (xhr, status, error) {
                                            console.log(xhr.responseText);
                                            console.log(status);
                                            console.log(error);
                                            console.log(xhr);
                                        }
                                    });
                                }
                                checkSS++;
                                currentItem.remove();
                                currentIndex++;
                                processNextItem();
                            }
                        },
                        error: function (xhr, status, error) {
                            checkErr++;
                            console.log(xhr.responseText);
                            console.log(status);
                            console.log(error);
                            console.log(xhr);
                        }
                    });
                } else {
                    checkErr++;
                    currentIndex++;
                    processNextItem();
                }
            }
        }
        processNextItem();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin/vendors/select2/select2.min.js" defer></script>
    <script src="~/Admin/js/pages/form-elements.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
}

