@page "/admin/members"
@model App_View.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<form method="post">
    <button type="submit" name="addButton">Thêm 100 người dùng</button>
</form>

<p><h2>Tổng số thành viên: @Model.totalUsers</h2></p>

<table class="table">
    <tr>
        <th>Người dùng</th>
        <th>Chức vụ</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in @Model.users)
    {
        <tr>
            <td>@user.UserName</td>    
            <td>
                @if (string.IsNullOrEmpty(user.RoleName))
                {
                    <a style="text-decoration: none" class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+ Thêm chức vụ </a>
                }
                else
                {
                    <a style="text-decoration: none" asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleName</a>
                }
               
            </td>    
            <td>
                <a class="btn btn-success btn-sm" asp-page="./AddRole" asp asp-route-id="@user.Id">Cập nhật</a>
                <a class="btn btn-success btn-sm" asp-page="./SetPassword" asp asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>
@{
    var pagingmodel = new XTL.Helpers.PagingModel()
            {
                currentpage = Model.currentPage,
                countpages =Model.countPages,
                generateUrl = (int? p) => Url.Page("./Index", new { p = p })
            };
}
<partial name="_Paging" model="@pagingmodel" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}