@using App_Data.Models;
@using App_Data.ViewModels.HoaDon;
@using App_View.IServices;
@using App_View.Models.ViewModels;
@using static App_Data.Repositories.TrangThai;
@inject ISanPhamChiTietservice SanPhamChiTietservice
@model HoaDon
<head>
	<link rel="stylesheet" type="text/css" href="~/Admin/css/print.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<div class="container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-body p-0">
					<div class="invoice-container">
						<div class="invoice-header">
							<!-- Row start -->
							<div class="row gutters" style="display: flex;margin-right: -15px;margin-left: -15px;flex-direction: row;flex-wrap: wrap;">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="custom-actions-btns mb-5">
		
										<button class="btn btn-secondary" onclick="printModalContent()" id="printHoaDon" data-id="@Model.IdHoaDon">
											<i class="icon-printer"></i> Print
										</button>
										@if (Model.TrangThaiGiaoHang == 0&&Model.TrangThaiThanhToan==1)
										{
											<button class="btn btn-danger m-r-5" onclick="HuyHoaDon()" id="HuyHoaDon">Hủy</button>
										}

									</div>
								</div>
							</div>
		
							<div class="store-info">
								<h2>BAZAIZAI STORE</h2>
								<p>Phố Trịnh Văn Bô, Nam Từ Liêm</p>
								<p>Hotline: 0374232108</p>
							</div>
							<!-- Row end -->
							<!-- Row start -->
							<div class="row gutters" style="display: flex;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;flex-direction: row;">
								@if (Model.IdThongTinGH != null)
								{
									<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="flex: 0 0 65%;max-width: 65%;">
										<div class="invoice-details">
											<address>
												@(ViewBag.TTGH == null ? "Lỗi địa chỉ" : ViewBag.TTGH)
											</address>
										</div>
									</div>
								}
								<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" style="flex: 0 0 35%;max-width: 35%;float:left">
									<div class="invoice-details">
										<div class="invoice-num" style="text-align:left">
											<div>Hóa đơn - @ViewData["MAHD"]</div>
											<div>@ViewData["NGAYTAO"]</div>
											<div>@((ViewBag.TenNguoiNhan != null) ? "Khách hàng: " + ViewBag.TenNguoiNhan : (ViewBag.NguoiDung != null && ViewBag.KhachHang != null) ? "Khách hàng: "+(ViewBag.KhachHang + " | NV:" + ViewBag.NguoiDung) : "Khách vãng lai | " + "NV: "+ViewBag.NguoiDung)</div>
											@if (ViewBag.Sdt != null)
											{
												<div>Sdt: @ViewBag.Sdt</div>
											}
										</div>
									</div>
								</div>
							</div>
							<!-- Row end -->
						</div>
						<div class="invoice-body">
							<!-- Row start -->
							<div class="row gutters">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="table-responsive">
										<table class="custom-table-modal m-0" style="width: 100%;border-radius: 0;border: 1px solid #e6e9f0;">
											<thead >
												<tr style="background-color: #659ce7;">
													<th>Sản phẩm</th>
													<th>Mã Sản phẩm</th>
													<th>Số lợng</th>
													<th>Tổng tiền</th>
												</tr>
											</thead>
											<tbody style="border: 1px solid #e6e9f0;">
												@{
													var sanPhamChiTietList = await SanPhamChiTietservice.GetAllListSanPhamChiTietViewModelAsync();

												}
												@foreach (var hdct in ViewBag.HDCT)
												{
													
													<tr>
														<td style ="border: 1px solid #e6e9f0;">
															@*<img src="~/AnhSanPham/@sanPhamSaleViewModelList.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp== hdct.IdSanPhamChiTiet).SanPhamDanhSachView.Anh" style="width:50px" id ="imgSp"/>*@
															@sanPhamChiTietList.FirstOrDefault(x=>x.IdChiTietSp== hdct.IdSanPhamChiTiet).SanPham
															<p class="m-0 text-muted">
																@sanPhamChiTietList.FirstOrDefault(x=>x.IdChiTietSp== hdct.IdSanPhamChiTiet).LoaiGiay
															</p>
														</td>
														<td style="border: 1px solid #e6e9f0;">@sanPhamChiTietList.FirstOrDefault(x=>x.IdChiTietSp== hdct.IdSanPhamChiTiet).Ma</td>
														<td style="border: 1px solid #e6e9f0;">@hdct.SoLuong</td>
														<td style="border: 1px solid #e6e9f0;">
															<div style="display:flex;flex-direction: column;">
																@if (hdct.GiaBan != hdct.GiaGoc)
																{
																	<del>@string.Format("{0:N0}đ",hdct.GiaGoc)</del>
																}
																<p>@string.Format("{0:N0}đ",hdct.GiaBan)</p>
															</div>
															
															</td>
													</tr>
												}
												
												<tr>
													<td>&nbsp;</td>
													<td colspan="2">
														<p>
															Tổng Tiền<br>
															@if (Model.TrangThaiGiaoHang != 0)
															{
																<text>
																Tiền ship <br>
																</text>
															}
															Tiền giảm<br>
															@if (Model.TrangThaiGiaoHang == 0)
															{
																<text>
																	Tiền khách trả <br>
																	Tiền thừa <br>
																</text>
															}
														</p>
														<h5 class="text-success"><strong>Tổng Cộng</strong></h5>
													</td>
													<td>
														@{
															var tongTien = Convert.ToDouble(ViewData["TONGTIEN"]) + Convert.ToDouble((ViewData["TIENSHIP"] != null && ViewData["TIENSHIP"] != "") ? ViewData["TIENSHIP"] : "0") - Convert.ToDouble((ViewData["TIENGIAM"] != null && ViewData["TIENGIAM"] != "") ? ViewData["TIENGIAM"] : "0");
														}
														<p>
															@string.Format("{0:N0}đ",ViewData["TONGTIEN"])<br>
															@if (Model.TrangThaiGiaoHang != 0)
															{
																@((ViewData["TIENSHIP"] != null && ViewData["TIENSHIP"] != "") ? string.Format("{0:N0}đ", ViewData["TIENSHIP"]) : string.Format("{0:N0}đ", "0"))
																<br>
															}
															@((ViewData["TIENGIAM"] != null && ViewData["TIENGIAM"] != "") ? string.Format("{0:N0}đ", ViewData["TIENGIAM"]) : string.Format("{0:N0}đ", "0"))<br>
															@if (Model.TrangThaiGiaoHang == 0)
															{
																@(string.Format("{0:N0}đ", ViewBag.TienKhachTra))
																<br>
																@(string.Format("{0:N0}đ", Convert.ToDouble(ViewBag.TienKhachTra - tongTien)))
															}
														</p>
														<h5 class="text-success"><strong>@string.Format("{0:N0}đ",tongTien)</strong></h5>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- Row end -->
						</div>
						<div class="invoice-footer">
							Thank you for your Business.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script>
    function printModalContent() {
        
		var printWindow = window.frames["print_frame"];
        var contentToPrint = $("#invoiceDetailContent").html();

        printWindow.document.open();
        printWindow.document.write('<html><head></head><body>' + contentToPrint + '</body></html>');
        printWindow.document.close();
        
        printWindow.print();

    }
	function HuyHoaDon() {
		Swal.fire({
			title: 'Xác nhận hủy hóa đơn',
			input: 'text',
			inputPlaceholder: 'Nhập lý do hủy...',
			showCancelButton: true,
			confirmButtonText: 'Xác nhận',
			cancelButtonText: 'Hủy bỏ',
			showLoaderOnConfirm: true,
			preConfirm: (lyDoHuy) => {
				return new Promise((resolve) => {
					// Kiểm tra nếu lý do không được nhập
					if (!lyDoHuy) {
						Swal.showValidationMessage('Vui lòng nhập lý do hủy.');
						resolve();
					} else {
						// Gửi yêu cầu AJAX để hủy hóa đơn
						var idHD = $('#printHoaDon').data('id');
						$.ajax({
							type: 'POST',
							url: "@Url.Action("XacNhanHuy", "TrangThaiGiaoHang")",
							data: { id: idHD, lyDoHuy: lyDoHuy },
							success: function (result) {
								Swal.fire({
									icon: 'success',
									title: 'Hủy thành công!',
									showConfirmButton: false,
									timer: 1500
								});
								setTimeout(function () {
									location.reload();
								}, 1500);
							},
							error: function (error) {

								console.error('Error updating status:', error);

								Swal.fire({
									icon: 'error',
									title: 'Đã xảy ra lỗi!',
									text: 'Vui lòng thử lại sau.',
									showConfirmButton: false,
									timer: 1500
								});
							}
						});
					}
				});
			}
		});
	}
</script>
