@using App_Data.Models;
@using App_Data.ViewModels.HoaDon;
@model IEnumerable<HoaDonViewModel>

<head>



 

    <link rel="stylesheet" type="text/css" href="~/Admin/css/viewHoaDon.css">
  



</head>

<body>
  

            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">Ngày tạo</th>
                                    <th class="column2">Mã hóa đơn</th>
                                    @if (ViewBag.NguoiTao != "")
                                    {
                                        <th class="column3">Tên khách hàng | Người tạo</th>
                                    }else{
                                        <th class="column3">Tên khách hàng </th>
                                    }
                                    <th class="column4">Tổng tiền</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hoaDon in Model.OrderByDescending(x => x.NgayTao))
                                {
                                    <tr class="invoice-row btnInvoiceDetail" data-invoice-id="@hoaDon.IdHoaDon">
                                        <td class="column1">@hoaDon.NgayTao</td>
                                        <td class="column2">@hoaDon.MaHoaDon</td>
                                        <td class="column3">@(((hoaDon.TenNguoiNhan == "" || hoaDon.TenNguoiNhan == null) && hoaDon.IdKhachHang == null) ? "Khách vãng lai" + $" | NV: {((List<NguoiDung>)ViewBag.NguoiDung).FirstOrDefault(x => x.Id == hoaDon.IdNguoiDung).TenNguoiDung}" : (hoaDon.IdKhachHang != null) ? $"{((List<KhachHang>)ViewBag.KhachHang).FirstOrDefault(x => x.IdKhachHang == hoaDon.IdKhachHang).TenKhachHang}" + $" | NV: {((List<NguoiDung>)ViewBag.NguoiDung).FirstOrDefault(x => x.Id == hoaDon.IdNguoiDung).TenNguoiDung}" : hoaDon.TenNguoiNhan)</td>
                                        <td class="column4">@string.Format("{0:N0}đ",hoaDon.TongTien)</td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        


        


</body>


<!-- Modal để hiển thị thông tin chi tiết hóa đơn -->
<div id="invoiceDetailModal" class="modal fade custom-modal-width" role="dialog">
    <div class="modal-dialog custom-modal-width">
        <div class="modal-content">
            <div class="modal-header" style="flex-direction: row-reverse;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết hóa đơn</h4>
            </div>
            <div class="modal-body" id="invoiceDetailContent">
                <!-- Nội dung chi tiết hóa đơn sẽ được load thông qua Ajax -->
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            $(".btnInvoiceDetail").on("click", function () {
                var invoiceId = $(this).data("invoice-id");


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChiTietHoaDon", "HoaDon")",
                data: { id: invoiceId },
                    success: function (response) {
                        $("#invoiceDetailContent").html(response);
   
                        $("#invoiceDetailModal").modal("show");
                    },
                    error: function (error) {
                        // Xử lý lỗi nếu cần
                    }
                });
            });
        });
    </script>

