@using App_Data.DbContextt;
@using App_Data.Models;
@using App_View.IServices;
@using App_View.Models.ViewModels;
@using App_View.Services;
@using static App_Data.Repositories.TrangThai;
@inject ISanPhamChiTietService sanPhamChiTietService;
@inject IKhuyenMaiServices khuyenMaiService;
@inject IDanhGiaService _DanhGiaService
@{
    BazaizaiContext context = new BazaizaiContext();
    _DanhGiaService = new DanhGiaService();
    var sanPhamChiTietList = new List<App_Data.ViewModels.SanPhamChiTietViewModel.SanPhamDanhSachViewModel>();
    try
    {
        sanPhamChiTietList = await sanPhamChiTietService.GetListSanPhamChiTietViewModelAsync();
    }
    catch (Exception)
    {
        sanPhamChiTietList = new List<App_Data.ViewModels.SanPhamChiTietViewModel.SanPhamDanhSachViewModel>();
    }
    var sanPhamSaleViewModelList = new List<SanPhamSaleViewModel>();

    foreach (var pro in sanPhamChiTietList)
    {
        var trangThaiSale = (await sanPhamChiTietService.GetByKeyAsync(pro.IdChiTietSp)).TrangThaiSale;
        var trangThai = (await sanPhamChiTietService.GetByKeyAsync(pro.IdChiTietSp)).TrangThai;
        var giaThucTe = (await sanPhamChiTietService.GetByKeyAsync(pro.IdChiTietSp)).GiaThucTe;
        var sanPhamSaleViewModel = new SanPhamSaleViewModel
        {
            SanPhamDanhSachView = pro,
            TrangThaiSale = Convert.ToInt32(trangThaiSale),
            TrangThai = Convert.ToInt32(trangThai),
            GiaThucTe = giaThucTe
        };

        sanPhamSaleViewModelList.Add(sanPhamSaleViewModel);
    }
    var lstSpDuocApDungKhuyenMai = sanPhamSaleViewModelList.Where(x => ( x.TrangThaiSale == (int)TrangThaiSaleInProductDetail.DaApDungSale) && x.TrangThai == (int)TrangThaiCoBan.HoatDong);
    var flashSale = context.khuyenMaiChiTiets.Where(x=>x.TrangThai==(int)TrangThaiSaleDetail.DangKhuyenMai);
    List<string> temp = new List<string>();
    List<KhuyenMai> tempKM = new List<KhuyenMai>();
    foreach (var salemax in flashSale)
    {
        temp.Add(salemax.IdKhuyenMai);
    }
    foreach (var id in temp.Distinct().ToList())
    {
        var km = (await khuyenMaiService.GetAllKhuyenMai()).FirstOrDefault(x => x.IdKhuyenMai == id);
        tempKM.Add(km);
    }
    var saleMax = tempKM.Max(x => x.MucGiam);
    var sale = tempKM.FirstOrDefault(x => x.MucGiam == saleMax);
    flashSale = context.khuyenMaiChiTiets.Where(x=>x.TrangThai==(int)TrangThaiSaleDetail.DangKhuyenMai&&x.IdKhuyenMai==sale.IdKhuyenMai);

}
<div class="app-content">
    <!--====== Anti Flash White Background ======-->
    <div class="bg-anti-flash-white">

        <!--====== White Container ======-->
        <div class="white-container">
            <div class="container">

                <!--====== Primary Slider ======-->
                <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-black">
                    <div class="owl-carousel primary-style-2 owl-loaded owl-drag" id="hero-slider">



                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-4436px, 0px, 0px); transition: all 1.5s ease 0s; width: 7763px;">
                                @{
                                    int i = 1;
                                }
                                @if (tempKM != null && tempKM.Count > 0)
                                {
                                    foreach(var _km in tempKM){ 
                                        <div class="owl-item cloned" style="width: 1110px; margin-right: -1px;">
                                            <div class="hero-slide hero-slide--@i" style="background-image:url('/AnhSale/@_km.Url');">
                                                <div class="primary-style-2-container">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="slider-content slider-content--animation">
                                                                <span class="content-span-2 u-c-white">@_km.TenKhuyenMai</span>
                                                                <span class="content-span-3 u-c-white">Bắt đầu từ @_km.NgayBatDau-@_km.NgayKetThuc</span>
                                                                <span class="content-span-4 u-c-white">
                                                                    Bắt đầu tại
                                                                    <span class="u-c-brand">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}",lstSpDuocApDungKhuyenMai.Min(x=>x.GiaThucTe))</span>
                                                                </span>
                                                                <a class="shop-now-link btn--e-brand" href="/sanphamchitiets">SHOP NOW</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    }
                                }else{
                                    <div class="owl-item cloned" style="width: 1110px; margin-right: -1px;">
                                        <div class="hero-slide hero-slide--@i" style="background-image:url('/images/banners/banner2.jpg');">
                                            <div class="primary-style-2-container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="slider-content slider-content--animation">

                                                            <span class="content-span-1 u-c-white">Tìm thương hiệu hàng đầu</span>

                                                            <span class="content-span-2 u-c-white">Giày xịn giá tốt chỉ có tại BAZAIZAI STORE</span>

                                                            <span class="content-span-3 u-c-white">Tìm giày với giá tốt nhất</span>

                                                            <span class="content-span-4 u-c-white">
                                                                Bắt đầu tại

                                                                <span class="u-c-brand">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}",lstSpDuocApDungKhuyenMai.Min(x=>x.GiaThucTe))</span>
                                                            </span>

                                                            <a class="shop-now-link btn--e-brand" href="/sanphamchitiets">SHOP NOW</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                               
                                
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev">
                                <span aria-label="Previous">‹</span>
                            </button>
                            <button type="button" role="presentation" class="owl-next">
                                <span aria-label="Next">›</span>
                            </button>
                        </div>

                </div>
                <!--====== End - Primary Slider ======-->
            </div>

            <!--====== Section 1 ======-->
            <!--====== Electronic Category ======-->
            @await Component.InvokeAsync("Category")

            <!--====== Electronic Category ======-->
            <!--====== End - Section 1 ======-->




            @*<div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 u-s-m-b-30">

                            <a class="collection" href="/sanphamchitiets">
                                <div class="aspect aspect--bg-grey aspect--square">

                                    <img class="aspect__img collection__img" src="/images/Advertisement/SERMON TITLESERMON TOPIC - Made with PosterMyWall.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7 u-s-m-b-30">

                            <a class="collection" href="/sanphamchitiets">
                                <div class="aspect aspect--bg-grey aspect--1286-890">

                                    <img class="aspect__img collection__img" src="~/images/Advertisement/New collection fashion sale twitter post - Made with PosterMyWall.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7 u-s-m-b-30">

                            <a class="collection" href="/sanphamchitiets">
                                <div class="aspect aspect--bg-grey aspect--1286-890">

                                    <img class="aspect__img collection__img" src="images/Advertisement/FLYER SHOES - Made with PosterMyWall.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-5 col-md-5 u-s-m-b-30">

                            <a class="collection" href="/sanphamchitiets">
                                <div class="aspect aspect--bg-grey aspect--square">

                                    <img class="aspect__img collection__img" src="/images/Advertisement/Yellow Shoe Drive Charity Instagram Post Temp - Made with PosterMyWall.jpg" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@










            <!--====== Section 2 ======-->
            <!--====== Electronics Tab ======-->
            @await Component.InvokeAsync("TabProduct")
           

                <!--====== Section Content ======-->
            <!--</div>-->
            <!--====== End - Section 7 ======-->
            <!--====== Section 8 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    @if(sale!=null){
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">@sale.TenKhuyenMai</h1>


                                    <div class="section_countdown-wrap">
                                        <div class="countdown countdown--style-section" >
                                            <div class="countdown__content">
                                                <div>
                                                    <div class="countdown_Day" >00</div>
                                                    <span class="countdown__key">Ngày</span>
                                                </div>
                                            </div>
                                            <div class="countdown__content">
                                                <div>
                                                    <div class="countdown_Hours" >00</div>
                                                            <span class="countdown__key">Giờ</span>
                                                </div>
                                            </div>
                                            <div class="countdown__content">
                                                <div>
                                                    <div class="countdown_Mins">00</div>
                                                            <span class="countdown__key">Phút</span>
                                                </div>
                                            </div>
                                            <div class="countdown__content">
                                                <div>
                                                    <div class="countdown_Secs"> 00</div>
                                                            <span class="countdown__key">Giây</span>
                                                </div>
                                            </div>
                                        </div>                                   
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            @{
                                int count = 0;
                            }
                            @if(sale!=null){
                                @foreach (var flSale in flashSale)
                                {
                                        var SaoTb = await _DanhGiaService.GetSoSaoTB(flSale.IdSanPhamChiTiet);
                                        var TongSoDanhGia = await _DanhGiaService.GetTongSoDanhGia(flSale.IdSanPhamChiTiet);

                                    if (count < 3)
                                    {
                                        <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                                            <!--====== Product Orientation Version 2 ======-->
                                            <div class="product-o2 u-h-100">
                                                <div class="product-o2__wrap">

                                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="@Url.Action("Details","SanPhamChiTiets",new{id= lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.IdChiTietSp})">

                                                        <img class="aspect__img product-o2__img" src="~/AnhSanPham/@lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.Anh" alt="">
                                                    </a>
                                                    
                                                </div>
                                                <div class="product-o2__content">

                                                    <span class="product-o2__category">

                                                            <a href="@Url.Action("Details","SanPhamChiTiets",new{id= lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.IdChiTietSp})">@lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.LoaiGiay</a>
                                                    </span>

                                                    <span class="product-o2__name">

                                                            <a href="@Url.Action("Details","SanPhamChiTiets",new{id= lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.IdChiTietSp})">@lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.SanPham</a>
                                                    </span>
                                                    <div class="product-o2__rating gl-rating-style-2">
                                                       @* <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>*@
                                                            @if (SaoTb < 0.3)
                                                            {

                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 0.8)
                                                            {
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 1.3)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 1.8)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 2.3)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 2.8)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 3.3)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 3.8)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                                <i class="far fa-star"></i>
                                                            }
                                                            else if (SaoTb < 4.3)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                            }

                                                            else if (SaoTb < 4.8)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star-half-alt"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            }

                                                        <span class="product-o2__review">(@TongSoDanhGia)</span>
                                                    </div>

                                                    <span class="product-o2__price">
                                                        @lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).GiaThucTe VNĐ

                                                        <span class="product-o2__discount">@lstSpDuocApDungKhuyenMai.FirstOrDefault(x=>x.SanPhamDanhSachView.IdChiTietSp==flSale.IdSanPhamChiTiet).SanPhamDanhSachView.GiaBan VNĐ</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--====== End - Product Orientation Version 2 ======-->
                                        </div>
                                        count++;
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }

                            }
                               
                            
                            </div>
                        </div>
                    </div>
                </div>

                <!--====== Section Content ======-->
            </div>
            <!--====== End - Section 8 ======-->
         
            <!--====== Section 10 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-truck"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">Free Shipping</span>

                                        <span class="service__info-text-2">Free shipping on all US order or order above $200</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-redo"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">Shop with Confidence</span>

                                        <span class="service__info-text-2">Our Protection covers your purchase from click to delivery</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                <div class="service u-h-100">
                                    <div class="service__icon"><i class="fas fa-headphones-alt"></i></div>
                                    <div class="service__info-wrap">

                                        <span class="service__info-text-1">24/7 Help Center</span>

                                        <span class="service__info-text-2">Round-the-clock assistance for a smooth shopping experience</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 10 ======-->
        </div>
        <!--====== End - White Container ======-->
    </div>
    <!--====== End - Anti Flash White Background ======-->
</div>
@{
    DateTime? saleEndDate;
    if(sale!=null){
        saleEndDate = sale.NgayKetThuc;
    }
    else
    {
       saleEndDate = new DateTime(0001,01,01);
    
    }
}
<script>
    let launchDate = new Date("@saleEndDate").getTime();
    let timer = setInterval(tick, 1000);

    function tick() {
        let now = new Date().getTime();
        let t = launchDate - now;
        if (t > 0) {
            let days = Math.floor(t / (1000 * 60 * 60 * 24));
            if (days < 10) { days = "0" + days; }
            let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            if (hours < 10) { hours = "0" + hours; }
            let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            if (mins < 10) { mins = "0" + mins; }
            let secs = Math.floor((t % (1000 * 60)) / 1000);
            if (secs < 10) { secs = "0" + secs; }        
            let _days = `${days}`;
            let _hours = `${hours}`;
            let _mins= `${mins}`;
            let _secs = `${secs}`;
            document.querySelector('.countdown_Day').innerText = _days;
            document.querySelector('.countdown_Hours').innerText = _hours;
            document.querySelector('.countdown_Mins').innerText = _mins;
            document.querySelector('.countdown_Secs').innerText = _secs;
        }
    }
</script>