@model IEnumerable<App_Data.Models.KhuyenMai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHinhKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhamVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                    @if (item.LoaiHinhKM == 0)
                    {
                        <text>Thương hiệu</text>
                    }
                    else if (item.LoaiHinhKM == 1)
                    {
                        <text>Màu sắc</text>
                    }
                    else if (item.LoaiHinhKM == 2)
                    {
                        <text>Định kỳ</text>
                    }
                    else if (item.LoaiHinhKM == 3)
                    {
                        <text>Mức giá</text>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhamVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKhuyenMai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKhuyenMai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKhuyenMai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
