﻿@using static App_Data.Repositories.TrangThai;
@model IEnumerable<App_Data.Models.KhuyenMai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh Khuyến mãi
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHinhKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucGiam)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/AnhSale/@item.Url" style="width:60px"></img>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhuyenMai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhuyenMai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKetThuc)
                </td>
                <td>
                    @if (item.LoaiHinhKM == 0)
                    {
                        <text>Thương hiệu</text>
                    }
                    else if (item.LoaiHinhKM == 1)
                    {
                        <text>Màu sắc</text>
                    }
                    else if (item.LoaiHinhKM == 2)
                    {
                        <text>Định kỳ</text>
                    }
                    else if (item.LoaiHinhKM == 3)
                    {
                        <text>Mức giá</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MucGiam)
                </td>

                <td>
                    <label class="switch">
                        <input type="checkbox" class="status-toggle" data-id="@item.IdKhuyenMai" data-status="@item.TrangThai" @(item.TrangThai == (int)TrangThaiSale.DangBatDau ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdKhuyenMai">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdKhuyenMai">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdKhuyenMai">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $(document).on("click", ".status-toggle", function () {
            var checkbox = $(this);
            var id = checkbox.data("id");
            var status = checkbox.is(":checked") ? 3 : 1;

            $.ajax({
                type: "POST",
                url: "@Url.Action("CapNhatTrangThai", "KhuyenMais")",
                data: { id: id, trangThai: status },
                success: function (response) {
                },
                error: function (error) {
                }
            });
        });
    });
</script>
<style>

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        border-radius: 15px; /* Góc bo tròn */
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: #ccc;
            border-radius: 50%; /* Góc bo tròn */
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        background-color: lawngreen;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

</style>