@model App_Data.ViewModels.HoaDon.HoaDonTest

@{
    ViewData["Title"] = "DetailHoaDonOnline";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/css/hoadon.css" rel="stylesheet" />
@* <!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======--> *@

<div class="col-lg-9 col-md-12">
    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <div class="dash-l-r">
                <div>
                    <div class="manage-o__text-2 u-c-secondary">Order #@Model.MaHoaDon</div>
                    <div class="manage-o__text u-c-silver">Ngày đặt: @Model.NgayTao</div>
                </div>
                <div>
                    <div class="manage-o__text-2 u-c-silver">
                        <span class="manage-o__text-2 u-c-secondary">Tổng tiền: @string.Format("{0:N0}đ", Model.TongGia)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <div class="manage-o">
                <div class="manage-o__header u-s-m-b-30">
                    <div class="manage-o__icon">
                        <i class="fas fa-box u-s-m-r-5"></i>
                        
                        <span class="manage-o__text">Thông tin đơn hàng</span>
                    </div>
                </div>
                <div class="dash-l-r">
                    <div class="manage-o__text u-c-secondary">Ngày giao dự kiến: @Model.NgayGiaoDuKien</div>
                    <div class="manage-o__icon">
                        <i class="fas fa-truck u-s-m-r-5"></i>

                        <span class="manage-o__text">Standard</span>
                    </div>
                </div>
                <div class="manage-o__timeline">
                    @if (Model.TrangThaiGiaoHang is 1)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Trả hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 2)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Trả hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 3)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Trả hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 4)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Trả hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 5)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                            <div class="col-lg-2 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Trả hàng</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @foreach (var item in Model.SanPham.Take(1))
                {
                    <div class="manage-o__description" style="margin-top:10px">
                        <div class="description__container">
                            <div class="description__img-wrap">

                                <img class="u-img-fluid" src="/AnhSanPham/@item.LinkAnh[0]" alt="">
                            </div>
                            <div class="description-title" style="color:#7f7f7f">
                                <span class="o-card__name">

                                    <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = item.IdSanPhamChiTiet })">@item.TenSanPham</a>
                                </span>
                                <span class="o-card__quantity">Size: @item.TenKichCo Màu: @item.TenMauSac</span>
                                <span class="o-card__quantity">Số lượng x @item.SoLuong</span>
                            </div>
                        </div>
                        <div class="description__info-wrap">
                            <div>
                                <span class="manage-o__text-2 u-c-silver">
                                    <span class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", item.TongTien)</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @if (Model.SanPham.Count > 1)
                    {
                        <!-- Dấu mũi tên xuống -->
                        <div class="arrow-down-btn" onclick="showHiddenProducts()"></div>
                    }

                    <div class="hidden-products">
                        @foreach (var hiddenSp in Model.SanPham.Skip(1))
                        {
                            <div class="manage-o__description" style="margin-top:10px">
                                <div class="description__container">
                                    <div class="description__img-wrap">

                                        <img class="u-img-fluid" src="/AnhSanPham/@hiddenSp.LinkAnh[0]" alt="">
                                    </div>
                                    <div class="description-title" style="color:#7f7f7f">
                                        <span class="o-card__name">

                                            <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = hiddenSp.IdSanPhamChiTiet })">@hiddenSp.TenSanPham</a>
                                        </span>
                                        <span class="o-card__quantity">Size: @hiddenSp.TenKichCo Màu: @hiddenSp.TenMauSac</span>
                                        <span class="o-card__quantity">Số lượng x @hiddenSp.SoLuong</span>
                                    </div>
                                </div>
                                <div class="description__info-wrap">
                                    <div>
                                        <span class="manage-o__text-2 u-c-silver">
                                            <span class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", hiddenSp.TongTien)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.SanPham.Count > 1)
                    {
                        <!-- Dấu mũi tên lên -->
                        <div class="arrow-up-btn" style="display:none;" onclick="hideHiddenProducts()"></div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                <div class="dash__pad-2">
                    <h2 class="dash__h2 u-s-m-b-8">Thông tin thanh toán:</h2>
                    @if (Model.TrangThaiGiaoHang is 5)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary" style="color:red !important">Đơn hàng đã huỷ</h3>
                    }
                    else if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 1)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">@Model.LoaiThanhToan</h3>
                        <h3 class="manage-o__text-2 u-c-secondary">Đã thanh toán</h3>
                    }
                    else if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 0)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">@Model.LoaiThanhToan</h3>
                        if (Model.LoaiThanhToan is not "Không có")
                        {
                            <h3 class="manage-o__text-2 u-c-secondary" style="color:red !important">Vui lòng thanh toán đơn hàng của bạn</h3>
                        }
                    }
                    else
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">COD</h3>
                        <h3 class="manage-o__text-2 u-c-secondary">Thanh toán khi nhận hàng</h3>
                    }
                </div>
            </div>
            
            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30" style="margin-bottom:unset">
                
                <div class="dash__pad-3">
                    <h2 class="dash__h2 u-s-m-b-8">Địa chỉ giao hàng:</h2>
                    <h2 class="dash__h2 u-s-m-b-8">@Model.TenNguoiNhan</h2>
                    <span class="dash__text-2">@Model.SDT</span>
                    <span class="dash__text-2">@Model.DiaChi</span>

                </div>
            </div>
        </div>
        <div class="col-lg-6" style="height:200px">
            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                <div class="dash__pad-3">
                    <h2 class="dash__h2 u-s-m-b-8">Tổng tiền:</h2>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tạm tính</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TongTien)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Phí ship</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TienShip)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tiền giảm</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TienGiam)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tổng cộng</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TongGia)</div>
                    </div>
                </div>
            </div>
            <div class="dash-l-r u-s-m-t-8">
                @if (Model.TrangThaiGiaoHang is not 5)
                {
                    if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 0)
                    {
                        if (Model.LoaiThanhToan is "Không có")
                        {
                            <a data-modal="modal" data-modal-id="#edit-ship-address">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px;text-align: center;margin-top: 15px;">Huỷ</span>
                            </a>
                        }
                        else
                        {
                            <a onclick="RePay('@Model.IdHoaDon')">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Thanh toán</span>
                            </a>
                            <a data-modal="modal" data-modal-id="#edit-ship-address">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Huỷ</span>
                            </a>

                        }
                    }
                    else if (Model.TrangThaiGiaoHang is 4)
                    {
                        <a onclick="ReBuyAjax('@Model.IdHoaDon')">
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Mua Lại</span>
                        </a>
                        <a>
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Đánh giá</span>
                        </a>
                    }
                    else if (Model.TrangThaiGiaoHang is 1 or 2)
                    {
                        <a data-modal="modal" data-modal-id="#edit-ship-address">
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px;text-align: center;margin-top: 15px;">Huỷ</span>
                        </a>
                    }
                }
                @if (Model.TrangThaiGiaoHang is 5)
                {
                    <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px; text-align: center; margin-top: 15px;" onclick="ReBuyAjax('@Model.IdHoaDon')">Mua Lại</span>
                    @* <a href="@Url.Action("ReBuy","DonHang",new{idHoaDon = Model.IdHoaDon})">
                        <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px;text-align: center;margin-top: 15px;">Mua Lại</span>
                    </a> *@
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-ship-address">
    <div class="modal-dialog modal-dialog-centered justify-content-center" style="max-width:fit-content">
        <div class="modal-content">
            <div class="modal-body">
                <div class="checkout-modal2">
                    <div class="u-s-m-b-30">
                        <div class="dash-l-r">
                            <h1 class="gl-modal-h1">Chọn lí do huỷ</h1>
                        </div>
                    </div>
                    <form class="checkout-modal2__form" asp-action="HuyDonHang" asp-controller="DonHang" asp-route-idHoaDon="@Model.IdHoaDon">
                        <tbody>
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="1" value="">
                                        <div class="radio-box__state radio-box__state--primary">
                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido1">Muốn thay đổi địa chỉ giao hàng</span>
                            </tr><br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="2">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido2">Muốn nhập/thay đổi mã Voucher</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="3">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido3">Muốn thay đổi sản phẩm trong đơn hàng</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="4">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido4">Đổi ý, không muốn mua nữa</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="5">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido5">lí do khác</span>
                                <br />
                                <textarea class="text-area text-area--primary-style" style="width:305px">

                                </textarea>
                                
                            </tr>
                        </tbody>
                        <div class="gl-modal-btn-group">
                            <button class="btn btn--e-brand-b-2" id="Lido" type="submit">Đồng ý</button>
                            @* <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">Đóng</button> *@
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var radioButtons = document.querySelectorAll('input[type=radio]');
    var id = null;
    let lidoElement = "";
    radioButtons.forEach((radioButton) => {
        radioButton.addEventListener('change', function () {
            if (this.checked) {
                id = this.id;
                lidoElement = document.getElementById('lido' + id).innerHTML;
            }
        });
    });
    $(document).ready(function () {
        $('#Lido').click(function (e) {
            e.preventDefault();

            // Kiểm tra xem có radio nào được chọn không
            if ($('input[type=radio]:checked').length === 0) {
                alert('Vui lòng chọn một lựa chọn.');
                return;
            }

            // Gửi dữ liệu qua Ajax
            $.ajax({
                type: 'PUT',
                url: '/DonHang/HuyDonHang', // Điều chỉnh đúng đường dẫn của controller và action của bạn
                data: {
                    Lido: lidoElement,
                    IdHoaDon: '@Model.IdHoaDon'
                },
                success: function (data) {
                    if (data.mess != null) {
                        Swal.fire({
                            position: "top-end",
                            title: "Huỷ đơn hàng thành công",
                            text: "Tiền sẽ được hoàn vào ví Momo của bạn trong 24h",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            position: "top-end",
                            title: "Huỷ đơn hàng thành công",
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            window.location.reload();
                        });
                    }
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                    console.error('Lỗi Ajax request:', error);
                }
            });
        });
    });
</script>

<script>
    function ReBuyAjax(idHoaDon) {
        $.ajax({
            url: '@Url.Action("ReBuy", "DonHang")',
            type: 'POST',
            data: { idHoaDon: idHoaDon },
            success: function (result) {
                // Xử lý kết quả Ajax ở đây
                if (result.quantityError) {
                    Swal.fire({
                        title: 'Sản phẩm lỗi',
                        icon: 'error',
                        html: result.quantityError.join('<br/>'),
                    });
                } else {
                    // Chuyển hướng hoặc xử lý kết quả thành công
                    window.location.href = '@Url.Action("ShowCartUser", "GioHangChiTiets")';
                }
            },
            error: function (error) {
                // Xử lý lỗi Ajax ở đây
                console.log(error);
            }
        });
    }
</script>
<script>
    function RePay(idHoaDon) {
        $.ajax({
            url: '@Url.Action("RePay", "DonHang")',
            type: 'POST',
            data: { idHoaDon: idHoaDon },
            success: function (result) {
                // Xử lý kết quả Ajax ở đây
                window.location.href = result.url;
            },
            error: function (error) {
                // Xử lý lỗi Ajax ở đây
                console.log(error);
            }
        });
    }
</script>

<script>
    function showHiddenProducts() {
        $('.hidden-products').css('display', 'block');
        $('.arrow-down-btn').css('display', 'none');
        $('.arrow-up-btn').css('display', 'block');
    }
    function hideHiddenProducts() {
        $('.hidden-products').css('display', 'none');
        $('.arrow-down-btn').css('display', 'block');
        $('.arrow-up-btn').css('display', 'none');
    }

</script>