@using App_View.IServices;
@using App_View.Services;
@model App_Data.ViewModels.HoaDon.HoaDonTest
@inject IDanhGiaservice _DanhGiaservice;
@{
    ViewData["Title"] = "DetailHoaDonOnline";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    _DanhGiaservice = new DanhGiaservice();
}
<link href="~/css/hoadon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
    #myToast {
        z-index: 999999;
    }

    .star-widget label {
        font-size: 25px;
        color: black;
        padding: 10px;
        float: left;
        transition: all 0.2s ease;
    }


    input:not(:checked) + label {
        color: rgb(255, 187, 0);
    }

    input:checked ~ label {
        color: rgb(109, 109, 109);
    }

    input:checked + label {
        color: rgb(255, 187, 0);
    }


    #rate-1:checked ~ header::before {
        content: "Tệ 😠";
    }

    #rate-2:checked ~ header::before {
        content: "Không hài lòng 😒";
    }

    #rate-3:checked ~ header::before {
        content: "Bình thường 🙂";
    }

    #rate-4:checked ~ header::before {
        content: "Hài lòng 😊";
    }

    #rate-5:checked ~ header::before {
        content: "Tuyệt vời 🥰";
    }

    .starvc-widget label {
        font-size: 25px;
        color: black;
        padding: 10px;
        float: left;
        transition: all 0.2s ease;
    }

    #ratevc-1:checked ~ header::before {
        content: "Tệ 😠";
    }

    #ratevc-2:checked ~ header::before {
        content: "Không hài lòng 😒";
    }

    #ratevc-3:checked ~ header::before {
        content: "Bình thường 🙂";
    }

    #ratevc-4:checked ~ header::before {
        content: "Hài lòng 😊";
    }

    #ratevc-5:checked ~ header::before {
        content: "Tuyệt vời 🥰";
    }
</style>
@* <!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======--> *@

<div class="col-lg-9 col-md-12">
    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <div class="dash-l-r">
                <div>
                    <div class="manage-o__text-2 u-c-secondary">Order #@Model.MaHoaDon</div>
                    <div class="manage-o__text u-c-silver">Ngày đặt: @string.Format("{0:dd/MM/yyyy}", Model.NgayTao)</div>
                </div>
                <div>
                    <div class="manage-o__text-2 u-c-silver">
                        <span class="manage-o__text-2 u-c-secondary">Tổng tiền: @string.Format("{0:N0}đ", Model.TongGia)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <div class="manage-o">
                <div class="manage-o__header u-s-m-b-30">
                    <div class="manage-o__icon">
                        <i class="fas fa-box u-s-m-r-5"></i>
                        
                        <span class="manage-o__text">Thông tin đơn hàng</span>
                    </div>
                </div>
                <div class="dash-l-r">
                    <div class="manage-o__text u-c-secondary">Ngày giao dự kiến: @string.Format("{0:dd/MM/yyyy}", Model.NgayGiaoDuKien)</div>
                    <div class="manage-o__icon">
                        <i class="fas fa-truck u-s-m-r-5"></i>

                        <span class="manage-o__text">Standard</span>
                    </div>
                </div>
                <div class="manage-o__timeline">
                    @if (Model.TrangThaiGiaoHang is 1)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 2)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 3)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 4)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ xác nhận</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Chờ lấy hàng</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đang giao</span>
                                </div>
                            </div>
                            <div class="col-lg-3 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã giao</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.TrangThaiGiaoHang is 5)

                    {
                        <div class="timeline-row">
                            <div class="col-lg-12 u-s-m-b-30">
                                <div class="timeline-step">
                                    <div class="timeline-l-i timeline-l-i--finish">

                                        <span class="timeline-circle"></span>
                                    </div>

                                    <span class="timeline-text">Đã hủy</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @foreach (var item in Model.SanPham.Take(1))
                {
                    <div class="manage-o__description" style="margin-top:10px">
                        <div class="description__container">
                            <div class="description__img-wrap">

                                <img class="u-img-fluid" src="/AnhSanPham/@item.LinkAnh[0]" alt="">
                            </div>
                            <div class="description-title" style="color:#7f7f7f">
                                <span class="o-card__name">

                                    <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = item.IdSanPhamChiTiet })">@item.TenSanPham</a>
                                </span>
                                <span class="o-card__quantity">Size: @item.TenKichCo Màu: @item.TenMauSac</span>
                                <span class="o-card__quantity">Số lượng x @item.SoLuong</span>
                            </div>
                        </div>
                        <div class="description__info-wrap">
                            <div>
                                <span class="manage-o__text-2 u-c-silver">
                                    <span class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", item.TongTien)</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    @if (Model.SanPham.Count > 1)
                    {
                        <!-- Dấu mũi tên xuống -->
                        <div class="arrow-down-btn" onclick="showHiddenProducts()"></div>
                    }

                    <div class="hidden-products">
                        @foreach (var hiddenSp in Model.SanPham.Skip(1))
                        {
                            <div class="manage-o__description" style="margin-top:10px">
                                <div class="description__container">
                                    <div class="description__img-wrap">

                                        <img class="u-img-fluid" src="/AnhSanPham/@hiddenSp.LinkAnh[0]" alt="">
                                    </div>
                                    <div class="description-title" style="color:#7f7f7f">
                                        <span class="o-card__name">

                                            <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = hiddenSp.IdSanPhamChiTiet })">@hiddenSp.TenSanPham</a>
                                        </span>
                                        <span class="o-card__quantity">Size: @hiddenSp.TenKichCo Màu: @hiddenSp.TenMauSac</span>
                                        <span class="o-card__quantity">Số lượng x @hiddenSp.SoLuong</span>
                                    </div>
                                </div>
                                <div class="description__info-wrap">
                                    <div>
                                        <span class="manage-o__text-2 u-c-silver">
                                            <span class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", hiddenSp.TongTien)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.SanPham.Count > 1)
                    {
                        <!-- Dấu mũi tên lên -->
                        <div class="arrow-up-btn" style="display:none;" onclick="hideHiddenProducts()"></div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                <div class="dash__pad-2">
                    <h2 class="dash__h2 u-s-m-b-8">Thông tin thanh toán:</h2>
                    @if (Model.TrangThaiGiaoHang is 5)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary" style="color:red !important">Đơn hàng đã huỷ</h3>
                    }
                    else if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 1)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">@Model.LoaiThanhToan</h3>
                        <h3 class="manage-o__text-2 u-c-secondary">Đã thanh toán</h3>
                    }
                    else if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 0)
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">@Model.LoaiThanhToan</h3>
                        if (Model.LoaiThanhToan is not "Không có")
                        {
                            <h3 class="manage-o__text-2 u-c-secondary" style="color:red !important">Vui lòng thanh toán đơn hàng của bạn</h3>
                        }
                    }
                    else
                    {
                        <h3 class="manage-o__text-2 u-c-secondary">COD</h3>
                        <h3 class="manage-o__text-2 u-c-secondary">Thanh toán khi nhận hàng</h3>
                    }
                </div>
            </div>

            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30" style="margin-bottom:unset">

                <div class="dash__pad-3">
                    <h2 class="dash__h2 u-s-m-b-8">Địa chỉ giao hàng:</h2>
                    <h2 class="dash__h2 u-s-m-b-8">@Model.TenNguoiNhan</h2>
                    <span class="dash__text-2">@Model.SDT</span>
                    <span class="dash__text-2">@Model.DiaChi</span>

                </div>
            </div>
        </div>
        <div class="col-lg-6" style="height:200px">
            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                <div class="dash__pad-3">
                    <h2 class="dash__h2 u-s-m-b-8">Tổng tiền:</h2>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tạm tính</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TongTien)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Phí ship</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TienShip)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tiền giảm</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TienGiam)</div>
                    </div>
                    <div class="dash-l-r u-s-m-b-8">
                        <div class="manage-o__text-2 u-c-secondary">Tổng cộng</div>
                        <div class="manage-o__text-2 u-c-secondary">@string.Format("{0:N0}đ", Model.TongGia)</div>
                    </div>
                </div>
            </div>
            <div class="dash-l-r u-s-m-t-8">
                @if (Model.TrangThaiGiaoHang is not 5)
                {
                    if (Model.LoaiThanhToan is not "COD" && Model.TrangThaiThanhToan is 0)
                    {
                        if (Model.LoaiThanhToan is "Không có")
                        {
                            <a data-modal="modal" data-modal-id="#edit-ship-address">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px;text-align: center;margin-top: 15px;">Huỷ</span>
                            </a>
                        }
                        else
                        {
                            <a onclick="RePay('@Model.IdHoaDon')">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Thanh toán</span>
                            </a>
                            <a data-modal="modal" data-modal-id="#edit-ship-address">
                                <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Huỷ</span>
                            </a>

                        }
                    }
                    else if (Model.TrangThaiGiaoHang is 4)
                    {
                        <a data-modal="modal" data-modal-id="#danh-gia" data-idhoadon="@Model.IdHoaDon">
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Đánh giá</span>
                        </a>
                        <a onclick="ReBuyAjax('@Model.IdHoaDon')">
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 195px;text-align:center">Mua Lại</span>
                        </a>
                    }
                    else if (Model.TrangThaiGiaoHang is 1 or 2)
                    {
                        <a data-modal="modal" data-modal-id="#edit-ship-address">
                            <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px;text-align: center;margin-top: 15px;">Huỷ</span>
                        </a>
                    }
                }
                @if (Model.TrangThaiGiaoHang is 5)
                {
                    <span class="btn btn--e-transparent-brand-b-2 order" style="width: 397.5px; text-align: center; margin-top: 15px;" onclick="ReBuyAjax('@Model.IdHoaDon')">Mua Lại</span>
                    
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-ship-address">
    <div class="modal-dialog modal-dialog-centered justify-content-center" style="max-width:fit-content">
        <div class="modal-content">
            <div class="modal-body">
                <div class="checkout-modal2">
                    <div class="u-s-m-b-30">
                        <div class="dash-l-r">
                            <h1 class="gl-modal-h1">Chọn lí do huỷ</h1>
                        </div>
                    </div>
                    <form class="checkout-modal2__form" asp-action="HuyDonHang" asp-controller="DonHang" asp-route-idHoaDon="@Model.IdHoaDon">
                        <tbody>
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="1" value="">
                                        <div class="radio-box__state radio-box__state--primary">
                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido1">Muốn thay đổi địa chỉ giao hàng</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="2">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido2">Muốn nhập/thay đổi mã Voucher</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="3">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido3">Muốn thay đổi sản phẩm trong đơn hàng</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="4">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido4">Đổi ý, không muốn mua nữa</span>
                            </tr>
                            <br />
                            <tr>
                                <td>
                                    <!--====== Radio Box ======-->
                                    <div class="radio-box" style="margin-bottom: 15px;">

                                        <input type="radio" name="Lido" id="5">
                                        <div class="radio-box__state radio-box__state--primary">

                                            <label class="radio-box__label" for="address-1"></label>
                                        </div>
                                    </div>
                                    <!--====== End - Radio Box ======-->
                                </td>
                                <span class="dash__h2 u-s-m-b-8" style="font-weight:600" id="lido5">lí do khác</span>
                                <br />
                                <textarea class="text-area text-area--primary-style" style="width:305px">

                                </textarea>

                            </tr>
                        </tbody>
                        <div class="gl-modal-btn-group">
                            <button class="btn btn--e-brand-b-2" id="Lido" type="submit">Đồng ý</button>
                            @* <button class="btn btn--e-grey-b-2" type="button" data-dismiss="modal">Đóng</button> *@
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
        </div>
    </div>
</div>

<div class="modal fade" id="danh-gia">
    <div class="modal-dialog modal-dialog-centered justify-content-center" style="max-width:500px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="checkout-modal2">
                    <div class="u-s-m-b-30">
                        <div class="dash-l-r">
                            <h1 class="gl-modal-h1">Chọn sản phẩm để đánh giá</h1>
                        </div>
                    </div>
                    @foreach (var item in Model.SanPham)
                    {
                        <div class="manage-o__description" style="margin-top:10px">
                            <div class="description__container">
                                <div class="description__img-wrap">

                                    <img class="u-img-fluid" src="/AnhSanPham/@item.LinkAnh[0]" alt="">
                                </div>
                                <div class="description-title" style="color:#7f7f7f">
                                    <span class="o-card__name">

                                        <a href="@Url.Action("Details", "SanPhamChiTiets", new { id = item.IdSanPhamChiTiet })">@item.TenSanPham</a>
                                    </span>
                                    <span class="o-card__quantity">Size: @item.TenKichCo Màu: @item.TenMauSac</span>
                                    <span class="o-card__quantity">Số lượng x @item.SoLuong</span>
                                </div>
                            </div>
                            <div class="description__info-wrap">
                                <div>
                                    @if (item.DanhGia.SaoSp == null)
                                    {
                                        <span data-product-id="@item.IdSanPhamChiTiet"
                                              data-Danhgia-detail-id="@item.IdSanPhamChiTiet*@Model.IdHoaDon"
                                              data-product-img="@item.LinkAnh[0]"
                                              data-product-name="@item.TenSanPham"
                                              data-product-size-color="@item.TenKichCo*@item.TenMauSac"
                                              data-product-quantity="@item.SoLuong"
                                              data-modal="modal"
                                              data-modal-id="#add-danh-gia"
                                              class="btn btn--e-transparent-brand-b-2 order"
                                              style="width: 100px; text-align:center">
                                            Đánh giá
                                        </span>
                                    }
                                    else
                                    {
                                        <span data-user-img-id="@item.DanhGia.AnhDaiDien"
                                              data-user-name-id="@item.DanhGia.TenNguoiDung"
                                              data-Ngay-id="@item.DanhGia.NgayDanhGia"
                                              data-mota-id="@item.DanhGia.MoTa"
                                              data-binhluan-id="@item.DanhGia.BinhLuan"
                                              data-sao-id="@item.DanhGia.SaoSp"
                                              data-chatlg-id="@item.DanhGia.ChatLuongSanPham"
                                              data-Sp-detail-id="@item.IdSanPhamChiTiet"
                                              data-Sp-img-id="@item.LinkAnh[0]"
                                              data-Sp-name-id="@item.TenSanPham" data-Sp-mau-id="@item.TenMauSac" data-Sp-kichco-id="@item.TenKichCo" data-modal="modal" data-modal-id="#xem-danh-gia" class="btn btn--e-transparent-brand-b-2 order" style="width: 100px;text-align:center">Xem đánh giá</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
        </div>
    </div>
</div>


<div class="modal fade" id="add-danh-gia">
    <div class="modal-dialog modal-dialog-centered justify-content-center" style="min-width:900px">
        <div class="modal-content">
            <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
            <div class="modal-body">
                <div class="u-s-m-b-30">
                    <div class="dash-l-r">
                        <h1 class="gl-modal-h1">Đánh giá</h1>
                    </div>
                    <form asp-action="AddDanhGia" asp-controller="DanhGia" class="pd-tab__rev-f2" method="post" id="AddDanhGia">
                        <h2 class="gl-label"></h2>
                        <input name="IdSanPhamChiTiet" value="" class="form-control" id="inputIdSanPhamChiTiet" hidden />
                        <input name="IdDanhGia" value="" class="form-control" id="inputIdDanhGia" hidden />

                        <div class="description__container">
                            <div class="description__img-wrap">
                                <img class="u-img-fluid" id="productImage" src="" alt="">
                            </div>
                            <div class="description-title" style="color:#7f7f7f">
                                <span class="o-card__name">
                                    <a id="productName"></a>
                                </span>
                                <span class="o-card__quantity" id="productSizeColor"></span>
                                <span class="o-card__quantity" id="productQuantity"></span>
                            </div>
                        </div>
                        <br />
                        <span class="gl-label">Chất lượng sản phẩm</span>
                        @*  sao*@
                        <div class="container" style="position: relative;margin-top:-60px;width: 500px;padding: 20px 30px;border-radius: 5px;display: flex;flex-direction: column;">
                            <div class="star-widget">
                                <input type="radio" name="rate" value="1" id="rate-1" hidden>
                                <label for="rate-1" class="fas fa-star"></label>
                                <input type="radio" value="2" name="rate" id="rate-2" hidden>
                                <label for="rate-2" class="fas fa-star"></label>
                                <input value="3" type="radio" name="rate" id="rate-3" hidden>
                                <label for="rate-3" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-4" value="4" hidden>
                                <label for="rate-4" class="fas fa-star"></label>
                                <input type="radio" name="rate" id="rate-5" value="5" checked hidden>
                                <label for="rate-5" class="fas fa-star"></label>
                                <header style="margin-top: 10px;"></header>
                            </div>
                            <input value="5" id="saoSpInput" name="SaoSp" class="form-control" hidden />
                        </div>

                        @* sao*@
                        <div class="rev-f2__group">
                            <div>
                                <p class="u-s-m-b-30">

                                    <label class="gl-label" for="reviewer-name">Đúng với mô tả:</label>

                                    <textarea name="MoTa" class="text-area text-area--primary-style" id="reviewer-text" style="height:53px" maxlength="200"></textarea>

                                </p>
                                <p class="u-s-m-b-30">

                                    <label class="gl-label" for="reviewer-email">Chất lượng sản phẩm:</label>

                                    <textarea name="ChatLuongSanPham" class="text-area text-area--primary-style" id="reviewer-text" style="height:53px" maxlength="200"></textarea>


                                </p>
                            </div>
                            <div class="u-s-m-b-15">

                                <label class="gl-label" for="reviewer-text"> </label>
                                <textarea name="BinhLuan" style="height:201px" class="text-area text-area--primary-style" id="reviewer-text" placeholder="Hãy chia sẻ những trải nghiệm của bạn về sản phẩm với người khác." maxlength="300"></textarea>


                            </div>

                        </div>

                        <div style="display: flex; justify-content: flex-end; ">
                            <button type="button" class="btn btn--e-transparent-brand-b-2 order tatmodal" style="text-align:center;margin-right: 15px;" data-dismiss="modal">Trở lại</button>

                            <button type="submit" class="btn btn--e-transparent-brand-b-2 order" style="text-align:center">Hoàn Thành</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="xem-danh-gia">
    <div class="modal-dialog modal-dialog-centered" style="min-width:800px">
        <div class="modal-content modal--shadow">


            <div class="modal-body" style="margin-left:20px;margin-right:20px; margin-top:10px;">
                <div class="row">
                    <div class="review-o u-s-m-b-30">

                        <form class="pd-tab__rev-f2">
                            <h2 class="gl-label">Đánh giá sản phẩm</h2>

                            <div class="review-o u-s-m-b-30" style="margin-top:20px;">
                                <div class="rev-f2__table-wrap gl-scroll">
                                    <table class="rev-f2__table" style="border: none;">
                                        <thead>
                                            <tr>
                                                <th colspan="1" style="width: 20%; border: none; background-color: white;">
                                                    <a id="Sp-detaillink" href="#">
                                                        <img id="anhSp" style="height:100px;width:100px;margin-left: -60px;" src="" />
                                                    </a>

                                                </th>
                                                <th colspan="4" style="width: 80%; border: none; background-color: white;">
                                                    <a id="Sp-detail-link" href="#">
                                                        <span class="review-o__name" id="tenSp" style=" text-align: left; font-size: 14px;">

                                                        </span>

                                                    </a>
                                                    <div style="display: flex;">
                                                        <span class="review-o__name" style=" text-align: left;font-size: 14px;">Phân loại hàng:&nbsp </span>
                                                        <span style="font-size: 14px;" class="review-o__name" id="PhanLoaiHang"></span>
                                                    </div>


                                                </th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                            <div class="review-o u-s-m-b-15">
                                <div class="review-o__info u-s-m-b-8">


                                    <img style="margin-bottom:-35px;width:50px;height:50px; object-fit:cover; border-radius:30px" src="" id="anhUser">


                                    <span class="review-o__name" id="tenNguoiDung" style="margin-left:5px"></span>
                                    <span class="review-o__name">
                                        <div class="review-o__rating gl-rating-style u-s-m-b-8" style="margin-left:60px" id="saoSp">
                                        </div>
                                    </span>

                                </div>



                                <p class="review-o__name" style="margin-left:60px" id="chatlgSp"></p>


                                <p class="review-o__name" id="dungmota" style="margin-left:60px"></p>


                                <p class="review-o__name" id="LoidanhGia" style="margin-left:60px"></p>


                                <p class="review-o__text" id="ngaydanhgia" style="margin-left:60px">

                                </p>



                            </div>

                            <div style="display: flex; justify-content: flex-end; ">
                                <button class="btn btn--e-brand-shadow" style="background-color:white; color:black" data-dismiss="modal" type="submit">OK</button>
                                <div style="width:10px;"></div>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js"></script>
@section Scripts{
    <!--====== huỷ đơn hàng ======-->
    <script>
        var radioButtons = document.querySelectorAll('input[type=radio]');
        var id = null;
        let lidoElement = "";
        radioButtons.forEach((radioButton) => {
            radioButton.addEventListener('change', function () {
                if (this.checked) {
                    id = this.id;
                    lidoElement = document.getElementById('lido' + id).innerHTML;
                }
            });
        });
        $(document).ready(function () {
            $('#Lido').click(function (e) {
                e.preventDefault();

                // Kiểm tra xem có radio nào được chọn không
                if ($('input[type=radio]:checked').length === 0) {
                    alert('Vui lòng chọn một lựa chọn.');
                    return;
                }

                // Gửi dữ liệu qua Ajax
                $.ajax({
                    type: 'PUT',
                    url: '/DonHang/HuyDonHang', // Điều chỉnh đúng đường dẫn của controller và action của bạn
                    data: {
                        Lido: lidoElement,
                        IdHoaDon: '@Model.IdHoaDon'
                    },
                    success: function (data) {
                        if (data.mess != null) {
                            Swal.fire({
                                position: "top-end",
                                title: "Huỷ đơn hàng thành công",
                                text: "Tiền sẽ được hoàn vào ví của bạn trong 24h",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                window.location.reload();
                            });
                        }
                        else {
                            Swal.fire({
                                position: "top-end",
                                title: "Huỷ đơn hàng thành công",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                window.location.reload();
                            });
                        }
                    },
                    error: function (error) {
                        // Xử lý lỗi nếu có
                        console.error('Lỗi Ajax request:', error);
                    }
                });
            });
        });
    </script>
    <!--====== mua lại ======-->
    <script>
        function ReBuyAjax(idHoaDon) {
            $.ajax({
                url: '@Url.Action("ReBuy", "DonHang")',
                type: 'POST',
                data: { idHoaDon: idHoaDon },
                success: function (result) {
                    // Xử lý kết quả Ajax ở đây
                    if (result.quantityError) {
                        Swal.fire({
                            title: 'Sản phẩm lỗi',
                            icon: 'error',
                            html: result.quantityError.join('<br/>'),
                        });
                    } else {
                        // Chuyển hướng hoặc xử lý kết quả thành công
                        window.location.href = '@Url.Action("ShowCartUser", "GioHangChiTiets")';
                    }
                },
                error: function (error) {
                    // Xử lý lỗi Ajax ở đây
                    console.log(error);
                }
            });
        }
    </script>
    <!--====== thanh toán lại ======-->
    <script>
        function RePay(idHoaDon) {
            $.ajax({
                url: '@Url.Action("RePay", "DonHang")',
                type: 'POST',
                data: { idHoaDon: idHoaDon },
                success: function (result) {
                    // Xử lý kết quả Ajax ở đây
                    window.location.href = result.url;
                },
                error: function (error) {
                    // Xử lý lỗi Ajax ở đây
                    console.log(error);
                }
            });
        }
    </script>
    <!--====== ẩn hiện sản phẩm ======-->
    <script>
        function showHiddenProducts() {
            $('.hidden-products').css('display', 'block');
            $('.arrow-down-btn').css('display', 'none');
            $('.arrow-up-btn').css('display', 'block');
        }
        function hideHiddenProducts() {
            $('.hidden-products').css('display', 'none');
            $('.arrow-down-btn').css('display', 'block');
            $('.arrow-up-btn').css('display', 'none');
        }

    </script>
    <!--====== lấy sao sp ======-->
    <script>
        // Lắng nghe sự kiện change của radio buttons
        document.querySelectorAll('input[name="rate"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                // Lấy giá trị của radio button đã chọn
                var selectedValue = document.querySelector('input[name="rate"]:checked').value;

                // Gán giá trị cho input
                document.getElementById('saoSpInput').value = selectedValue;
            });
        });
    </script>
    <!--====== đánh giá ======-->
    @* <script>
        var isLoading = false;
        isLoading = true;
        var idHoaDon = $('a[data-modal-id="#danh-gia"]').data('idhoadon');
        $.ajax({
            url: '@Url.Action("DanhGia", "DonHang")',
            type: 'GET',
            data: { idHoaDon: idHoaDon },
            success: function (result) {
                if (result.mess==null) {
                    $('#content1').empty().html(result);
                }
                isLoading = false;
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
                isLoading = false;
            }
        });
    </script> *@
    <!--====== truyền qua sp ======-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var danhGiaButtons = document.querySelectorAll('[data-modal-id="#add-danh-gia"]');
            danhGiaButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var storedDanhGias = JSON.parse(localStorage.getItem("DanhGias")) || {}
                    if (storedDanhGias[button.dataset.danhgiaDetailId]) {
                        toast({
                            title: "Bạn đã đánh giá sản phẩm này rồi!",
                            type: "warning",
                            duration: 2000,
                            id: "myToast"
                        });
                        $('#add-danh-gia .tatmodal').click();
                    }
                    var productId = button.dataset.productId;
                    var danhGiaId = button.dataset.danhgiaDetailId;
                    var productImg = button.dataset.productImg;
                    var productName = button.dataset.productName;
                    var productSizeColor = button.dataset.productSizeColor;
                    var productQuantity = button.dataset.productQuantity;

                    var sizeColorArray = productSizeColor.split('*');
                    var size = sizeColorArray[0];
                    var color = sizeColorArray[1];
                    var imgElement = "/AnhSanPham/" + productImg;
                    // Cập nhật thông tin sản phẩm trong modal dưới
                    document.getElementById('inputIdSanPhamChiTiet').value = productId;
                    document.getElementById('inputIdDanhGia').value = danhGiaId;
                    document.getElementById('productImage').src = imgElement;
                    document.getElementById('productName').innerText = productName;
                    document.getElementById('productQuantity').innerText = 'Số lượng x ' + productQuantity;
                    document.getElementById('productSizeColor').innerText = 'Size: ' + size + ' Màu: ' + color;
                });
            });
        });
    </script>
    <!--====== đánh giá ======-->
    <script>
        $(document).ready(function () {
            function createAndStoreJwt(danhGiaCode) {
                // Tạo JWT khi cấp danhgia
                var secretKey = "5a25e33fd1c5b4a882d438cf93dd4ac5eef0a27b8b3c7f7d6b5a84d4fb91e4f2";

                // Thời gian hết hiệu lực của JWT (ví dụ: 5 năm)
                var expirationTime = Math.floor(Date.now() / 1000) + 60 * 60 * 24 * 365 * 5;
                var storedDanhGias = JSON.parse(localStorage.getItem("DanhGias")) || {};
                // Đặt giá trị cho Issuer và Audience
                var issuer = "BazaizaiStore"; // Người phát hành
                var audience = "User"; // Đối tượng

                // Tạo payload của JWT
                var payload = {
                    iss: issuer,
                    aud: audience,
                    exp: expirationTime, // Thời gian hết hiệu lực
                    danhGiaCode: danhGiaCode // Thông tin danhgia
                };

                // Tạo JWT bằng cách ký payload với khóa bí mật
                var jwtToken = KJUR.jws.JWS.sign(null, { alg: "HS256", cty: "JWT" }, payload, secretKey);

                // Lưu JWT vào danh sách các danhgia trong localStorage
                storedDanhGias[danhGiaCode] = true;
                localStorage.setItem("DanhGias", JSON.stringify(storedDanhGias));

                // Thực hiện các hành động khác nếu cần
            }
            $('#AddDanhGia').submit(function (e) {
                e.preventDefault(); // Ngăn chặn form submit mặc định

                // Lấy dữ liệu từ form
                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'), // Lấy action từ attribute của form
                    data: formData,
                    success: function (response) {
                        if (response.mess){
                            toast({
                                title: response.mess,
                                type: "warning",
                                duration: 2000
                            });
                        } else {
                            createAndStoreJwt(response.iddanhgia)
                            toast({
                                title: "Đánh giá thành công",
                                type: "success",
                                duration: 2000,
                                id: "myToast"
                            });
                            $('#add-danh-gia .tatmodal').click();
                        }
                    },
                    error: function (error) {
                        // Xử lý lỗi (nếu có)
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lắng nghe sự kiện click trên thẻ span
            var buttons = document.querySelectorAll('[data-modal-id="#xem-danh-gia"]');
            buttons.forEach(function (button) {
                button.addEventListener('click', function () {

                    var productName = button.getAttribute('data-Sp-name-id');
                    var productId = button.getAttribute('data-Sp-detail-id');
                    var imageUrl = button.getAttribute('data-Sp-img-id');
                    var kichco = button.getAttribute('data-Sp-kichCo-id');
                    var mausac = button.getAttribute('data-Sp-mau-id');
                    var username = button.getAttribute('data-user-name-id');
                    var ngay = button.getAttribute('data-Ngay-id');
                    var dungmota = button.getAttribute('data-mota-id');
                    var binhluan = button.getAttribute('data-binhluan-id');
                    var sao = button.getAttribute('data-sao-id');
                    var chatlg = button.getAttribute('data-chatlg-id');
                    var userimg = button.getAttribute('data-user-img-id');                // Gán giá trị vào ô input trong modal




                    var detailsLink = document.getElementById("Sp-detail-link");
                    var detailsLink1 = document.getElementById("Sp-detaillink");
                    detailsLink.href = "/SanPhamChiTiets/Details/" + productId;
                    detailsLink1.href = "/SanPhamChiTiets/Details/" + productId;

                    var imgElement = "/AnhSanPham/" + imageUrl;

                    document.images['anhSp'].src = imgElement;

                    document.images['anhUser'].src = userimg;

                    var spantenSp = document.getElementById('tenSp');
                    spantenSp.innerHTML = productName;
                    var spanPhanLoaiHang = document.getElementById('PhanLoaiHang');
                    spanPhanLoaiHang.innerHTML = "Màu " + mausac + " | Size " + kichco;
                    var spantenNguoiDung = document.getElementById('tenNguoiDung');
                    spantenNguoiDung.innerHTML = username;
                    var spanngaydanhgia = document.getElementById('ngaydanhgia');
                    spanngaydanhgia.innerHTML = ngay;
                    var spanchatlgSp = document.getElementById('chatlgSp');
                    if (chatlg) {
                        spanchatlgSp.innerHTML = "Chất lượng sản phẩm: " + chatlg;
                    }
                    var spanmota = document.getElementById('dungmota');
                    if (dungmota) {
                        spanmota.innerHTML = "Đúng với mô tả: " + dungmota;
                    }


                    var LoidanhGia = document.getElementById('LoidanhGia');

                    LoidanhGia.innerHTML = binhluan;
                    var sao = button.getAttribute('data-sao-id');
                    var SaoSp = document.getElementById('saoSp');
                    if (sao == 1) {
                        SaoSp.innerHTML = '<i class="fas fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>';

                    }
                    else if (sao == 2) {
                        SaoSp.innerHTML = '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>';


                    }
                    else if (sao == 3) {
                        SaoSp.innerHTML = '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="far fa-star"></i>' +
                            '<i class="far fa-star"></i>';


                    }
                    else if (sao == 4) {
                        SaoSp.innerHTML = '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="far fa-star"></i>';


                    }
                    else if (sao == 5) {
                        SaoSp.innerHTML = '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>' +
                            '<i class="fas fa-star"></i>';


                    }
                    else {
                        SaoSp.innerHTML = '';
                    }


                });
            });
        });
    </script>
}

