@model App_Data.Models.KichCo

@{
    ViewData["Title"] = "DetailKickCo";
}

<h1>DetailKickCo</h1>

<div>
    <h4>KichCo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKichCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKichCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKichCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKichCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoKichCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoKichCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
