@model App_Data.ViewModels.SanPhamChiTietViewModel.DanhSachGiayViewModel
@{ 
    App_View.IServices.IDanhGiaservice _DanhGiaservice = new App_View.Services.DanhGiaservice();
    double soSao = 0;
 }
<div>

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block">

                        <span class="block__title">DANH SÁCH GIÀY</span>
                        <ul class="nav tab-list">
                            <li class="nav-item">

                                <a class="nav-link btn--e-white-brand-shadow active" data-toggle="tab" href="#e-l-p">SẢN PHẨM MỚI</a>
                            </li>
                           @*  <li class="nav-item">

                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-b-s">TOP SẢN PHẨM BÁN NHIỀU NHẤT</a>
                            </li> *@
                            <li class="nav-item">

                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-t-r">TOP ĐÁNH GIÁ</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link btn--e-white-brand-shadow" data-toggle="tab" href="#e-f-p">SẢN PHẨM NỔI BẬT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="tab-content">

                <!--====== Tab 1 ======-->
                <div class="tab-pane fade show active" id="e-l-p">
                    @if (Model.LstSanPhamMoi!.Any())
                    {
                        <div class="slider-fouc">
                            <div class="owl-carousel tab-slider" data-item="4">
                                @foreach (var item in Model.LstSanPhamMoi!)
                                {
                                    <div class="u-s-m-b-30">
                                        <div class="product-o product-o--hover-on" data-id="@item.IdChiTietSp">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/Details/@item.IdChiTietSp">

                                                    <img class="aspect__img" src="/AnhSanPham/@item.Anh" alt="">
                                                </a>
                                                <div class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-m__category">

                                                <span style="font-size: 11px">@item.ThuongHieu!.ToUpper() / @item.TheLoai!.ToUpper()</span>
                                            </div>

                                            <span class="product-o__name">

                                                <a href="/SanPhamChiTiets/Details/@item.IdChiTietSp" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@item.TenSanPham!.ToUpper()" style="
    display: inline-block;
    max-width: 213px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
">@item.TenSanPham!.ToUpper()</a>
            </span>
            <div class="product-o__rating gl-rating-style">
                @{
                    soSao = await _DanhGiaservice.GetSoSaoTB(item.IdChiTietSp!);
                }
                @if (soSao < 0.3)
                {

                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 0.8)
                {
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 4.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                }

                else if (soSao < 4.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                }
                <span class="product-o__review">(@await _DanhGiaservice.GetTongSoDanhGia(item.IdChiTietSp!))</span>

            </div>
            <div>
                @if (item.GiaMin == item.GiaMax)
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)</div>

                }
                else
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)  -  @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMax)</div>
                }
            </div>
            </div>
            </div>
        }
                            </div>
                        </div>
                    }

                    else

                    {
                        <div style="DISPLAY: flex;justify-content: center;align-items: center;margin-top: -40px;height: 200px;width: 100%;background-repeat: no-repeat;background-size: contain;background-position: center;background-image: url('https://foodhub.vn/assets/images/no-cart.png');">
                            <span style="
    margin-top: 237px;
    color: red;
    font-weight: bold;
">
                                KHÔNG CÓ SẢN PHẨM!!!
                            </span>
                        </div>

                    }

                </div>
                <!--====== End - Tab 1 ======-->
                <!--====== Tab 2 ======-->
                <div class="tab-pane" id="e-b-s">
                    @if (Model.LstBanChay!.Any())
                    {
                        <div class="slider-fouc">
                            <div class="owl-carousel tab-slider" data-item="4">
                                @foreach (var item in Model.LstBanChay!)
                                {
                                    <div class="u-s-m-b-30">
                                        <div class="product-o product-o--hover-on" data-id="@item.IdChiTietSp">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/Details/@item.IdChiTietSp">

                                                    <img class="aspect__img" src="/AnhSanPham/@item.Anh" alt="">
                                                </a>
                                                <div class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-m__category">

                                                <span style="font-size: 11px">@item.ThuongHieu!.ToUpper() / @item.TheLoai!.ToUpper()</span>
                                            </div>

                                            <span class="product-o__name">

                                                <a href="/SanPhamChiTiets/Details/@item.IdChiTietSp" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@item.TenSanPham!.ToUpper()" style="
    display: inline-block;
    max-width: 213px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
">@item.TenSanPham!.ToUpper()</a>
            </span>
            <div class="product-o__rating gl-rating-style">
                @{
                    soSao = await _DanhGiaservice.GetSoSaoTB(item.IdChiTietSp!);
                }
                @if (soSao < 0.3)
                {

                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 0.8)
                {
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 4.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                }

                else if (soSao < 4.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                }
                <span class="product-o__review">(@await _DanhGiaservice.GetTongSoDanhGia(item.IdChiTietSp!))</span>

            </div>
            <div>
                @if (item.GiaMin == item.GiaMax)
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)</div>

                }
                else
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)  -  @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMax)</div>
                }
            </div>
            </div>
            </div>
        }
                            </div>
                        </div>
                    }
                    else

                    {
                        <div style="DISPLAY: flex;justify-content: center;align-items: center;margin-top: -40px;height: 200px;width: 100%;background-repeat: no-repeat;background-size: contain;background-position: center;background-image: url('https://foodhub.vn/assets/images/no-cart.png');">
                            <span style="
    margin-top: 237px;
    color: red;
    font-weight: bold;
">
                                KHÔNG CÓ SẢN PHẨM!!!
                            </span>
                        </div>
                    }
                </div>
                <!--====== End - Tab 2 ======-->
                <!--====== Tab 3 ======-->
                <div class="tab-pane" id="e-t-r">
                    @if (Model.LstTopDanhGia!.Any())

                    {
                        <div class="slider-fouc">
                            <div class="owl-carousel tab-slider" data-item="4">

                                @foreach (var item in Model.LstTopDanhGia!)
                                {

                                    <div class="u-s-m-b-30">
                                        <div class="product-o product-o--hover-on" data-id="@item.IdChiTietSp">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/Details/@item.IdChiTietSp">

                                                    <img class="aspect__img" src="/AnhSanPham/@item.Anh" alt="">
                                                </a>
                                                <div class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-m__category">

                                                <span style="font-size: 11px">@item.ThuongHieu!.ToUpper() / @item.TheLoai!.ToUpper()</span>
                                            </div>

                                            <span class="product-o__name">

                                                <a href="/SanPhamChiTiets/Details/@item.IdChiTietSp" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@item.TenSanPham!.ToUpper()" style="
    display: inline-block;
    max-width: 213px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
">@item.TenSanPham!.ToUpper()</a>
            </span>
            <div class="product-o__rating gl-rating-style">
                @{
                    soSao = await _DanhGiaservice.GetSoSaoTB(item.IdChiTietSp!);
                }
                @if (soSao < 0.3)
                {

                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 0.8)
                {
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 4.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                }

                else if (soSao < 4.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                }
                <span class="product-o__review">(@await _DanhGiaservice.GetTongSoDanhGia(item.IdChiTietSp!))</span>

            </div>
            <div>
                @if (item.GiaMin == item.GiaMax)
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)</div>

                }
                else
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)  -  @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMax)</div>
                }
            </div>
            </div>
            </div>
        }
                            </div>
                        </div>
                    }
                    else

                    {
                        <div style="DISPLAY: flex;justify-content: center;align-items: center;margin-top: -40px;height: 200px;width: 100%;background-repeat: no-repeat;background-size: contain;background-position: center;background-image: url('https://foodhub.vn/assets/images/no-cart.png');">
                            <span style="
    margin-top: 237px;
    color: red;
    font-weight: bold;
">
                                KHÔNG CÓ SẢN PHẨM!!!
                            </span>
                        </div>
                    }
                </div>
                <!--====== End - Tab 3 ======-->
                <!--====== Tab 4 ======-->
                <div class="tab-pane" id="e-f-p">
                    @if (Model.LstSanPhamNoiBat!.Any())

                    {
                        <div class="slider-fouc">
                            <div class="owl-carousel tab-slider" data-item="4">
                                @foreach (var item in Model.LstSanPhamNoiBat!)
                                {
                                    <div class="u-s-m-b-30">
                                        <div class="product-o product-o--hover-on" data-id="@item.IdChiTietSp">
                                            <div class="product-o__wrap">

                                                <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/Details/@item.IdChiTietSp">

                                                    <img class="aspect__img" src="/AnhSanPham/@item.Anh" alt="">
                                                </a>
                                                <div class="product-o__action-wrap">
                                                    <ul class="product-o__action-list">
                                                        <li>

                                                            <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="product-m__category">

                                                <span style="font-size: 11px">@item.ThuongHieu!.ToUpper() / @item.TheLoai!.ToUpper()</span>
                                            </div>

                                            <span class="product-o__name">

                                                <a href="/SanPhamChiTiets/Details/@item.IdChiTietSp" data-tooltip="tooltip" data-placement="top" title="" data-original-title="@item.TenSanPham!.ToUpper()" style="
    display: inline-block;
    max-width: 213px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
">@item.TenSanPham!.ToUpper()</a>
            </span>
            <div class="product-o__rating gl-rating-style">
                @{
                    soSao = await _DanhGiaservice.GetSoSaoTB(item.IdChiTietSp!);
                }
                @if (soSao < 0.3)
                {

                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 0.8)
                {
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 1.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 2.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 3.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                }
                else if (soSao < 4.3)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                }

                else if (soSao < 4.8)
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                }
                <span class="product-o__review">(@await _DanhGiaservice.GetTongSoDanhGia(item.IdChiTietSp!))</span>

            </div>
            <div>
                @if (item.GiaMin == item.GiaMax)
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)</div>

                }
                else
                {
                    <div class="product-m__price" style="color: red">Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)  -  @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMax)</div>
                }
            </div>
            </div>
            </div>
        }
                            </div>
                        </div>
                    }
                    else

                    {
                        <div style="DISPLAY: flex;justify-content: center;align-items: center;margin-top: -40px;height: 200px;width: 100%;background-repeat: no-repeat;background-size: contain;background-position: center;background-image: url('https://foodhub.vn/assets/images/no-cart.png');">
                            <span style="
    margin-top: 237px;
    color: red;
    font-weight: bold;
">
                                KHÔNG CÓ SẢN PHẨM!!!
                            </span>
                        </div>
                    }
                </div>
                <!--====== End - Tab 4 ======-->
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(() => {
        $('a[data-modal-id="#quick-look"]').on('click', function () {
            var modalId = $(this).data('modal-id');

            var data = {
                idSanPhamChiTiet: $(this).closest('.product-o').data('id'),
            };
            $.ajax({
                url: '/SanPhamChiTiets/LoadPartialViewSanPhamChiTiet',
                type: 'GET',
                data: data,
                success: function (result) {
                    //$.ajax({
                    //    url: "/TabProduct", // Sử dụng tên View Component của bạn
                    //    method: "GET",
                    //    success: function (data) {
                    //        $("#tabProductContainer").html(data);
                    //    }
                    //});
                    $(modalId).html(result);
                    RESHOP.initInputCounter();
                    RESHOP.modalProductDetailInit();
                    $('.modal-backdrop').show();

                    $(modalId).show()
                    $('.dismiss-button').on('click', function () {
                        $(modalId).hide();
                        $('.modal-backdrop').hide();
                        $('body').css('overflow-y', 'auto');
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });

        });
    })
</script>
