@using App_View.IServices;
@using App_View.Models.ViewModels;
@inject IKhuyenMaiservices _KhuyenMaiservice;
@using static App_Data.Repositories.TrangThai;
@inject ISanPhamChiTietservice SanPhamChiTietservice;
@inject IKhuyenMaiChiTietservices khuyenMaiChiTiet;
@{
    var max = (await _KhuyenMaiservice.GetAllKhuyenMai()).Where(x => (x.TrangThai == (int)TrangThaiSale.DangBatDau || x.TrangThai == (int)TrangThaiSale.ChuaBatDau) && x.LoaiHinhKM==1).Max(x => x.MucGiam);
    var flashSale = (await _KhuyenMaiservice.GetAllKhuyenMai()).FirstOrDefault(x => x.MucGiam == max&&x.TrangThai==(int)TrangThaiSale.DangBatDau||x.TrangThai==(int)TrangThaiSale.ChuaBatDau);
    var saleChuaBatDau =  (await _KhuyenMaiservice.GetAllKhuyenMai()).FirstOrDefault(x => x.MucGiam == max && x.TrangThai == (int)TrangThaiSale.ChuaBatDau);
    var khuyenMai = (await _KhuyenMaiservice.GetAllKhuyenMai()).Where(x => x.TrangThai==(int)TrangThaiSale.DangBatDau);
    var kmct = (await khuyenMaiChiTiet.GetAllKhuyenMaiChiTiet()).Where(x => x.TrangThai == (int)TrangThaiSaleDetail.DangKhuyenMai);
    var model = new App_Data.ViewModels.SanPhamChiTietViewModel.DanhSachGiayViewModel();
    model = SanPhamChiTietservice.GetDanhSachGiayViewModelAynsc().Result;
    var lstSpDuocApDungKhuyenMai = model.LstAllSanPham.Where(x => x.GiaThucTe < x.GiaGoc).ToList();
}
<head>
    <meta charset="utf-8">

    <link rel="stylesheet"
          href="~/Admin/css/sale.css">
    <link rel="stylesheet" type="text/css"
          href="~/Admin/css/sale1.css">

    <link rel="stylesheet" type="text/css"
          href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/micrositefe/573.f566b344393e4a853c86.css">

    <link rel="stylesheet" type="text/css"
          href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/micrositefe/9088.e1b5d88bd2670733a2eb.css">
    <link rel="stylesheet" type="text/css"
          href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/micrositefe/MDProductCollection.d6bd181badb8a51c81fa.css">

</head>
<style>
    /* CSS cho tab */
    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .tab-item {
        flex: 1;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
        font-weight: 600;
    }

        .tab-item.active {
            background-color: #ff4500;
            color: #fff;
            font-weight: 600;
        }

    .input-text--style-1 {
        color: #5c636c;
        transition: all 0.6s linear;
        border: 1px solid transparent;
        background-color: #f1f1f1;
    }

    .input-text--border-radius {
        border-radius: 25px;
    }

    .input-text {
        font-size: 12px;
        background-clip: padding-box;
        padding: 0 18px;
        height: 40px;
    }

</style>

<body class="nt-s nl-t">

    <div id="main">
        <style id="nebula-style">
            :root {
                --nc-primary: #ee4d2d;
                --nc-primary-bg: #fef6f5;
                --nc-primary-gradient: linear-gradient(#ee4d2d, #ff7337);
                --nc-secondary-blue: #0046ab;
                --nc-secondary-yellow: #eda500;
                --nc-secondary-green: #26aa99;
                --nc-error: #ee2c4a;
                --nc-error-bg: #fff4f4;
                --nc-caution: #f69113;
                --nc-caution-bg: #fff8e4;
                --nc-success: #30b566;
                --nc-success-bg: #f7fffe;
                --nc-text-primary: rgba(0, 0, 0, .87);
                --nc-text-primary-o: #212121;
                --nc-text-secondary: rgba(0, 0, 0, .65);
                --nc-text-secondary-o: #595959;
                --nc-text-tertiary: rgba(0, 0, 0, .54);
                --nc-text-tertiary-o: #757575;
                --nc-text-link: #0088ff;
                --nc-util-mask: rgba(0, 0, 0, .4);
                --nc-util-disabled: rgba(0, 0, 0, .26);
                --nc-util-disabled-o: #bdbdbd;
                --nc-util-line: rgba(0, 0, 0, .09);
                --nc-util-line-o: #e8e8e8;
                --nc-util-bg: #f5f5f5;
                --nc-util-placeholder: #fafafa;
                --nc-util-pressed: rgba(0, 0, 0, .05);
                --nt-font-regular-f: -apple-system, 'HelveticaNeue', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif;
                --nt-font-regular-w: 400;
                --nt-font-medium-f: -apple-system, 'HelveticaNeue-Medium', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif;
                --nt-font-medium-w: 500;
                --nt-font-bold-f: -apple-system, 'HelveticaNeue-Bold', 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Arial Bold', Arial, sans-serif;
                --nt-font-bold-w: 700;
                --nt-size-foot: .625rem;
                --nt-size-foot-l: .75rem;
                --nt-size-foot-lp: .75rem;
                --nt-size-foot-t: 1rem;
                --nt-size-foot-tp: 1rem;
                --nt-size-small: .75rem;
                --nt-size-small-l: .875rem;
                --nt-size-small-lp: 1.25rem;
                --nt-size-small-t: 1.125rem;
                --nt-size-small-tp: 1.125rem;
                --nt-size-normal: .875rem;
                --nt-size-normal-l: 1rem;
                --nt-size-normal-lp: 1.25rem;
                --nt-size-normal-t: 1.375rem;
                --nt-size-normal-tp: 1.375rem;
                --nt-size-large: 1rem;
                --nt-size-large-l: 1.25rem;
                --nt-size-large-lp: 1.375rem;
                --nt-size-large-t: 1.5rem;
                --nt-size-large-tp: 1.5rem;
                --nt-size-title: 1.25rem;
                --nt-size-title-l: 1.5rem;
                --nt-size-title-lp: 1.5rem;
                --nt-size-title-t: 1.875rem;
                --nt-size-title-tp: 1.875rem;
                --ns-a: .25rem;
                --ns-b: .5rem;
                --ns-c: .75rem;
                --ns-d: 1rem;
                --ns-e: 1.25rem;
                --ns-f: 1.5rem;
                --ns-g: 2.5rem;
                --ne-depth6: 0 0 .375rem rgba(0, 0, 0, .06);
                --ne-depth9: 0 0 .5625rem rgba(0, 0, 0, .12);
                --nr-normal: .125rem;
                --nr-overlay: .25rem
            }

            .nt-foot {
                font-size: var(--nt-size-foot, .625rem);
                line-height: var(--nt-size-foot-t, 1rem)
            }

            .nt-foot-p {
                font-size: var(--nt-size-foot, .625rem);
                line-height: var(--nt-size-foot-tp, 1rem)
            }

            .nt-small {
                font-size: var(--nt-size-small, .75rem);
                line-height: var(--nt-size-small-t, 1.125rem)
            }

            .nt-small-p {
                font-size: var(--nt-size-small, .75rem);
                line-height: var(--nt-size-small-tp, 1.125rem)
            }

            .nt-normal {
                font-size: var(--nt-size-normal, .875rem);
                line-height: var(--nt-size-normal-t, 1.375rem)
            }

            .nt-normal-p {
                font-size: var(--nt-size-normal, .875rem);
                line-height: var(--nt-size-normal-tp, 1.375rem)
            }

            .nt-large {
                font-size: var(--nt-size-large, 1rem);
                line-height: var(--nt-size-large-t, 1.5rem)
            }

            .nt-large-p {
                font-size: var(--nt-size-large, 1rem);
                line-height: var(--nt-size-large-tp, 1.5rem)
            }

            .nt-title {
                font-size: var(--nt-size-title, 1.25rem);
                line-height: var(--nt-size-title-t, 1.875rem)
            }

            .nt-title-p {
                font-size: var(--nt-size-title, 1.25rem);
                line-height: var(--nt-size-title-tp, 1.875rem)
            }

            .nt-regular {
                font-family: var(--nt-font-regular-f, -apple-system, 'HelveticaNeue', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif);
                font-weight: var(--nt-font-regular-w, 400)
            }

            .nt-medium {
                font-family: var(--nt-font-medium-f, -apple-system, 'HelveticaNeue-Medium', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif);
                font-weight: var(--nt-font-medium-w, 500)
            }

            .nt-bold {
                font-family: var(--nt-font-bold-f, -apple-system, 'HelveticaNeue-Bold', 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Arial Bold', Arial, sans-serif);
                font-weight: var(--nt-font-bold-w, 700)
            }
        </style>
        <div style="
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
">
            <div style="width: 100%;position: relative; margin-bottom:30px">

                <div style="position: relative;height: 559.953px;width: 960px;left: calc((100% - 960px) / 2);">
                    <div>


                        <div style="position: absolute; top: 50%; z-index: 9999;"></div>
                        <div style="position: relative;">
                            <div class="" style="width: 100%; padding-top: 58.33%;">
                                <div></div>
                            </div>

                            @if (saleChuaBatDau != null && saleChuaBatDau.TrangThai == (int)TrangThaiSale.ChuaBatDau)
                            {
                                <picture class="JEjj5L">
                                    <img data-is-lazy-load-bg-image="false"
                                         data-use-image-server="false" class="lazyload RPPDP+"
                                         loading="lazy"
                                         src="/AnhSale/@flashSale.Url"
                                         role="presentation" alt=""
                                         style="position: absolute; top: 0px; height: 100%; width: 100%;">
                                </picture>
                            }
                            else
                            {
                                <picture class="JEjj5L">
                                    <img data-is-lazy-load-bg-image="false"
                                         data-use-image-server="false" class="lazyload RPPDP+"
                                         loading="lazy"
                                         src="~/images/banners/Banner sale.png"
                                         role="presentation" alt=""
                                         style="position: absolute; top: 0px; height: 100%; width: 100%;">
                                </picture>
                            }

                        </div>


                    </div>
                </div>
            </div>
            @if (saleChuaBatDau != null && saleChuaBatDau.TrangThai == (int)TrangThaiSale.ChuaBatDau)
            {
                <div style="position: relative; height: 96px; width: 960px; left: calc((100% - 960px) / 2);">
                    <div>
                        <div class="md-container">
                            <div class="md-component" data-component-id="1699246519362">
                                <div class="fazD4N aKKong _8kwsZk vpiXWe" style="height: 96px;">
                                    <div class="cZ76Ba">
                                        <div class="BwuUKj" style="position: absolute; top: 50%; right: 50%; transform: translate(50%, -50%); max-width: 100%;">
                                            <div class="Z9KNYN" style="color: rgb(238, 77, 45);">
                                                @saleChuaBatDau.TenKhuyenMai | CÒN
                                            </div>
                                            <div class="fsk4n9 _7Agh3t" style="color: rgb(238, 77, 45); animation-delay: 94352.6s;">
                                                <div class="_2UsJOV rbfRts _2jJhsc">
                                                    <span style="animation-delay: -683247s; animation-iteration-count: 1; animation-duration: 864000s;" class="countdown_Day"></span>
                                                </div>
                                                <div class="rbfRts">Ngày</div>
                                            </div>
                                            <div class="fsk4n9 Q3Hjob" style="color: rgb(238, 77, 45);">
                                                <div class="_1mNNLN rbfRts _2jJhsc">
                                                    <div style="animation-delay: -78447.4s; animation-iteration-count: 3; animation-duration: 3600s;" class="countdown_Hours"></div>
                                                </div>
                                                <div class="rbfRts">Giờ</div>
                                            </div>
                                            <div class="fsk4n9" style="color: rgb(238, 77, 45);">
                                                <div class="FSBEZB rbfRts _2jJhsc">
                                                    <span style="animation-delay: -2847.42s; animation-iteration-count: 51; animation-duration: 60s;" class="countdown_Mins"></span>
                                                </div>
                                            
                                                <div class="rbfRts">Phút</div>
                                            </div>
                                            <div class="fsk4n9" style="color: rgb(238, 77, 45);">

                                                <div class="_2UsJOV rbfRts _2jJhsc">
                                                    <span style="animation-delay: -7.422s; animation-iteration-count: 18076; animation-duration: 1s;" class="countdown_Secs"></span>
                                                </div>
                                                <div class="rbfRts">Giây</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var km in khuyenMai.Where(x=>x.LoaiHinhKM==1))
            {
                if (kmct.Where(x => x.IdKhuyenMai == km.IdKhuyenMai).Count() > 0)
                {
                    <div style="position: relative; height: 132px; width: 960px; left: calc((100% - 960px) / 2);">
                        <div>
                            <div class="md-container">
                                <div class="md-component" data-component-id="1699246519373">
                                    <div class="lEwcgc">
                                        <div style="position: absolute; top: 50%; z-index: 9999;"></div>
                                        <div style="position: relative;">
                                            <div class="tenKhuyenMai" style="width: 100%; padding-top: 13.75%;">

                                                <div style="position: absolute; z-index: 10000;left: 50%;  top: 40%;transform: translate(-50%, -50%); text-align: center;">
                                                    @km.TenKhuyenMai.ToUpper()
                                                </div>
                                            </div>
                                            <picture class="JEjj5L">
                                                <img data-is-lazy-load-bg-image="false"
                                                     data-use-image-server="false" class="lazyload RPPDP+"
                                                     loading="lazy"
                                                     src="~/images/banners/navbar sale.png"
                                                     role="presentation" alt=""
                                                     style="position: absolute; top: 0px; height: 100%; width: 100%;">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;  height: 320.156px; width: 960px; left: calc((100% - 960px) / 2); margin-bottom: 40px;">
                        <div>
                            <div class="md-container">
                                <div class="md-component" data-component-id="1699246519374">
                                    <div>
                                        <div class="HC9+PG">
                                            <div class="fX9y5D rsM6mQ"></div>
                                            <div>
                                                <div class="hJ4n7F lShvj+">
                                                    <a href="/SanPhamChiTiets" role="button"
                                                       data-is-ssr-see-all-button="true"
                                                       class="tQx6Fj PwG79a Gge7KH"
                                                       style="color: rgb(0, 0, 0);">
                                                        <span>
                                                            Xem tất
                                                            cả
                                                        </span>
                                                        <svg viewBox="0 0 12 12" fill="none"
                                                             width="12" height="12" color="#000000"
                                                             class="dH7hlX">
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div></div>
                                        <div class="Qn3t0w">
                                            <div data-is-ssr-product-cards-container="true">
                                                <div class="_1-jsxf">
                                                    <div class="QoAOuE">
                                                        <div data-horizontal-scroll-container="true"
                                                             class="ggEu9K Q7tVEg">
                                                            <ul class="MOttpc _3N9g5K"
                                                                data-horizontal-scroll-wrapper="true">
                                                                @foreach (var spSale in kmct.Where(x => x.IdKhuyenMai == km.IdKhuyenMai).GroupBy(x => x.SanPham).Select(x => x.First()).ToList())
                                                                {
                                                                    var spct = lstSpDuocApDungKhuyenMai.FirstOrDefault(x => x.IdChiTietSp == spSale.IdSanPhamChiTiet);
                                                                    <li class="mCTLtQ qn2FlY"
                                                                        style="width: 16.67%;">
                                                                        <a href="@Url.Action("Details","SanPhamChiTiets",new{id= spSale.IdSanPhamChiTiet})"
                                                                           data-sqe="link" class="sgdCbK">
                                                                            <div class="Wj2E1T LHzHhr n98Hr6">
                                                                                <div class="Wc6Tex">
                                                                                    <div class="_58HtDH">
                                                                                        <picture class="JEjj5L">
                                                                                            <img data-is-lazy-load-bg-image="false"
                                                                                                 data-use-image-server="false"
                                                                                                 class="lazyload Mq2X5q"
                                                                                                 loading="lazy"
                                                                                                 src="/AnhSanPham/@spct.Anh"
                                                                                                 alt=$"{@spct.TenSanPham}">
                                                                                        </picture>
                                                                                    </div>
                                                                                    <div class="mwCb8P">
                                                                                        <div class="l6i7Zv">
                                                                                            @{
                                                                                                var giamGia = 100 - ((spct.GiaThucTe / spct.GiaGoc) * 100);
                                                                                                if (spct.GiaThucTe == 0)
                                                                                                {
                                                                                                    giamGia = 100;
                                                                                                }
                                                                                                var roundedGiamGia = (int)Math.Round(Convert.ToDouble(giamGia));
                                                                                            }
                                                                                            <span class="O2ltJ8">-@roundedGiamGia%</span>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="NryQg2">
                                                                                    <div class="RGjY0m">
                                                                                        <div aria-hidden="true"
                                                                                             class="Y9JWoL laR5TZ">
                                                                                            @spct.TenSanPham
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="iu8isX">
                                                                                        <div class="MqK3rf">
                                                                                            <div class="_0w738K PrqYGq SlEOxC"
                                                                                                 manifest="[object Object]"
                                                                                                 aria-hidden="true">
                                                                                                @string.Format("{0:N0}đ",@spct.GiaGoc)

                                                                                            </div>
                                                                                            <div cl ass="_0w738K _5650Ab"
                                                                                                 manifest="[object Object]">
                                                                                                <span aria-label="current price"></span><span class="yi6wjz yS8ee6"></span><span class="Fh3XjX _2cK8Gd">@string.Format("{0:N0}đ",@spct.GiaThucTe)</span>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="l4kljj">
                                                                                            <button data-addtocart="{&quot;action&quot;:1,&quot;itemName&quot;:&quot;[ CHÍNH HÃNG - BH12 THÁNG ] Máy giặt mini SAKURA Tự động 100%, giặt, vắt, sấy - Có thể giặt áo khoác lông mùa đông&quot;,&quot;shopid&quot;:460426806,&quot;itemid&quot;:17289290116}"
                                                                                                    data-addtocarttracking="{&quot;page_type&quot;:&quot;microsite&quot;,&quot;page_section&quot;:&quot;product_collection&quot;,&quot;target_type&quot;:&quot;add_to_cart_button&quot;,&quot;data&quot;:{&quot;microsite_pageid&quot;:48866,&quot;tracking_msg&quot;:&quot;eyJwYWdlX2luZm8iOnsicGFnZV90cmFjZV9pZCI6IjFmOGExYjg0MDlhNTJhOGQwY2EzYTk4NDcxMDExMjAwIn19&quot;,&quot;md_component_id&quot;:1699246519374,&quot;component_name&quot;:&quot;NewUserZone_  3917424 _ 115&quot;,&quot;component_type&quot;:&quot;33&quot;,&quot;microsite_labelid&quot;:[],&quot;section_location&quot;:9,&quot;collection_id&quot;:3917424,&quot;is_horizontal&quot;:true,&quot;itemid&quot;:17289290116,&quot;shopid&quot;:460426806,&quot;item_location&quot;:0}}"
                                                                                                    class="uQynIu h3YISB"></button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                }
                                                                <div class="mCTLtQ qn2FlY"
                                                                     style="width: 16.67%;">
                                                                    <div class="_00qJSX kK-mfd">
                                                                        <div class="hJ4n7F u4f1Yx">
                                                                            <a href="/SanPhamChiTiets"
                                                                               role="button"
                                                                               data-is-ssr-see-all-button="false"
                                                                               class="tQx6Fj _5Hogue PwG79a _5+DP0m">
                                                                                <span class="fB9tKY"
                                                                                      style="background: url(&quot;https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/micrositefe/e5a3dc5f12dce285ae9dede33ff0ba0c.svg&quot;) center center / contain no-repeat; width: 32px; height: 32px; display: inline-block;"></span><span>
                                                                                    Xem
                                                                                    tất cả
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div data-is-carousel-nav-button="prev"
                                                         class="JpPmOu oPcZ0D oDW-sh">
                                                        <svg enable-background="new 0 0 13 20"
                                                             viewBox="0 0 13 20" role="img"
                                                             class="stardust-icon stardust-icon-arrow-left-bold">
                                                            <path stroke="none"
                                                                  d="m4.2 10l7.9-7.9-2.1-2.2-9 9-1.1 1.1 1.1 1 9 9 2.1-2.1z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div data-is-carousel-nav-button="next"
                                                         class="JpPmOu oPcZ0D xP3YuH">
                                                        <svg enable-background="new 0 0 13 21"
                                                             viewBox="0 0 13 21" role="img"
                                                             class="stardust-icon stardust-icon-arrow-right-bold">
                                                            <path stroke="none"
                                                                  d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1 9-9 1-1z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            }
            
           
           
            @if (khuyenMai.Where(x => x.LoaiHinhKM == 0).Any())
            {
                int temp = 0;
                foreach (var a in khuyenMai.Where(x => x.LoaiHinhKM == 0))
                {
                    if (kmct.Where(x => x.IdKhuyenMai == a.IdKhuyenMai).Count() > 0)
                    {
                        temp++;    
                    }
                }
                if (temp != 0)
                {
                <div style="position: relative; height: 132px; width: 960px; left: calc((100% - 960px) / 2);">
                    <div>
                        <div class="md-container">
                            <div class="md-component" data-component-id="1699246519373">
                                <div class="lEwcgc">
                                    <div style="position: absolute; top: 50%; z-index: 9999;"></div>
                                    <div style="position: relative;">
                                        <div class="tenKhuyenMai" style="width: 100%; padding-top: 13.75%;">

                                            <div style="position: absolute; z-index: 10000;left: 50%;  top: 40%;transform: translate(-50%, -50%); text-align: center;">
                                                KHUYẾN MẠI ĐỒNG GIÁ
                                            </div>
                                        </div>
                                        <picture class="JEjj5L">
                                            <img data-is-lazy-load-bg-image="false"
                                                 data-use-image-server="false" class="lazyload RPPDP+"
                                                 loading="lazy"
                                                 src="~/images/banners/navbar sale.png"
                                                 role="presentation" alt=""
                                                 style="position: absolute; top: 0px; height: 100%; width: 100%;">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: relative; height: 450.156px; width: 960px; left: calc((100% - 960px) / 2);margin-bottom:40px">
                    <div>
                        <div class="md-container">
                            <div class="md-component" data-component-id="169924651937456">
                                <div>
                                    <div class="HC9+PG">
                                        <div class="fX9y5D rsM6mQ"></div>
                                        <div>
                                            <div class="hJ4n7F lShvj+">
                                                <a href="/SanPhamChiTiets"
                                                role="button" data-is-ssr-see-all-button="true"
                                                class="tQx6Fj PwG79a Gge7KH"
                                                style="color: rgb(0, 0, 0);">
                                                    <span>
                                                        Xem tất
                                                        cả
                                                    </span>
                                                    <svg viewBox="0 0 12 12" fill="none"
                                                    width="12" height="12" color="#000000"
                                                    class="dH7hlX">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M9.293 6L4.146.854l.708-.708L10 5.293a1 1 0 010 1.414l-5.146 5.147-.708-.707L9.293 6z"
                                                        fill="currentColor"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                            <div class="dash__pad-2">
                                                <div class="tabs">
                                                    @{
                                                        int sttTab = 1; 
                                                    }

                                                @foreach (var kmDongGia in khuyenMai.Where(x => x.LoaiHinhKM == 0))
                                                {
                                                        <div class="tab-item" id="tab@(sttTab)" data-value="@kmDongGia.IdKhuyenMai">@string.Format("{0:N0}đ",@kmDongGia.MucGiam)</div>
                                                        sttTab++;
                                                    }
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Qn3t0w">

                                    <div data-is-ssr-product-cards-container="true"
                                         id="atp__1699246519380" role="tabpanel"
                                         aria-labelledby="at__1699246519380">
                                        <div class="_1-jsxf">
                                            <div class="QoAOuE">
                                                <div data-horizontal-scroll-container="true"
                                                     class="ggEu9K Q7tVEg">
                                                    <ul class="MOttpc _3N9g5K limiter active" id="kmDongGia"
                                                        data-horizontal-scroll-wrapper="true">
                                                    </ul>
                                                </div>
                                            </div>
                                            <div data-is-carousel-nav-button="prev"
                                                 class="JpPmOu oPcZ0D oDW-sh">
                                                <svg enable-background="new 0 0 13 20"
                                                     viewBox="0 0 13 20" role="img"
                                                     class="stardust-icon stardust-icon-arrow-left-bold">
                                                    <path stroke="none"
                                                          d="m4.2 10l7.9-7.9-2.1-2.2-9 9-1.1 1.1 1.1 1 9 9 2.1-2.1z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div data-is-carousel-nav-button="next"
                                                 class="JpPmOu oPcZ0D xP3YuH">
                                                <svg enable-background="new 0 0 13 21"
                                                     viewBox="0 0 13 21" role="img"
                                                     class="stardust-icon stardust-icon-arrow-right-bold">
                                                    <path stroke="none"
                                                          d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1 9-9 1-1z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
                
    </div>
</body>
@{
    DateTime? saleEndDate;
    if (saleChuaBatDau != null && saleChuaBatDau.TrangThai == (int)TrangThaiSale.ChuaBatDau)
    {
        saleEndDate = saleChuaBatDau.NgayBatDau;
    }
    else
    {
        saleEndDate = new DateTime(0001, 01, 01);

    }
}

<script>
    let launchDate = new Date("@saleEndDate").getTime();
    let timer = setInterval(tick, 1000);

    function tick() {
        let now = new Date().getTime();
        let t = launchDate - now;
        if (t > 0) {
            let days = Math.floor(t / (1000 * 60 * 60 * 24));
            if (days < 10) { days = "0" + days; }
            let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            if (hours < 10) { hours = "0" + hours; }
            let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            if (mins < 10) { mins = "0" + mins; }
            let secs = Math.floor((t % (1000 * 60)) / 1000);
            if (secs < 10) { secs = "0" + secs; }
            let _days = `${days}`;
            let _hours = `${hours}`;
            let _mins = `${mins}`;
            let _secs = `${secs}`;
            document.querySelector('.countdown_Day').innerText = _days;
            document.querySelector('.countdown_Hours').innerText = _hours;
            document.querySelector('.countdown_Mins').innerText = _mins;
            document.querySelector('.countdown_Secs').innerText = _secs;
        }
    }
    function createCarouselController(carouselContainer) {
        const prevButton = carouselContainer.querySelector('[data-is-carousel-nav-button="prev"]');
        const nextButton = carouselContainer.querySelector('[data-is-carousel-nav-button="next"]');
        const scrollContainer = carouselContainer.querySelector('[data-horizontal-scroll-container="true"]');

        const containerWidth = scrollContainer.clientWidth;
        const scrollStep = containerWidth / 2;

        // Nút "Next"
        nextButton.addEventListener("click", function () {
            scrollContainer.scrollLeft += scrollStep;
            updatePrevButtonVisibility();
        });

        // Nút "Prev"
        prevButton.addEventListener("click", function () {
            scrollContainer.scrollLeft -= scrollStep;
            updatePrevButtonVisibility();
        });

        // Cập nhật trạng thái hiển thị của nút "Prev"
        function updatePrevButtonVisibility() {
            const scrollLeftPosition = scrollContainer.scrollLeft;
            const visibilityThreshold = 10;

            if (scrollLeftPosition > visibilityThreshold) {
                prevButton.style.visibility = "visible";
            } else {
                prevButton.style.visibility = "hidden";
            }
        }

        // Lắng nghe sự kiện scroll để cập nhật trạng thái hiển thị của nút "Prev"
        scrollContainer.addEventListener("scroll", function () {
            updatePrevButtonVisibility();
        });

        // Ẩn nút "Prev" khi trang web được tải lần đầu
        updatePrevButtonVisibility();
    }

    // Lấy danh sách các carousel và áp dụng controller cho mỗi carousel
    const carouselContainers = document.querySelectorAll('[data-component-id^="1699246519374"]');
    carouselContainers.forEach(function (carouselContainer) {
        createCarouselController(carouselContainer);
    });
</script>
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        // Function để tạo controller cho mỗi carousel
        $('#tab1').addClass("active");
        var trangThai = $('#tab1').attr('data-value');
        loadHoaDon(trangThai);
        var isLoading = false;
        const tabItems = document.querySelectorAll('.tab-item');
        const content1 = document.getElementById('kmDongGia');

        tabItems.forEach((tabItem, index) => {
            tabItem.addEventListener('click', () => {
                var newTrangThai = tabItem.getAttribute("data-value");
                if (newTrangThai !== trangThai) {
                    trangThai = newTrangThai;
                    loadHoaDon(trangThai);
                }
                document.querySelectorAll('.limiter').forEach(content => {
                    content.classList.remove('active');
                });
                document.querySelectorAll('.tab-item').forEach(item => {
                    item.classList.remove('active');
                });
                content1.classList.add('active');
                tabItem.classList.add('active');
            });
        });
        function loadHoaDon(trangThai) {
            isLoading = true;

            $.ajax({
                url: '@Url.Action("KhuyenMaiDongGia", "KhuyenMaiChiTiet")',
                type: 'GET',
                data: { idKhuyenMai: trangThai },
                success: function (result) {
                    $('#kmDongGia').empty().html(result);
                    isLoading = false;
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                    isLoading = false;
                }
            });
        }
    });

    
    
</script>
