@model App_Data.ViewModels.FilterViewModel.FilterDataVM
<div class="shop-p__collection">
    <div class="row is-grid-active">
        @foreach (var item in Model.Items!)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-m">
                    <div class="product-m__thumb" data-id="@item.IdChiTietSp">

                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/Details/@item.IdChiTietSp">

                            <img class="aspect__img" src="/AnhSanPham/@item.Anh" alt="">
                        </a>
                    </div>
                    <div class="product-m__content">
                        <div class="product-m__category">

                            <a>@item.ThuongHieu / @item.TheLoai</a>
                        </div>
                        <div class="product-m__name">

                            <a href="/SanPhamChiTiets/Details/@item.IdChiTietSp">@item.TenSanPham</a>
                        </div>
                        <div class="gl-rating-style">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                            <span class="product-m__review">(@item.SoLanDanhGia)</span>
                        </div>
                        <span style="color: orangered; margin-bottom: 10px">@item.SoMauSac màu</span>
                        <div class="product-m__price" style="color: red">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMin)  -  @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaMax)</div>
                        <div class="product-m__hover">
                            <div class="product-m__preview-description">

                                <span>@item.MoTaNgan</span>
                            </div>
                            <div class="product-m__wishlist">

                                <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<div class="u-s-p-y-60">

    <!--====== Pagination ======-->
    <ul class="shop-p__pagination">
        @for (int i = 1; i <= Model.PagingInfo!.SoTrang; i++)
        {
            <li class="is-active">

                <a href="shop-grid-full.html">@i</a>
            </li>
        }
        <li>

            <a class="fas fa-angle-right" href="shop-grid-full.html"></a>
        </li>
    </ul>
    <!--====== End - Pagination ======-->
</div>