@model App_Data.ViewModels.FilterViewModel.FilterDataVM
<div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-46">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary u-s-m-b-12">DANH SÁCH SẢN PHẨM ĐƯỢC ƯU ĐÃI</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            @if (!Model.Items!.Any())
            {
                <div style="
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: orange;
                                font-size: x-large;
                            ">
                    <span>Hiện chưa có sản phẩm nào được ưu đãi</span>
                </div>
            }
            else
            {
                <div class="row">
                    @foreach (var item in Model.Items!)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">

                            <!--====== Product Orientation Version 2 ======-->
                            <div class="product-o2 u-h-100">
                                <div class="product-o2__wrap">
                                    <div style="
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 73%, 0 100%);
    background: red;
    height: 74px;
    width: 57px;
    z-index: 2;
    right: 0px;
    display: flex;
    justify-content: center;
">
                                        <span style="
    padding-top: 14px;
    color: #62e3e9;
">-@((int)Math.Round(Convert.ToDecimal((item.GiaGoc - item.GiaKhuyenMai) / item.GiaGoc * 100)))%</span>

                                    </div>
                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/SanPhamChiTiets/details/@item.IdChiTietSp">

                                        <img class="aspect__img product-o2__img" src="/AnhSanPham/@item.Anh" alt="">
                                    </a>
                                    <div class="product-o2__action-wrap">
                                        @*<ul class="product-o2__action-list">
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#quick-look" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                </li>
                                                <li>

                                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                                </li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li>

                                                    <a href="signin.html" data-toggle="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                </li>
                                            </ul>*@
                                    </div>
                                </div>
                                <div class="product-o2__content">

                                    <span class="product-o2__category">

                                        <a href="/SanPhamChiTiets">@item.ThuongHieu/@item.TheLoai</a>
                                    </span>

                                    <span class="product-o2__name">

                                        <a href="product-detail.html">@item.TenSanPham @item.MauSac @item.KichCo</a>
                                    </span>
                                    <div class="product-o2__rating gl-rating-style-2">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                        <span class="product-o2__review">(@item.SoLanDanhGia)</span>
                                    </div>

                                    <span class="product-o2__price">
                                        @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaThucTe)

                                        <span class="product-o2__discount">
                                            @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaGoc)
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <!--====== End - Product Orientation Version 2 ======-->
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <!--====== Pagination ======-->
    <ul class="shop-p__pagination">
        @if (Model.PagingInfo!.SoTrang > 1)
        {

            for (int i = 1; i <= Model.PagingInfo!.SoTrang; i++)
            {
                if (i == Model.PagingInfo.TrangHienTai)
                {
                    <li class="is-active">

                        <a href="javascript:void(0);">@i</a>
                    </li>
                }
                else
                {
                    <li>

                        <a class="no-active" href="javascript:void(0);">@i</a>
                    </li>
                }

            }
            @*<li>

                    <a class="fas fa-angle-right" href="javascript:void(0);"></a>
                </li>*@
        }

    </ul>
    <!--====== End - Pagination ======-->
    <!--====== Section Content ======-->
</div>
<script>
    $(document).off("click", ".no-active")
    $(document).on("click", ".no-active", function ()
    {
        var trangHienTai = $(this).text()
        var data = {
            page: trangHienTai,
        };
        $.ajax({
            url: '/SanPhamChiTiets/LoadComponentDanhSachSanPhamUuDai',
            type: 'POST',
            data: data,
            success: function (result) {
                $('#body-danhsanphamyeuthich').empty().html(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });


    });
</script>