@model App_Data.ViewModels.GioHangChiTiet.GioHangMiniViewModel
@using App_Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager
<a class="mini-cart-shop-link">
    <i class="fas fa-shopping-bag"></i>

    <span class="total-item-round">@Model.SoLuongSanPham</span>
</a>

<!--====== Dropdown ======-->

<span class="js-menu-toggle"></span>
<div class="mini-cart">

    <!--====== Mini Product Container ======-->
    <div class="mini-product-container gl-scroll u-s-m-b-15">
        @if (Model.SanPhamGioHangViewModels!.Any())
        {
            @foreach (var item in Model.SanPhamGioHangViewModels!)
            {
                <!--====== Card for mini cart ======-->
                <div class="card-mini-product">
                    <div class="mini-product">
                        <div class="mini-product__image-wrapper">

                            <a class="mini-product__link" href="/SanPhamChiTiets/Details/@item.IdSanPhamChiTiet">

                                <img class="u-img-fluid" style="height: 100%" src="/AnhSanPham/@item.Anh" alt="">
                            </a>
                        </div>
                        <div class="mini-product__info-wrapper">

                            <span class="mini-product__category">

                                <a>@item.TenThuongHieu</a>
                            </span>

                            <span class="mini-product__name">

                                <a href="product-detail.html">@item.TenSanPham</a>
                            </span>

                            <span class="mini-product__quantity">@item.SoLuong x</span>

                            <span class="mini-product__price">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaSanPham)</span>
                        </div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="mini-product__delete-link far fa-trash-alt" onclick="DeleteLine('@item.IdGioHangChiTiet')"></a>
                    }
                    else
                    {
                        <a class="mini-product__delete-link far fa-trash-alt" onclick="DeleteLine('@item.IdSanPhamChiTiet')"></a>

                    }
                </div>
                <!--====== End - Card for mini cart ======-->
            }
        }
        else
        {
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 u-s-m-b-30">
                                <div class="empty">
                                    <div class="empty__wrap">

                                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: -60px; height: 200px; width: 100%; background-repeat: no-repeat; background-size: contain; background-position: center; background-image: url('https://media.baamboozle.com/uploads/images/46623/1648839924_225397_gif-url.gif');">
                                            <span style="margin-top: 225px">Không có sản phẩm nào trong giỏ hàng!!!</span>
                                            <a class="nav-link btn--e-white-brand-shadow" href="/SanPhamChiTiets">ĐI ĐẾN GIAN HÀNG!!!</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
        }



    </div>
    <!--====== End - Mini Product Container ======-->
    <!--====== Mini Product Statistics ======-->
    @if (Model.SanPhamGioHangViewModels!.Any())
    {
        <div class="mini-product-stat">
            <div class="mini-total">

                <span class="subtotal-text">Tổng</span>

                <span class="subtotal-value">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", Model.TongTien)</span>
            </div>
            <div class="mini-action">

                <a class="mini-link btn--e-brand-b-2" href="/GioHangChiTiets/CheckOut">THANH TOÁN</a>

                <a class="mini-link btn--e-transparent-secondary-b-2" href="/GioHangChiTiets/ShowCartUser">GIỎ HÀNG</a>
            </div>
        </div>
    }

    <!--====== End - Mini Product Statistics ======-->
</div>
<!--====== End - Dropdown ======-->
<script>
    function DeleteLine(id) {
        $.ajax({
            url: '/GioHangChiTiets/DeleteLineCartMini',
            type: 'POST',
            data: {
                id: id
            },
            success: function (result) {
                var path = window.location.pathname;
                if (path.includes("GioHangChiTiets")) {
                    window.location.reload()
                } else {
                    $('#body-mini-cart').empty().html(result)
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });
    }
</script>