@model IEnumerable<App_Data.ViewModels.SanPhamChiTietViewModel.ItemShopViewModel>;

    @foreach (var item in Model)
{
    <div class="col-3">
        <div class="card" style="width: 16rem; ">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <img src="/AnhSanPham/@item.Anh" class="card-img-top" alt="...">
                <p class="card-text">
                    <span>@item.TenSanPham @item.MauSac @item.KichCo</span>
                    <br />
                    <span style="color: red;">
                        Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaThucTe) 
                    </span><br>
                    <span> Số lượng: @item.SoLuongTon</span>
                    <a href="#" class="btn btn-success" style="float: right;"> Add </a>
                </p>
            </div>
        </div>
    </div>
}

