@model IEnumerable<App_Data.ViewModels.SanPhamChiTietViewModel.ItemShopViewModel>;

    @foreach (var item in Model)
{
    <div class="col-3">
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <img src="/AnhSanPham/@item.Anh" class="card-img-top" alt="..." style="height:200px;width:200px">
                <p class="card-text">
                    <span>@item.TenSanPham @item.MauSac @item.KichCo</span>
                    <br />
                    @{
                        if (item.GiaBan != item.GiaThucTe)
                        {
                              <span style="color: red;">
                                Giá:<strike>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaBan)</strike><br>
                            </span>
                        }
                    }
                    <span style="color: red;">
                        Giá: @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", @item.GiaThucTe)
                    </span><br>
                    <span>Số lượng:</span><span name="@item.IdChiTietSp">@item.SoLuongTon</span>
                    <a href="#" class="btn btn-success" style="float: right;"> Add </a>
                </p>
            </div>
        </div>
    </div>
}

