@using App_Data.Models;
@using App_View.IServices;
@using App_View.Services;
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json;
@using System.Net.Http;
@inject IDanhGiaService _DanhGiaService
@{
    _DanhGiaService = new DanhGiaService();
    var lst = await _DanhGiaService.GetListAsyncViewModel(@Model.IdChiTietSp);
    var SaoTb = await _DanhGiaService.GetSoSaoTB(@Model.IdChiTietSp);
    var TongSoDanhGia = await _DanhGiaService.GetTongSoDanhGia(@Model.IdChiTietSp);
    var lstby1sao = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 1);
    var lstby2sao = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 2);
    var lstby3sao = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 3);
    var lstby4sao = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 4);
    var lstby5sao = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 5);
    var lstbybinhLuan = await _DanhGiaService.GetListAsyncViewModelWithSao(@Model.IdChiTietSp, 1);
}

<div class="tab-pane" id="pd-1sao">
    <div class="pd-tab__rev">
        
        <div class="u-s-m-b-30">
            <form class="pd-tab__rev-f1">
                <div class="rev-f1__group">
                    <div class="u-s-m-b-15">
                        <h2>@TongSoDanhGia đánh giá dành cho @Model.TenSanPham</h2>
                    </div>
                </div>
                <div class="rev-f1__review">


                    @if (lst != null)
                    {
                        @foreach (var item in lst)
                        {
                            if (item.ParentId == null)
                            {

                                <div class="review-o u-s-m-b-15">
                                    <div class="review-o__info u-s-m-b-8">


                                        <img style="margin-bottom:-35px;width:50px;height:50px; object-fit:cover; border-radius:30px" src="@item.AnhDaiDien">


                                        <span class="review-o__name" style="margin-left:10px">@item.TenNguoiDung</span>
                                        <span class="review-o__name">
                                            <div class="review-o__rating gl-rating-style u-s-m-b-8" style="margin-left:60px">
                                                @if (item.SaoSp == 1)
                                                {

                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>


                                                }
                                                else if (item.SaoSp == 2)
                                                {

                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>


                                                }
                                                else if (item.SaoSp == 3)
                                                {

                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>




                                                }
                                                else if (item.SaoSp == 4)
                                                {

                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>



                                                }
                                                else if (item.SaoSp == 5)
                                                {

                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>




                                                }

                                            </div>
                                        </span>
                                        <span class="review-o__name" style="margin-left:60px">@item.NgayDanhGia | Phân loại hàng: @item.SanPhamTongQuat</span>
                                    </div>
                                    @if (!string.IsNullOrEmpty(item.ChatLuongSanPham?.ToString()))
                                    {
                                        <p class="review-o__text" style="margin-left:60px">Chất lượng sản phẩm: <span class="review-o__name"> @item.ChatLuongSanPham</span></p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.MoTa?.ToString()))
                                    {
                                        <p class="review-o__text" style="margin-left:60px">Đúng với mô tả: <span class="review-o__name">@item.MoTa</span></p>
                                    }

                                    <p class="review-o__name" style="margin-left:60px">@item.BinhLuan</p>
                                    <br />


                                    @foreach (var item1 in lst)
                                    {
                                        if (item1.ParentId == item.IdDanhGia)
                                        {
                                            <div style="width:91%;margin-left:60px;background:#d5d5d5;">
                                                <br />
                                                <span style="margin-left:10px;" class="review-o__name">Phản Hồi Của Shop</span>
                                                <br />
                                                <p class="review-o__text" style="margin-left:10px;">@item1.BinhLuan</p>
                                                <br />
                                            </div>
                                            <br />

                                        }

                                    }
                                    <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 60px;">
                                        <div>
                                            <button type="button" id="likeButton" style="background-color: white; cursor: pointer; border: none;">
                                                <i id="likeIcon" class="fas fa-thumbs-up" style="color: #d5d5d5;"></i>
                                            </button>
                                            <span class="review-o__name">Hữu ích?</span>
                                        </div>
                                        <div class="dropdown">
                                            <button onclick="myFunction()" class="dropbtn" id="ellipsisButton" style="background-color: white; cursor: pointer; border: none;">
                                                <i id="ellipsisIcon" style="color: #d5d5d5;" class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div id="myDropdown" style="width:102px; height: 30px;" class="dropdown-content">

                                                <button onclick="openModal()" style="width:102px; height: 30px;" data-bs-toggle="modal" data-bs-target="#myModal"> <span class="review-o__name">Báo cáo</span></button>
                                            </div>
                                        </div>


                                    </div>
                                </div>



                            }
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>