@using App_Data.DbContext;
@using App_Data.ViewModels.SanPhamChiTietViewModel;
@using App_View.IServices;
@using App_View.Models.ViewModels;
@using static App_Data.Repositories.TrangThai;
@inject IKhuyenMaiservices KhuyenMaiservices;
@model List<ItemShopViewModel>

@{
    ViewData["Title"] = "ApllySale";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center">
    <h1>Apply Sale</h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" type="text/css" href="~/Admin/css/ApplySale.css">
<style>
    .clickable-image {
        cursor: pointer;
    }
</style>


<div class="card" style="display: flex; flex-direction: column; height: 100vh; overflow: hidden;">
    <div class="card-body" style="flex-shrink: 0; z-index: 1; background-color: #ffeedb; padding: 15px;">
        
        <div class="row" style="margin-bottom:10px">
            <select class="custom-select" aria-label="Large select example" id="selectSale" style="display:none">
                @foreach (var item in (SelectList)ViewData["IdSale"])
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <div class="col-4" style="margin-top: 10px" id="thuonghieu">
                <label class="font-weight-semibold">
                    <span> Thương hiệu</span>
                </label>
                <div class="d-flex align-items-center">
                    <i class="fas fa-trademark mr-1"></i>
                    <select id="idThuongHieu" class="select2-active w-100" onchange="timKiem()">
                        <option value="">Thương Hiệu</option>
                        @foreach (var item in (SelectList)ViewData["IdThuongHieu"]!)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4" style="margin-top: 10px" id="loaigiay">
                <label class="font-weight-semibold">Loại giầy</label>
                <div class="d-flex align-items-center">
                    <i class="fab fa-magento mr-1"></i>
                    <select id="idLoaiGiay" class="select2-active w-100" onchange="timKiem()">
                        <option value="">Loại giày</option>
                        @foreach (var item in (SelectList)ViewData["IdLoaiGiay"]!)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4" style="margin-top: 10px" id="mausac">
                <label class="font-weight-semibold">Màu Sắc</label>
                <div class="d-flex align-items-center">
                    <i class="fas fa-palette mr-1"></i>
                    <select id="idMauSac" class="select2-active w-100" onchange="timKiem()">
                        <option value="">Màu sắc</option>
                        @foreach (var item in (SelectList)ViewData["IdMauSac"]!)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>

        </div>
        <div id="swapContainer" class="form-row" style="background-color:#ffeedb">
        </div>
        <button id="applySaleButton" class="btn btn-primary" style="float:right">
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>Add sale</span>
        </button>
    </div>
    <div class="col-sm-12 " id="sanPham" style="overflow: auto; flex-grow: 1;">
       
    </div>
  
</div>


<script>
        $(document).on('click', '#select-all-checkbox', function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        })
    $(document).ready(function () {

        var select = document.getElementById('selectSale');
        var selectValue = select.value;
        updateSwapContent(selectValue);
        locSanPham(selectValue);
        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });
    });
    document.getElementById("applySaleButton").addEventListener("click", function () {
        var selectedProducts = [];
        var checkboxes = document.querySelectorAll("input[name='selectedProducts']:checked");
        checkboxes.forEach(function (checkbox) {
            selectedProducts.push(checkbox.value);
        });
        var idSale = document.getElementById("selectSale").value;
        var formData = new FormData();
        formData.append("idSale", idSale);
        selectedProducts.forEach(function (productId) {
            formData.append("selectedProducts", productId);
        });
        $.ajax({
            url: "@Url.Action("ApllySale", "KhuyenMaiChiTiets")",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                //alert("add thành công");
                if (response.add != "") {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: response.add,
                        icon: 'info',
                        confirmButtonText: 'Đóng'
                    }).then((result) => {

                        if (result.isConfirmed || result.dismiss === Swal.DismissReason.backdrop || result.dismiss === Swal.DismissReason.esc) {
                            location.reload();
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: 'Thông báo!',
                        html: "Áp dụng thành công với " + response.err + " Sản phẩm<br>" + response.err1 + " Đã áp dụng khuyến mại này",
                        icon: 'info',
                        confirmButtonText: 'Đóng'
                    }).then((result) => {

                        if (result.isConfirmed || result.dismiss === Swal.DismissReason.backdrop || result.dismiss === Swal.DismissReason.esc) {
                            location.reload();
                        }
                    });
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

    document.getElementById('selectSale').addEventListener('change', function () {
        updateSwapContent(this.value);
        locSanPham(this.value);
    });

    function updateSwapContent(selectedValue) {
        $.ajax({
            url: "@Url.Action("viewSale", "KhuyenMaiChiTiets")",
            type: "GET",
            data: { id: selectedValue },
            success: function (partialViewHtml) {
                document.getElementById('swapContainer').innerHTML = partialViewHtml;
            },
            error: function () {
                console.error('Failed to load partial view.');
            }
        });
    }
    function locSanPham(selectedValue) {
        $('#preloader').show();
        $.ajax({
            url: "@Url.Action("viewSanPhamFilter", "KhuyenMaiChiTiets")",
            type: "GET",
            data: { id: selectedValue, idThuongHieu:"", idLoaiGiay:"", idMauSac:"" },
            success: function (partialViewHtml) {
                $('#preloader').hide();
                document.getElementById('sanPham').innerHTML = partialViewHtml;
            },
            error: function () {
                console.error('Failed to load partial view.');
            }
        });
    }
    function timKiem() {
        var idThuongHieu = document.getElementById('idThuongHieu').value;
        var idMauSac = document.getElementById('idMauSac').value;
        var idLoaiGiay = document.getElementById('idLoaiGiay').value;
        var select = document.getElementById('selectSale');
        var selectValue = select.value;
        $('#preloader').show();
        $.ajax({
            url: "@Url.Action("viewSanPhamFilter", "KhuyenMaiChiTiets")",
            type: "GET",
            data: { id: selectValue, idThuongHieu: idThuongHieu, idLoaiGiay: idLoaiGiay, idMauSac: idMauSac},
            success: function (partialViewHtml) {
                $('#preloader').hide();
                document.getElementById('sanPham').innerHTML = partialViewHtml;
            },
            error: function () {
                console.error('Failed to load partial view.');
            }
        });
    }

</script>
                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
    <script src="~/Admin_assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin_assets/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin_assets/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin_assets/js/pages/datatables.js" defer></script>
}

<style>
    #swapContainer {
        display: flex;
        width: 100%;
    }

</style>