@using App_Data.DbContextt;
@model IEnumerable<App_Data.ViewModels.SanPhamChiTietViewModel.SanPhamDanhSachViewModel>

@{
    ViewData["Title"] = "ApllySale";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ApllySale</h1>

<style>
    .clickable-image {
        cursor: pointer;
    }
</style>

<div id="modal"></div>
<div class="modal bd-example-modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4">Extra large modal</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        
        <div class="col-lg-3 text-right flex">
            <select id="selectSale" class="select2">
                @foreach (var item in (SelectList)ViewData["IdSale"])
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <button id="applySaleButton" class="btn btn-primary" ">
                <i class="anticon anticon-plus-circle m-r-5"></i>
                <span>Add sale</span>
            </button>
            
        </div>


        <div class="col-sm-12">
            <table id="data-table1" class="table dataTable">
               
                <thead>
                    <tr>
                        <th>
                           <input type="checkbox" id="select-all-checkbox" />
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Kích cỡ
                        </th>
                        <th>
                            Loại giày
                        </th>
                        <th>
                            Dây
                        </th>
                        <th>
                            Chất liệu
                        </th>
                        <th>
                            Kiểu đế giày
                        </th>
                        <th>
                            Số lượng tồn
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Giá nhập
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        

                        <th></th>
                    </tr>

                </thead>
                    <tbody>
            @foreach (var product in Model)
            {
                BazaizaiContext bazaizaiContext = new BazaizaiContext();
                var spct = bazaizaiContext.sanPhamChiTiets.Find(product.IdChiTietSp);
                        <tr>
                            <td class="sorting_1">

                                <input type="checkbox" class="voucher-checkbox" name="selectedProducts" value="@product.IdChiTietSp" />

                            </td>
                            <td>@product.SanPham</td>
                            <td>@product.KichCo</td>
                            <td>@product.LoaiGiay</td>
                            <td>@product.Day</td>
                            <td>@product.ChatLieu</td>
                            <td>@product.KieuDeGiay</td>
                            <td>@product.SoLuongTon</td>
                            <td>@product.GiaBan</td>
                            <td>@product.GiaNhap</td>
                            <td>
                        @if (spct.TrangThai == 0)
                        {
                                    <div class="trangThai">
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Active</div>
                                        </div>
                                    </div>
                        }
                        else
                        {
                                    <div class="trangThai">
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>No Active</div>
                                        </div>
                                    </div>
                        }
                            </td>
                        </tr>
            }
                </tbody>
                <tfoot>
                    <tr>
                        <th>...</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });

        });
    document.getElementById("applySaleButton").addEventListener("click", function () {
        var selectedProducts = [];
        var checkboxes = document.querySelectorAll("input[name='selectedProducts']:checked");
        checkboxes.forEach(function (checkbox) {
            selectedProducts.push(checkbox.value);
        });
        var idSale = document.getElementById("selectSale").value;
        var formData = new FormData();
        formData.append("idSale", idSale);
        selectedProducts.forEach(function (productId) {
            formData.append("selectedProducts", productId);
        });
        $.ajax({
            url: "@Url.Action("ApllySale", "KhuyenMaiChiTiets")",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                //alert("add thành công");
                if (response.add != "") {
                    alert(response.add)
                }
                else
                    alert(response.err.join("\n"));
                //window.location.href = "/Admin/SaleDetail/ApllySale";
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
</script>
                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
    <script src="~/Admin_assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin_assets/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin_assets/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin_assets/js/pages/datatables.js" defer></script>
}