@model IEnumerable<App_Data.ViewModels.KhuyenMaiChiTietDTO.KhuyenMaiChiTietDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center">
    <h1>Danh sách sản phẩm khuyến mại</h1>

        <button class="btn btn-danger m-r-5" id="xoaKmct" style="float:right">Xóa khuyến mại</button>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<table id="tbSaleDT" class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="select-all-checkbox" />
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Tên khuyến mại
            </th>
            <th>
                Trạng thái
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="sorting_1">

                    <input type="checkbox" class="voucher-checkbox" name="selectedKmct" data-idKmct="@item.IdKhuyenMai" data-idSpct="@item.SanPham" />

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai)
            </td>
            <td>
                    @if (item.TrangThai == 0)
                    {
                        <text>Ngưng khuyến mãi</text>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <text>Đang khuyến mãi</text>
                    }
                    else if (item.TrangThai == 2)
                    {
                        <text>Sắp khuyến mãi</text>
                    }
                    else
                    {
                        <text>Trạng thái lỗi</text>
                    }
                </td>
            
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tbSaleDT").DataTable();

        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });

        $('#xoaKmct').click(function () {
            var TenSpct = [];
            var idKmct = [];
            var checkboxes = document.querySelectorAll("input[name='selectedKmct']:checked");
            if (checkboxes.length === 0) {
                Swal.fire({
                    title: 'Thông báo!',
                    text: "Vui lòng chọn ít nhất một sản phẩm để xóa",
                    icon: 'info',
                    confirmButtonText: 'Đóng'
                })
                return;
            }
            Swal.fire({
                title: 'Xác nhận xóa',
                text: 'Bạn có chắc chắn muốn xóa các mục đã chọn?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy bỏ'
            }).then((result) => {
                if (result.isConfirmed) {
            checkboxes.forEach(function (checkbox) {
                TenSpct.push(checkbox.getAttribute("data-idSpct"));
                idKmct.push(checkbox.getAttribute("data-idKmct"));
            });

            var formData = new FormData();
            TenSpct.forEach(function (tenSpct) {
                formData.append("TenSpct", tenSpct);
            });
            idKmct.forEach(function (idkmct) {
                formData.append("idKm", idkmct);
            });
            $.ajax({
                url: "@Url.Action("Delete", "KhuyenMaiChiTiets")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.mess !== "") {
                                Swal.fire({
                                    title: 'Thông báo!',
                                    text: response.mess,
                                    icon: 'info',
                                    confirmButtonText: 'Đóng'
                                }).then((result) => {

                                    if (result.isConfirmed || result.dismiss === Swal.DismissReason.backdrop || result.dismiss === Swal.DismissReason.esc) {
                                        location.reload();
                                    }
                                });
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
                }
            });
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
    <script src="~/Admin/vendors/select2/select2.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
}