@using System.Globalization;
@using static App_Data.Repositories.TrangThai;
@model IEnumerable<App_Data.ViewModels.VoucherNguoiDung.VoucherNguoiDungDTO>

@functions {
    // Hàm trợ giúp để định dạng số nguyên thành tiền tệ Việt Nam
    public string FormatCurrency(int? value)
    {
        return string.Format(new CultureInfo("vi-VN"), "{0:C0}", value);
    }
    public string FormatDate(DateTime? value)
    {
        if (value.HasValue)
        {
            string formattedDate = value.Value.ToString("dd.MM.yyyy HH:mm", System.Globalization.CultureInfo.CurrentCulture);
            return formattedDate;
        }
        return string.Empty; // hoặc bạn có thể trả về một giá trị mặc định khác nếu cần
    }
}
@if (Model.Count() == 0)
{
    <div style="text-align: center;  display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;
margin:auto">
        <img src="/images/CatForNotThing.gif" style="width: 480px;height:360px" alt="Ảnh thông báo">
        <div class="u-s-m-b-15" style="text-align: center;">
            <h1 class="dash__h1 u-s-m-b-14" style="display: inline-block; margin-top: 10px;">Hiện chưa có voucher nào. </h1>
        </div>
    </div>
}
else
{
    <div class="m-order__list">
        @foreach (var item in Model)
        {
            <div class="m-order__get">
                <div class="manage-o__header u-s-m-b-30">
                    <div class="dash-l-r">
                        <div>
                            <div class="manage-o__text-2 u-c-secondary"> @item.TenVoucher</div>
                            <div style="color:#FF4500" class="manage-o__text u-c-silver"> 🕛 @FormatDate(item.NgayKetThuc)</div>
                        </div>
                        <div>
                            @if (item.LoaiHinhUuDai == 0)
                            {
                                <p>Giảm giá theo tiền mặt</p>
                            }
                            @if (item.LoaiHinhUuDai == 1)
                            {
                                <p>Giảm giá %</p>
                            }
                            @if (item.LoaiHinhUuDai == 2)
                            {
                                <p>Miễn phí vận chuyển</p>
                            }
                            <div class="dash__link dash__link--brand" style="float:right">
                                @*        <a class="btn btn-primary btn-sm"  onclick="showDetails('@item.MaVoucher')">Xem chi tiết</a> *@
                                @Html.ActionLink("Chi tiết", "VoucherDetails", "Voucher", new { ma = item.MaVoucher })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="manage-o__description">
                    <div class="description__container">
                        <div class="description__img-wrap">

                            <img class="u-img-fluid" src="/images/logo.jpg" alt="">
                        </div>
                        <div class="description-title">
                            Mã: <u style="color:red">@item.MaVoucher </u>
                            <p>
                                Giảm
                                @if (item.LoaiHinhUuDai == 1)
                                {
                                    <span> @item.MucUuDai %</span>
                                }
                                else
                                {
                                    double? mucUuDai = item.MucUuDai;
                                    @string.Format("{0:N0}đ", item.MucUuDai)
                                    // Định dạng giá trị theo định dạng tiền Việt Nam
                                }
                            </p>
                            <p width:40px>Đơn tối thiểu: @FormatCurrency(item.DieuKien)</p>
                        </div>

                    </div>

                    <div class="description__info-wrap">
                        <div class="body_copy">
                            <a class="manage-o__badge badge--delivered copyButton">Copy mã</a>
                            <textarea class="textToCopy" style="display: none;">@item.MaVoucher</textarea>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
 

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
