@using System.Globalization;
@using static App_Data.Repositories.TrangThai;
@model IEnumerable<App_Data.ViewModels.VoucherNguoiDung.VoucherNguoiDungDTO>

@{
    Layout = "/Views/Shared/_LayoutUser.cshtml";
    //Layout = "/Views/Shared/_LayoutLogin.cshtml";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .m-order__list {
        display: flex;
        flex-wrap: wrap; /* Cho phép các cột wrap (được xuống dòng) khi không đủ chỗ */
    }

    .m-order__get {
        width: 45%;
        height: 210px; /* Đặt chiều rộng của mỗi cột là 50% để chúng hiển thị trong cùng một cột */
        padding: 10px;
        margin-left: 20px;
        box-sizing: border-box;
    }
</style>


@functions {
    // Hàm trợ giúp để định dạng số nguyên thành tiền tệ Việt Nam
    public string FormatCurrency(int? value)
    {
        return string.Format(new CultureInfo("vi-VN"), "{0:C0}", value);
    }
    public string FormatDate(DateTime? value)
    {
        if (value.HasValue)
        {
            string formattedDate = value.Value.ToString("dd.MM.yyyy HH:mm", System.Globalization.CultureInfo.CurrentCulture);
            return formattedDate;
        }
        return string.Empty; // hoặc bạn có thể trả về một giá trị mặc định khác nếu cần
    }
}

<div class="col-lg-9 col-md-12">

        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">

            <div class="dash__pad-2">
                <div>
                    <h1 class="dash__h1 u-s-m-b-14" style="display: inline-block;">My Voucher</h1>
                    <a style="color:#FF4500;margin-left:32%;display: inline-block;">Tìm thêm voucher</a> |
                    <a asp-action="Voucher_wallet_history" style="color:#FF4500" style="display: inline-block;">Xem lịch sử voucher</a> |
                    <a style="color:#FF4500" style="display: inline-block;">Tìm hiểu</a>
                </div>
                <span class="dash__text u-s-m-b-30">Bạn sẽ thấy tất cả voucher đã lưu của bạn ở đây.</span>
                <!--Lưu mã voucher-->
                <div class="row">
                       <form class="m-order u-s-m-b-30" asp-action="SaveVoucher" method="post">
                    <div class="col-lg-10 u-s-m-b-30" style="text-align:center">
                        <input b-xzovs66yy5="" class="input-text input-text--border-radius input-text--style-1" type="text" name="MaVoucher" id="main-search" placeholder="Nhập mã voucher">
                    </div>
                    <div class="col-lg-2" style="text-align:center;float:right" >
                        <button class="btn btn--e-brand newsletter__btn" style="border-radius: 40px;margin-right:50px;margin-top:-50px" type="submit">
                            Lưu
                        </button>
                    </div>
                </form>
                </div>
                <!--Show mã voucher-->
                <form class="m-order u-s-m-b-30" asp-action="Voucher_wallet" method="post">
                    <div class="m-order__select-wrapper">
                        <label class="u-s-m-r-8" for="my-order-sort">Lọc voucher theo:</label>
                        <select class="select-box select-box--primary-style" id="my-order-sort" name="loaiHinh">
                            <option value="">Tất cả</option>
                        <option value="@((int)TrangThaiLoaiKhuyenMai.TienMat)">Giảm giá tiền mặt</option>
                        <option value="@((int)TrangThaiLoaiKhuyenMai.PhanTram)">Giảm giá theo %</option>
                        <option value="@((int)TrangThaiLoaiKhuyenMai.Freeship)">Miễn phí ship</option>
                        </select>
                    <div class="m-order__select-wrapper">

                        <button type="submit" style="border-radius: 40px;margin-left:10px;color:white;border:none;background-color:#FF4500"
                        class="btn btn-primary">Lọc</button>
                    </div>
                </div>

                </form>

                <div class="row">
                </div>
                <div class="m-order__list">
                @foreach (var item in ViewBag.TatCa)
                {
                    <div class="m-order__get">
                        <div class="manage-o__header u-s-m-b-30">
                            <div class="dash-l-r">
                                <div>
                                    <div class="manage-o__text-2 u-c-secondary"> @item.TenVoucher</div>
                                    <div style="color:#FF4500" class="manage-o__text u-c-silver"> 🕛 @FormatDate(item.NgayKetThuc)</div>
                                </div>
                                <div>
                                    @if (item.LoaiHinhUuDai == 0)
                                    {
                                        <p>Giảm giá theo tiền mặt</p>
                                    }
                                    @if (item.LoaiHinhUuDai == 1)
                                    {
                                        <p>Giảm giá %</p>
                                    }
                                    @if (item.LoaiHinhUuDai == 2)
                                    {
                                        <p>Miễn phí vận chuyển</p>
                                    }
                                    <div class="dash__link dash__link--brand">

                                        <a  style="float:right" href="dash-manage-order.html">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="manage-o__description">
                            <div class="description__container">
                                <div class="description__img-wrap">

                                    <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                </div>
                                <div class="description-title">
                                    Mã: <u style="color:red">@item.MaVoucher </u>
                                    <p>
                                        Giảm
                                             @if (item.LoaiHinhUuDai == 1)
                                        {
                                            <span> @item.MucUuDai %</span>
                                        }
                                        else
                                        {
                                            double? mucUuDai = item.MucUuDai;
                                            @string.Format("{0:N0}đ", item.MucUuDai)
                                            // Định dạng giá trị theo định dạng tiền Việt Nam
                                        }
                                    </p>
                                    <p width:40px>Đơn tối thiểu: <br> @FormatCurrency(item.DieuKien)</p>
                                </div>

                            </div>
                            <div class="description__info-wrap">
                                <div class="body_copy">
                                    <a class="manage-o__badge badge--delivered copyButton" >Copy mã</a>
                                    <textarea class="textToCopy" style="display: none;">@item.MaVoucher</textarea>
                                </div>
                      
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).on('click', '.copyButton', function () {
        var maVoucher = $(this).closest('.body_copy').find('.textToCopy').val()
        var tempInput = document.createElement("input");
        tempInput.value = maVoucher;
        document.body.appendChild(tempInput);

        // Chọn văn bản trong phần tử input tạm thời
        tempInput.select();
        document.execCommand("copy");

        // Xóa phần tử input tạm thời
        document.body.removeChild(tempInput);

        alert("Đã sao chép mã vào clipboard: " + maVoucher);
    })
    // Sau khi nhận phản hồi thành công từ server
  
</script>