@page "/EditProfile"
@using App_Data.Models;
@using static App_Data.Repositories.TrangThai;
@model IndexModel
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    //ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "/Views/Shared/_LayoutUser.cshtml";

}
<style>
    .text-danger {
        color: red;
    }

    .card {
        border-radius: 10px;
    }

        .card .card-header .profile_img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            margin: 0px auto;
            border: 1px solid white;
            border-radius: 50%;
        }

        .card span {
            margin-top: 15px;
        }

    .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

</style>
<div class="col-lg-9 col-md-12">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <form class="dash-edit-p" id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="dash__pad-2">
                <h1 class="dash__h1 u-s-m-b-14">Chỉnh sửa hồ sơ</h1>
                <div class="dash__link dash__link--secondary u-s-m-b-30">

                  @*  <a data-modal="modal" data-modal-id="#dash-newsletter">Theo dõi bản tin</a>*@
                    @if (user.SuaDoi > 0)
                    {
                        <p>Tên Đăng nhập chỉ có thể thay đổi một lần.</p>

                    }
                </div>

                <div class="row">
                    <div class="col-lg-8 u-s-m-b-30" style=" border-right: 1px solid green;">
                        <div class="row">
                            @if (@user.SuaDoi > 0)
                            {
                                <div class="col-lg-6 u-s-m-b-30">


                                    <label asp-for="Input.Username" class="gl-label" for="reg-fname"> Tên đăng nhập </label>
                                    <input asp-for="Input.Username" class="input-text input-text--primary-style" type="text" id="reg-fname">
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                    
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 u-s-m-b-30">


                                    <label asp-for="Input.Username" class="gl-label" for="reg-fname"> Tên đăng nhập </label>
                                    <input asp-for="Input.Username" class="input-text input-text--primary-style" type="text" id="reg-fname" readonly>
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                            }
                            <div class="col-lg-6 u-s-m-b-30">
                                <label asp-for="Input.Name" class="gl-label" for="reg-fname"> Họ và tên </label>
                                <input asp-for="Input.Name" class="input-text input-text--primary-style" type="text" id="reg-fname">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 u-s-m-b-30">
                                <label asp-for="Input.GioiTinh" class="gl-label" for="reg-fname">Giới tính </label>
                                @*<input asp-for="Input.GioiTinh" class="input-text input-text--primary-style" type="text" id="reg-fname">*@
                                <select class="input-text input-text--primary-style" asp-for="Input.GioiTinh">
                                    <option class="hidden" selected disabled>Giới tính</option>
                                    <option value="@((int)GioiTinhMacDinh.Nam)">Nam</option>
                                    <option value="@((int)GioiTinhMacDinh.Nu)">Nữ</option>

                                </select>
                                <span asp-validation-for="Input.GioiTinh" class="text-danger"></span>
                            </div>
                           


                            <div class="col-lg-6 u-s-m-b-30">
                                <label asp-for="Input.NgaySinh" class="gl-label" for="reg-fname">Ngày sinh </label>
                                <input asp-for="Input.NgaySinh" class="input-text input-text--primary-style" type="text" id="reg-fname">
                                <span asp-validation-for="Input.NgaySinh" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 u-s-m-b-30">
                                <label class="gl-label" for="reg-fname">Email</label>
@*                                <h2 class="dash__h2 u-s-m-b-8">Email</h2>
*@                                <span class="dash__text">@Model.Email</span>
                                <div class="dash__link dash__link--secondary">
                                    <a asp-page="./Email">Thay đổi</a>
                                </div>
                            </div>
                            <div class="col-lg-6 u-s-m-b-30">
                                <label class="gl-label" for="reg-fname">Số điện thoại </label>
@*                                <h2 class="dash__h2 u-s-m-b-8">Số điện thoại</h2>
*@                                @if (!string.IsNullOrEmpty(Model.Phone))
                                {
                                    <span class="dash__text">@Model.Phone</span>
                                    <div class="dash__link dash__link--secondary">
                                        <a asp-page="./PhoneNumber">Thay đổi</a>
                                    </div>

                                }
                                else
                                {
                                    <span class="dash__text">Vui lòng nhập điện thoại di động của bạn</span>
                                    <div class="dash__link dash__link--secondary">

                                        <a asp-page="./PhoneNumber">Thêm</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 u-s-m-b-30">
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent text-center">
                                <div class="centered-content">
                                    
                                    <img id="imagePreview" class="profile_img" src="@Model.Input.AnhDaiDien" alt="student dp">
                                    <label class="gl-label" for="imageInput" style="background-color:aliceblue; margin-top: 15px; cursor: pointer;">Chọn ảnh</label>
                                    
                                    <input style="display:none" id="imageInput" asp-for="Input.AnhDaiDien" type="file" class="form-control" accept=".jpg, .jpeg, .png" />
                                    <span class="dash__text">
                                        Dụng lượng file tối đa 1 MB
                                        <br />
                                        Định dạng:.jpg, .jpeg, .png
                                    </span>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.AnhDaiDien" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button id="update-profile-button" type="submit" class="btn btn--e-brand-b-2">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script>
        const imageInput = document.getElementById('imageInput');
        const imagePreview = document.getElementById('imagePreview');
        const submitButton = document.querySelector('button[type="submit"]');

        // Kiểm tra xem có giá trị trong imageInput.value không
        if (imageInput.value) {
            imagePreview.src = imageInput.value;
        }

        imageInput.addEventListener('change', function () {
            if (imageInput.files && imageInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    // Bật nút Submit khi có tệp mới được chọn
                    submitButton.disabled = false;
                };

                reader.readAsDataURL(imageInput.files[0]);
            }
        });

    </script>
}












