@using App_Data.DbContextt;
@using App_Data.ViewModels.VoucherNguoiDung;
@model IEnumerable<App_Data.ViewModels.VoucherNguoiDung.VoucherNguoiDungDTO>

@{
    BazaizaiContext context = new BazaizaiContext();
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .voucher-container {
            width: 900px;
            height: 300px;
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
            margin-bottom: 40px;
            margin-left: 100px;
            background: url('/images/background_Voucher.png') center/cover; /* Sử dụng hình nền */
        }


        .qr-code {
            flex: 3;
            padding-right:50px;
        }

            .qr-code img {
                max-width: 80%;
                height: auto;
                margin-left: 35.9px;
            }

        .voucher-info {
            flex: 7;
            padding: 10px;
            box-sizing: border-box;
            margin-left: 60px;
        }

            .voucher-info table {
                width: 100%;
            }

                .voucher-info table td {
                    padding: 5px;
                    border-bottom: 1px solid #ccc;
                }

        table tr {
            border-bottom: none;
        }
    </style>
</head>
<body>
    <div id="voucher-container-wrapper">
        @foreach (var item in Model)
        {
            <div class="voucher-container">
                <div class="qr-code">
                    <img src="/images/VoucherNguoiDungQRCode/@(item.IdVouCherNguoiDung).png" alt="VoucherQR">
                </div>
                <div class="voucher-info">
                    <table>
                        <tr>
                            <td><strong>Tên voucher:</strong></td>
                            <td colspan="2">@item.TenVoucher</td>
                        </tr>
                        <tr>
                            <td><strong>Mã Cứng:</strong></td>
                            <td>@item.IdVouCherNguoiDung</td>
                        </tr>
                        <tr>
                            <td> <strong>Loại ưu đãi:</strong></td>
                            <td>
                                @if (item.LoaiHinhUuDai == 0)
                                {
                                    <span>Giảm giá theo tiền mặt</span>
                                }
                                else if (item.LoaiHinhUuDai == 1)
                                {
                                    <span>Giảm giá %</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Áp dụng cho đơn hàng tối thiểu:</strong>

                            </td>
                            <td>
                                @string.Format("{0:N0}đ", item.DieuKien)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Thời gian:</strong>

                            </td>
                            <td>
                                Từ @item.NgayBatDau.ToString("dd/MM/yyyy HH:mm") đến @item.NgayKetThuc.ToString("dd/MM/yyyy HH:mm")
                            </td>
                        </tr>
                        <div class="voucher-status">                          
                            <em>Voucher khuyến mãi được thực hiện bởi Bazaizai Store</em>
                        </div>
                        <!-- Thêm các thông tin khác tương tự ở đây -->
                    </table>
                </div>
            </div>
        }
    </div>

  

</body>
</html>

<script>
    $(document).ready(function () {
        $('#data-table').DataTable()
    });
</script>