@using App_Data.DbContext;
@model IEnumerable<App_Data.Models.Voucher>

@{
    BazaizaiContext context = new BazaizaiContext();
}

<!-- Modal -->
<div class="modal fade" id="printVoucher">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="voucherForm" method="post" asp-area="Admin" asp-controller="Vouchers" asp-action="InVoucherTaiQuay">
                <div class="modal-header">
                    <h5 class="modal-title" id="printVoucherLabel">Nhập số lượng voucher cần được in</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Số lượng</span>
                        </div>
                        <input type="number" min="1" max="500" class="form-control" name="soLuong" id="soLuong" />
                    </div>
                     <div class="input-group mb-3">
                        <marquee style="color:red;margin:auto">Mỗi voucher chỉ được tạo 500 bản in mỗi lần.</marquee>
                    </div>
                    <div class="input-group mb-3" hidden>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">id Voucher</span>
                        </div>
                        <input type="text" class="form-control" name="idVoucher" id="idVoucherPrint" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="printButtonController" class="btn btn-primary">Tạo <i class="anticon anticon-printer" style="color:white;align-content:center;font-size:20px"></i></button>
                </div>
            </form>

        </div>
    </div>
</div>
<table id="data-table" class="table" style="text-align:center">

    <thead>
        <tr>
            <th>
                Mã Voucher
            </th>
            <th>
                Tên
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Số lượng đã tạo
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                <i class="anticon anticon-tool icon"></i>
            </th>
            <th>
                <input type="checkbox" id="select-all-checkbox" class="checkbox_css" />
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaVoucher
                </td>
                <td>
                    @item.TenVoucher
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        decimal mucUuDai = decimal.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString("0.0") + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        @string.Format("{0:N0}đ", item.MucUuDai)
                    }
                </td>
                <td>
                    @string.Format("{0:N0}đ", item.DieuKien)
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 0)
                    {
                        <span>Giảm giá theo tiền mặt</span>
                    }
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        <span>Giảm giá %</span>
                    }
                    @if (item.LoaiHinhUuDai == 2)
                    {
                        <span>Miễn phí vận chuyển</span>
                    }
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @string.Format("{0:dd/MM/yyyy HH:mm}", item.NgayBatDau)
                </td>
                <td>
                    @string.Format("{0:dd/MM/yyyy HH:mm}", item.NgayKetThuc)
                </td>
                <td>
                    @if (item.TrangThai == 6)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 7)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if (item.TrangThai == 8)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else if (item.TrangThai == 9)
                    {
                        <span>Đã huỷ</span>
                    }
                </td>
                <td>
                @if (item.TrangThai == 6 || item.TrangThai == 8)
                {  
                    <div class="btn-group dropdown" style="cursor: pointer">
                            <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu">
                                <a onclick="printVourcher('@item.IdVoucher')" class="dropdown-item"><i class="anticon anticon-printer icon"></i> Tạo voucher để in</a>
                                <a asp-action="EditTaiQuay" class="dropdown-item" asp-route-id="@item.IdVoucher"> <i class="anticon anticon-edit icon"></i> Chỉnh sửa</a>
                            </div>
                   </div>   
                }
                else
                {
                        <div class="btn-group dropdown" style="cursor: pointer">
                            <i class="fas fa-bars" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu">
                                <a asp-action="EditTaiQuay" class="dropdown-item" asp-route-id="@item.IdVoucher"><i class="anticon anticon-edit icon"></i> Chỉnh sửa</a>
                            </div>
                        </div>                 
                }
                </td>
                <td>
                    <input type="checkbox" class="voucher-checkbox" data-value="@item.IdVoucher" />
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#voucherForm').submit(function (event) {
            // Ngăn chặn gửi form mặc định
            event.preventDefault();
            $('#preloader').show();
            // Sử dụng Ajax để gửi dữ liệu form và nhận kết quả từ server
            $.ajax({
                type: 'POST',
                url: $('#voucherForm').attr('action'),
                data: $('#voucherForm').serialize(),
                success: function (data) {
                    // Xử lý kết quả từ server
                    if (data) {
                        $('#printVoucher').modal('hide');
                        $('#preloader').hide();
                        // Xử lý kết quả từ server
                        Swal.fire({
                            title: 'Thông báo!',
                            text: 'Tạo voucher để in thành công!',
                            icon: 'success'
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                location.reload(); // Reload trang khi ấn OK
                            }
                        });
                    }
                    else {
                        $('#printVoucher').modal('hide');
                        $('#preloader').hide();
                        // Xử lý kết quả từ server
                        Swal.fire({
                            title: 'Thông báo!',
                            text: 'Tạo voucher để in thành công!',
                            icon: 'error'
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                location.reload(); // Reload trang khi ấn OK
                            }
                        });
                    }
                },
                error: function () {
                    // Xử lý lỗi nếu có
                    alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            });
        });

        $('#data-table').DataTable()
        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });
        $('#delete-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            huyHoatDongVoucher(selectedIds);
        });
        $('#restore-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            KhoiPhucVoucher(selectedIds);
        });

    });
    function printVourcher(idvoucher) {
        $('#printVoucher').modal('show');
        $('#idVoucherPrint').val(idvoucher);
    }
</script>