@using App_Data.DbContext;
@model IEnumerable<App_Data.ViewModels.Voucher.VoucherDTO>

@{
    BazaizaiContext context = new BazaizaiContext();
}
<link href="~/css/cssVoucherIn.css" rel="stylesheet" />
<style>
    .icon {
        font-size: 25px;
        color: #0F69F2;
        cursor: pointer;
    }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Chi tiết Voucher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExportPDF" onclick="PrintContent()"><i class="anticon anticon-file-pdf"></i> Xuất PDF</button>
            </div>

            <div class="modal-body printContent" id="myModalContent">
                <!-- Nội dung chi tiết sẽ được cập nhật ở đây từ partial view -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<table id="data-table" class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Voucher đã tạo
            </th>
            <th>
                Voucher đã in
            </th>
            <th>
                Voucher chưa in
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                <i class="anticon anticon-tool icon"></i>
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaVoucher
                </td>
                <td>
                    @item.TenVoucher
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        decimal mucUuDai = decimal.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString("0.0") + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        @string.Format("{0:N0}đ", item.MucUuDai)
                    }
                </td>
                <td>
                    @string.Format("{0:N0}đ", item.DieuKien)
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 0)
                    {
                        <span>Giảm giá theo tiền mặt</span>
                    }
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        <span>Giảm giá %</span>
                    }
                    @if (item.LoaiHinhUuDai == 2)
                    {
                        <span>Miễn phí vận chuyển</span>
                    }
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @item.SoLuongVoucherDaIn
                </td>
                <td>
                    @item.SoLuongVoucherChuaIN
                </td>
                <td>
                    @item.NgayBatDau
                </td>
                <td>
                    @item.NgayKetThuc
                </td>
                <td>

                    @if (item.TrangThai == 6)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 7)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if (item.TrangThai == 8)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else if (item.TrangThai == 9)
                    {
                        <span>Đã huỷ</span>
                    }
                </td>
                <td>
                    @if (item.TrangThai == 9 || item.TrangThai == 7)
                    {
                        <i class="anticon anticon-stop"></i>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm" onclick="showDetails('@item.IdVoucher')"> Xuất voucher <i class="anticon anticon-export"></i></button>
                        @*              @Html.ActionLink("Xuất voucher", "XuatVoucher", new { idVoucher = item.IdVoucher }) *@
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

<script>
    var idVouchersauKhiIn = "";
    $(document).ready(function () {


        $('#voucherForm').submit(function (event) {
            // Ngăn chặn gửi form mặc định
            event.preventDefault();
            $('#preloader').show();
            // Sử dụng Ajax để gửi dữ liệu form và nhận kết quả từ server
            $.ajax({
                type: 'POST',
                url: $('#voucherForm').attr('action'),
                data: $('#voucherForm').serialize(),
                success: function (data) {
                    // Xử lý kết quả từ server
                    if (data) {
                        $('#printVoucher').modal('hide');
                        $('#preloader').hide();
                        // Xử lý kết quả từ server
                        Swal.fire({
                            title: 'Thông báo!',
                            text: 'In voucher thành công!',
                            icon: 'success'
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                location.reload(); // Reload trang khi ấn OK
                            }
                        });
                    }
                    else {
                        $('#printVoucher').modal('hide');
                        $('#preloader').hide();
                        // Xử lý kết quả từ server
                        Swal.fire({
                            title: 'Thông báo!',
                            text: 'In voucher thất bại!',
                            icon: 'error'
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                location.reload(); // Reload trang khi ấn OK
                            }
                        });
                    }
                },
                error: function () {
                    // Xử lý lỗi nếu có
                    alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            });
        });

        $('#data-table').DataTable()
        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });
        $('#delete-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            huyHoatDongVoucher(selectedIds);
        });
        $('#restore-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            KhoiPhucVoucher(selectedIds);
        });
        //Đóng modal
        $(document).ready(function () {
            $('#myModal').on('hidden.bs.modal', function () {
                Swal.fire({
                    title: "Xác nhận đã in voucher ?",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    denyButtonText: `Chưa`,
                    footer: '<a href="#">Khi bạn xác nhận in sẽ không thể in hay xuất lại số voucher đã in trước đó</a>'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#preloader').show();
                        $.ajax({
                            url: '/Admin/Vouchers/CapNhatVoucherNguoiDungDain',
                            type: 'POST',
                            success: function (result) {
                                if (result) {
                                    $('#preloader').hide();                                   
                                    Swal.fire({
                                        title: "Voucher đã in xong và sẽ ẩn không thể in lại!",
                                        icon: "success",
                                        confirmButtonText: "OK",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // Nếu người dùng nhấn OK, thì mới thực hiện reload
                                            window.location.reload();
                                        }
                                        else    {
                                            window.location.reload();
                                        }
                                    });
                                }
                                else {
                                    $('#preloader').hide();
                                    Swal.fire("Có lỗi xảy ra", "", "warning");
                                }
                            }, error: function (error) {
                                console.error(error);
                            }
                        });

                    } else if (result.isDenied) {
                        Swal.fire("Voucher đã bị huỷ in", "", "warning");
                    }
                });
            });
        });
    });
    function printVourcher(idvoucher) {
        $('#printVoucher').modal('show');
        $('#idVoucherPrint').val(idvoucher);
    }
    function showDetails(idVoucher) {
        idVouchersauKhiIn = idVoucher;
        $.ajax({
            url: '/Admin/Vouchers/FilterListDetailsVoucherTaiQuayDaIn',
            type: 'POST',
            data: { idVoucher: idVoucher },
            success: function (result) {
                // Hiển thị modal và cập nhật nội dung partial view
                $('#myModalContent').html(result);
                $('#myModal').modal('show');
            }, error: function (error) {
                console.error(error);
            }
        });
    }
    function PrintContent() {
        document.getElementById("btnExportPDF").style.display = "none";
        var contentToPrint = $("#myModalContent").html();

        var printWindow = window.frames["print_frame"];
        printWindow.document.open();
        printWindow.document.write('<html><head></head><body>' + contentToPrint + '</body></html>');
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();

        document.getElementById("btnExportPDF").style.display = "block";
    }



</script>

