@using App_Data.DbContextt;
@model IEnumerable<App_Data.Models.Voucher>

@{
    BazaizaiContext context = new BazaizaiContext();
}
<table id="data-table" class="table" style="text-align:center">

    <thead>
        <tr>
            <th>
                Mã Voucher
            </th>
            <th>
                Tên
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Ngày khởi tạo
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                QR
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                <input type="checkbox" id="select-all-checkbox" class="checkbox_css" />
            </th>

            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaVoucher
                </td>
                <td>
                    @item.TenVoucher
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        int mucUuDai = int.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString() + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        @string.Format("{0:N0}đ", item.MucUuDai)
                    }
                </td>
                <td>
                    @string.Format("{0:N0}đ", item.DieuKien)
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 0)
                    {
                        <span>Giảm giá theo tiền mặt</span>
                    }
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        <span>Giảm giá %</span>
                    }
                    @if (item.LoaiHinhUuDai == 2)
                    {
                        <span>Miễn phí vận chuyển</span>
                    }
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @item.NgayTao
                </td>
                <td>
                    @item.NgayBatDau
                </td>
                <td>
                    @item.NgayKetThuc
                </td>
                <td>
                    QR
                </td>
                <td>
                    @if (item.TrangThai == 0)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if (item.TrangThai == 2)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else if (item.TrangThai == 3)
                    {
                        <span>Đã huỷ</span>
                    }
                </td>
                <td>
                    <input type="checkbox" class="voucher-checkbox" data-value="@item.IdVoucher" />
                </td>

                <td>

                    <a asp-action="GiveVouchersToUsers" asp-route-maVoucher="@item.MaVoucher"><i class="anticon anticon-gift"></i></a>


                    <a asp-action="Edit" asp-route-id="@item.IdVoucher"><i class="anticon anticon-edit"></i></a>
                    @*   <a asp-action="Details" asp-route-id="@item.IdVoucher"><i class="anticon anticon-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdVoucher"><i class="anticon anticon-delete"></i></a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable()
        $('#select-all-checkbox').click(function () {
            $('.voucher-checkbox').prop('checked', $(this).prop('checked'));
        });


        $('#delete-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            huyHoatDongVoucher(selectedIds);
        });
        $('#restore-button').on('click', function () {
            // Lấy danh sách id voucher đã chọn
            var selectedIds = [];

            $('.voucher-checkbox:checked').each(function () {
                selectedIds.push($(this).data('value'));
            });
            // Gọi hàm để huỷ hoạt động voucher
            KhoiPhucVoucher(selectedIds);
        });

    });
</script>