@using App_Data.DbContextt;
@using App_Data.Models;
@using App_Data.Repositories;
@using Microsoft.AspNetCore.Identity;
@using static App_Data.Repositories.TrangThai;
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager
@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    BazaizaiContext context = new BazaizaiContext();

    var lstUser = await UserManager.GetUsersInRoleAsync(ChucVuMacDinh.KhachHang.ToString());
}
<head>
    <link href="~/css//GiveVouchersToUsers.css" rel="stylesheet" />
    <style>
        .checkbox_css {
            width: 20px;
            height: 20px;
        }

        .user-checkbox {
            width: 20px;
            height: 20px;
        }

        table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
            padding-right: 14px;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: auto;
            display: inline-block;
            height: 40px;
        }
    </style>
</head>
<div class="container mt-5">
    <form id="AddVoucherForUser" asp-action="GiveVouchersToUsers">
        <h4><a asp-action="Index">Danh sách voucher</a></h4>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">

                <h1 id="register">Tặng voucher cho người dùng</h1>
                <div class="all-steps" id="all-steps">
                    <a class="step">Cá nhân</a>
                    <a class="step">Khách hàng mới</a>
                </div>

                <div class="inputVoucher">
                    <h6>Nhập mã voucher cần tặng</h6>
                    <p>
                        <input id="ma-voucher-input" value="@ViewBag.MaVoucher" name="MaVoucher">
                    </p>
                </div>
                <div class="thanks-message text-center" id="text-message">
                    <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Đã add voucher cho người dùng!</h3> <span>Những người dùng nhận được sẽ có thông báo!</span>
                </div>
                <div style="overflow:auto;">
                    <div style="float:right;">
                        <button id="AddVoucherForUser"><i class="anticon anticon-gift"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <table id="data-table" class="table" style="text-align:center;padding-top:50px">

            <thead>
                <tr>
                    <th>
                        Tên người dùng
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        <input type="checkbox" id="select-all-checkbox" class="checkbox_css" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstUser)
                {
                    <tr>
                        <td>
                            @item.TenNguoiDung
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            <input type="checkbox" class="user-checkbox" name="lstNguoiDung" data-value="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </form>
</div>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            $('#text-message').show();
            $('.inputVoucher').hide();
        });

        var dataTable = $('#data-table').DataTable();

        document.getElementById().on('click', function () {
            var selectedUserIds = [];
            var maVoucher = $('#ma-voucher-input').val();
            // const toastHeader = `<div class="toast-header">
            //                                     <i class="anticon anticon-info-circle text-primary m-r-5"></i>
            //                                     <strong class="mr-auto">Thông báo</strong>
            //                                     <small>1 second ago</small>
            //                                     <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
            //                                         <span aria-hidden="true">&times;</span>
            //                                     </button>
            //                                 </div>`;
            // $('.user-checkbox:checked').each(function () {
            //     selectedUserIds.push($(this).data('value'));
            // });

            if (selectedUserIds.length > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GiveVouchersToUsers","Vouchers")',
                    data: { MaVoucher: maVoucher, lstNguoiDung: selectedUserIds },
                    success: function (data) {                    
                        $(#thanks - message text - center).html(data)
                      
                });
            } 
        });

        $('#select-all-checkbox').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('.user-checkbox').prop('checked', isChecked);
        });
    });

</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
}