@using App_Data.DbContextt;
@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    BazaizaiContext context = new BazaizaiContext();
}
<style>
    .checkbox_css {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .voucher-checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .radio_check input[type="radio"] {
        margin-left: 10px;
        cursor: pointer;
    }

    .tabs {
        display: flex;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 600px;
    }

    .tab-item {
        flex: 1;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        color: #333333;
        transition: background-color 0.3s;
    }

        .tab-item.active {
            background-color: #3F87F5;
            color: #fff;
        }

    .d-md-flex {
        display: flex !important;
        margin-bottom: -15px;
    }

</style>

<table id="data-table" class="table" style="text-align:center">

    <thead>
        <tr>
            <th>
                Mã Voucher
            </th>
            <th>
                Tên
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
                QR
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                <input type="checkbox" id="select-all-checkbox" class="checkbox_css" />
            </th>

            <th>
                <i class="anticon anticon-tool"></i>
            </th>
        </tr>

    </thead>


    
    
@*     
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaVoucher
                </td>
                <td>
                    @item.TenVoucher
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        int mucUuDai = int.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString() + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        @string.Format("{0:N0}đ", item.MucUuDai)
                    }
                </td>
                <td>
                    @string.Format("{0:N0}đ", item.DieuKien)
                </td>
                <td>
                    @if (item.LoaiHinhUuDai == 0)
                    {
                        <span>Giảm giá theo tiền mặt</span>
                    }
                    @if (item.LoaiHinhUuDai == 1)
                    {
                        <span>Giảm giá %</span>
                    }
                    @if (item.LoaiHinhUuDai == 2)
                    {
                        <span>Miễn phí vận chuyển</span>
                    }
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @item.NgayBatDau
                </td>
                <td>
                    @item.NgayKetThuc
                </td>
                <td>
                    QR
                </td>
                <td>
                    @if (item.TrangThai == 0)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if (item.TrangThai == 2)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else if (item.TrangThai == 3)
                    {
                        <span>Đã huỷ</span>
                    }
                </td>
                <td>
                    <input type="checkbox" class="voucher-checkbox" data-value="@item.IdVoucher" />
                </td>

                <td>

                    <a asp-action="GiveVouchersToUsers" asp-route-maVoucher="@item.MaVoucher"><i class="anticon anticon-gift"></i></a>


                    <a asp-action="Edit" asp-route-id="@item.IdVoucher"><i class="anticon anticon-edit"></i></a>
                    @*   <a asp-action="Details" asp-route-id="@item.IdVoucher"><i class="anticon anticon-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdVoucher"><i class="anticon anticon-delete"></i></a> *@
    
</table>