@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "ShowVoucherTaiQuayDaIn";
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ShowVoucherTaiQuayDaIn</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="data-table" class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHinhUuDai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucUuDai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DieuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiHinhUuDai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucUuDai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#data-table').DataTable()

    });
</script>