@model IEnumerable<App_Data.Models.DanhGia>
@using App_View.IServices;
@using App_View.Services;
@inject IDanhGiaService _DanhGiaService



@{
    ViewData["Title"] = "GetAllDanhGia";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    _DanhGiaService = new DanhGiaService();
}
<style>
    .tab-pane {
        overflow-y: auto;
        height: 100%;
    }
</style>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản lý đánh giá</a>
            <span class="breadcrumb-item active">Danh sách đánh giá chưa duyệt</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="m-t-25">
            <ul class="nav nav-tabs nav-justified" id="myTabJustified" role="tablist">
                @for (int i = 0; i <= 6; i++)
                {
                    <li class="nav-item">
                        <a class="nav-link @(i == 0 ? "active" : "")" id="tab@(i)-tab-justified" data-toggle="tab" href="#tab@(i)-justified" role="tab" aria-controls="tab@(i)-justified" aria-selected="@(i == 0)"
                           onclick="loadLstDanhGia(@i)">@(i == 6 ? "Có bình luận" : i == 0 ? "Tất cả" : $"{i} sao")</a>
                    </li>
                }
            </ul>
            <div class="tab-content m-t-15" id="myTabContentJustified">

                @for (int i = 0; i <= 6; i++)
                {
                    var lst = await _DanhGiaService.GetLstDanhGiaChuaDuyetByDK(i);
                    <div class="tab-pane fade show @(i == 0 ? "active" : "")" id="tab@(i)-justified" role="tabpanel" aria-labelledby="tab@(i)-tab-justified">
                    @if (lst.Count==0)
                    {
                        <div style="text-align: center;  display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;">
                            <img src="/images/imageedit_danhgia.png" style="width: 200px;" alt="Ảnh đánh giá">
                            <div class="u-s-m-b-15" style="text-align: center;">
                                <h3 class="dash__h1 u-s-m-b-14" style="display: inline-block; margin-top: 10px;">
                                    Không có đánh giá nào
                                </h3>
                            </div>
                        </div>
                    }
                    else
                    {
                      

                            @*<div id="partialContainer@(i)">
                    </div>*@
                            <div class="card">
                                <div class="card-body">
                                    <h5>Tổng số đánh giá: (@lst.Count())</h5>
                                    <div class="m-t-20">
                                        <table class="display" id="">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Đánh giá
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in lst)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.MoTa)
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item p-h-0">
                                                                    <div class="media m-b-15">
                                                                        <div class="avatar avatar-image">
                                                                            <img src="assets/images/avatars/thumb-8.jpg" alt="">
                                                                        </div>
                                                                        <div class="media-body m-l-20">
                                                                            <h6 class="m-b-0">
                                                                                <a href="" class="text-dark">Lillian Stone</a>
                                                                            </h6>
                                                                            <span class="font-size-13 text-gray">28th Jul 2018</span>
                                                                        </div>
                                                                    </div>
                                                                    <span>ess.</span>
                                                                    <div class="star-rating m-t-15">                                        </div>
                                                                </li>

                                                            </ul>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                    }

                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('table.display').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10,30,50,100, -1], [5, 10,30,50,100, 'All']]
        });
    });
    function loadLstDanhGia(tab) {
        $.ajax({
            url: '@Url.Action("LstDangGiaChuaDuyetTab", "DanhGia")',
            type: 'POST',
            data: { tab: tab },
            success: function (result) {
                $('#partialContainer' + tab).html(result);
            }
        });
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Admin/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin/js/pages/datatables.js" defer></script>
}