@model IEnumerable<App_Data.ViewModels.DanhGia.DanhGiaResult>

@{
    ViewData["Title"] = "TongSoDanhGiaCuaMoiSpChuaDuyet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .hidden {
        display: none;
    }
</style>
<h3>Danh sách đánh giá chưa duyệt</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table" > 
    <thead>
        <tr>
            <th>
                Sản phẩm 
            </th>
            <th>
                Số lượng đánh giá chưa duyệt
            </th>
            <th class="hidden">
              Id sản phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="SanPhamChiTiets" asp-action="Details" asp-route-id="@item.IdChiTietSp" style="color:black">
                        @item.SanPham</a>
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongDanhGiaChuaDuyet)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(modelItem => item.IdSanPham)
                </td>
                <td>
                
                    @Html.ActionLink("Chi tiết", "LstChiTietDanhGiaCuaMoiSpChuaDuyet", new {  idSanPham=item.IdSanPham  })
                </td>
            </tr>
        }
    </tbody>
</table>
