@using App_Data.DbContextt;
@using System.Globalization;
@using App_Data.Models;
@using App_View.IServices;
@using App_View.Services;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<App_Data.Models.Voucher>
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BazaizaiContext context = new BazaizaiContext();
    var idNguoiDung = UserManager.GetUserId(User);
}
<style>
    .m-order__list {
        display: flex;
        flex-wrap: wrap; /* Cho phép các cột wrap (được xuống dòng) khi không đủ chỗ */
        margin-right: -40px;
    }

    .m-order__get {
        width: 45%;
        height: 210px; /* Đặt chiều rộng của mỗi cột là 50% để chúng hiển thị trong cùng một cột */
        padding: 10px;
        margin-left: 20px;
        box-sizing: border-box;
    }

    .manage-o__badge {
        transition: background-color 0.3s, color 0.3s; /* Tạo hiệu ứng chuyển màu mượt mà */
    }

        .manage-o__badge:hover {
            background-color: pink; /* Màu nền hồng khi hover */
            color: white; /* Màu văn bản nổi lên trắng khi hover */
        }
</style>
@{
    var httpClient = new HttpClient(); // Tạo đối tượng HttpClient
    var _voucherND = new VoucherNguoiDungServices(httpClient); // Truyền đối tượng HttpClient vào constructor của VoucherNguoiDungServices
}

@functions {
    // Hàm trợ giúp để định dạng số nguyên thành tiền tệ Việt Nam

    // Thay thế 'YourVoucherNguoiDungServices' bằng tên thực của dịch vụ của bạn
    public string FormatCurrency(int? value)
    {
        return string.Format(new CultureInfo("vi-VN"), "{0:C0}", value);
    }
    public string FormatDate(DateTime? value)
    {
        if (value.HasValue)
        {
            string formattedDate = value.Value.ToString("dd.MM.yyyy HH:mm", System.Globalization.CultureInfo.CurrentCulture);
            return formattedDate;
        }
        return string.Empty; // hoặc bạn có thể trả về một giá trị mặc định khác nếu cần
    }
}



<!--====== App Content ======-->
<div class="app-content">
    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 col-md-12">

                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">

                            <div class="dash__pad-2">
                                <div>
                                    <span class="shop-p__meta-text-1" style="color: #FF4500; text-align: center;"><h1 class="blinking-text">Voucher khả dụng</h1></span>
                                </div>

                                <div class="shop-p" style="margin-top:30px">
                                    <div class="shop-p__toolbar u-s-m-b-30">
                                        <div class="shop-p__meta-wrap u-s-m-b-60">
                                            <div class="shop-p__meta-text-2">
                                                <img class="u-img-fluid" src="/images/VoucherIMG/BannerForTienMat.png" width="50%" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop-p__collection">
                                        <div class="row is-grid-active">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="block" id="voucherResult">
                                        <div>
                                            <ul class="nav tab-list">
                                                <li class="nav-item">
                                                    <a class="nav-link btn--e-white-brand-shadow" value="TatCa" href="/Voucher/VoucherToCalm?LoaiHinh=TatCa" name="LoaiHinh" id="e-l-p">Tất cả</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link btn--e-white-brand-shadow" value="TienMat" href="/Voucher/VoucherToCalm?LoaiHinh=TienMat" name="LoaiHinh" id="e-b-s">Tiền mặt</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link btn--e-white-brand-shadow" value="PhanTram" href="/Voucher/VoucherToCalm?LoaiHinh=PhanTram" name="LoaiHinh" id="e-t-r">Phần trăm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link btn--e-white-brand-shadow" value="FreeShip" href="/Voucher/VoucherToCalm?LoaiHinh=FreeShip" name="LoaiHinh" id="e-f-p">Free Ship</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-order__list" id="voucherList">
                                    @foreach (var item in ViewBag.TatCaVoucher)
                                    {
                                        <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text-2 u-c-secondary">@item.TenVoucher</div>
                                                        <div style="color:#FF4500;font-size:16px" class="manage-o__text u-c-silver"> 🕛 @FormatDate(item.NgayKetThuc)</div>
                                                    </div>
                                                    <div>
                                                        @if (item.LoaiHinhUuDai == 0)
                                                        {
                                                            <p>Giảm giá theo tiền mặt</p>
                                                        }
                                                        @if (item.LoaiHinhUuDai == 1)
                                                        {
                                                            <p>Giảm giá %</p>
                                                        }
                                                        @if (item.LoaiHinhUuDai == 2)
                                                        {
                                                            <p>Miễn phí vận chuyển</p>
                                                        }
                                                        <div class="dash__link dash__link--brand">
                                                            @Html.ActionLink("Chi tiết", "VoucherDetails", new {  ma=item.MaVoucher })      
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid" src="/images/VoucherIMG/Logo.png" alt="">
                                                    </div>
                                                    <div class="description-title">
                                                        Mã: <u style="color:red">@item.MaVoucher </u>
                                                        <p>
                                                            Giảm
                                                            @if (item.LoaiHinhUuDai == 1)
                                                            {
                                                                <span> @item.MucUuDai %</span>
                                                            }
                                                            else
                                                            {
                                                                double? mucUuDai = item.MucUuDai;
                                                                @string.Format("{0:N0}đ", item.MucUuDai)
                                                                // Định dạng giá trị theo định dạng tiền Việt Nam
                                                            }
                                                        </p>
                                                        <p width:40px>Đơn tối thiểu: <br> @FormatCurrency(item.DieuKien)</p>
                                                    </div>

                                                </div>
                                                @if (idNguoiDung == null)
                                                {
                                                    <div class="description__info-wrap">
                                                        <div class="body_copy">
                                                            <a class="manage-o__badge badge--delivered notlogin" id="notlogin">Chưa đăng nhập</a>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @if (_voucherND.CheckVoucherInUser(item.MaVoucher,idNguoiDung) == true)
                                                    {
                                                      @*   <form asp-action="SaveVoucher" asp-controller="VoucherNguoiDung" method="post"> *@
                                                            <div class="description__info-wrap">
                                                            <a id="calmVoucher" class="manage-o__badge badge--delivered" style="border:none;">Lưu Voucher</a>
                                                                <input class="input-text input-text--border-radius input-text--style-1"
                                                                   type="text" value="@item.MaVoucher" name="MaVoucher" id="ma-voucher-input" hidden placeholder="Nhập mã voucher">
                                                            </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="description__info-wrap">
                                                            <div class="body_copy">
                                                                <a class="manage-o__badge badge--delivered copyButton">Đã sở hữu 📋</a>
                                                                <textarea class="textToCopy" style="display: none;">@item.MaVoucher</textarea>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="pagination">
                                    <!-- Thanh điều hướng phân trang sẽ được thêm bằng JavaScript -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).on('click', '.copyButton', function () {
        var maVoucher = $(this).closest('.body_copy').find('.textToCopy').val()
        var tempInput = document.createElement("input");
        tempInput.value = maVoucher;
        document.body.appendChild(tempInput);

        // Chọn văn bản trong phần tử input tạm thời
        tempInput.select();
        document.execCommand("copy");

        // Xóa phần tử input tạm thời
        document.body.removeChild(tempInput);

        toast({
            title: "Đã sao chép!",
            message: "Đã sao chép mã vào clipboard: " + maVoucher,
            type: "success",
            duration: 5000
        });
    })
    
    // Sử dụng jQuery
    $(".notlogin").on('click', function () {
        toast({
            title: "Vui lòng đăng nhập!",
            message: "Bạn có thể dùng hoặc lưu mã khi đăng nhập",
            type: "error",
            duration: 5000
        });
    });

    $("#calmVoucher").on('click',function () {
        var maVoucher = document.getElementById('ma-voucher-input').value;
        // Sử dụng $.ajax để gửi yêu cầu AJAX
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveVoucher", "VoucherNguoiDung")",
            data: { MaVoucher: maVoucher }, // Gửi dữ liệu dưới dạng JSON
            // contentType: "application/json; charset=utf-8", // Đặt loại dữ liệu gửi đi
            success: function (result) {
                if (result) {
                    Swal.fire('Thông báo!', 'Nhận voucher thành công (tự reload sau 3s)!', 'success');
                    setTimeout(function () {
                        location.reload();
                    }, 3000);

                } else {
                    Swal.fire({
                        title: 'Thông báo!',
                        text: 'Lỗi khi nhận voucher!!!.',
                        icon: 'error',
                        confirmButtonText: 'Đóng'
                    });
                }
            },
            error: function (error) {
                console.error('Lỗi: ' + error);
            }
        });
    });


</script>
